<div class="row">
<h4>Property Info:</h4><hr width="100%">
	<form class="form-horizontal">	
		  <div class="form-group">
				<label for="propertyfor" class="col-sm-4 control-label pull-left">* Property for</label>
				<div class="col-sm-4">
				  <input type="radio"  name="properyfor" value="Sale" checked="true">Sale
				  <input type="radio"   name="properyfor" value="Rent">Rent
				  <input type="radio"   name="properyfor" value="PG">PG
				</div>
		  </div>
		  <div class="form-group">
				<label for="Featured" class="col-sm-4 control-label">* Featured </label>
				<div class="col-sm-4">
				  <input type="radio"   name="featured" value="Yes" >Yes
				  <input type="radio"   name="featured" value="No" checked="false">No
				 
				</div>
				<div class="col-md-4"></div>
		  </div>
		  <div class="form-group">
				<label for="Category" class="col-sm-4 control-label">* Property Category </label>
				<div class="col-sm-4">
					<select ng-model="proCate">
						<option>Select Category</option>
						<option>Residential Property</option>
						<option>Commercial Property</option>
						<option>Agricultural Land</option>
						<option>Industrial Property</option>
						
					</select>
				 
				</div>
		  </div>
		  <div class="form-group">
				<label for="type" class="col-sm-4 control-label">* Property Type </label>
				<div class="col-sm-4">
					<input type="text" name="proType" ng-model="ProType">
				 
				</div>
		  </div>
		  
		  <div class="form-group">
				<label for="BuiltArea" class="col-sm-4 control-label">* Built Up Area </label>
				<div class="col-sm-4">
					<input type="text" name="builtArea" ng-model="builtArea">
				 
					<select ng-model="areaUnit">
						<option>Unit Area</option>
						<option>Sq. Feet</option>
						<option>Cent</option>
						<option>Sq. Yard</option>
						<option>Acre</option>
						<option>Sq. Meters</option>
						<option>Bigha</option>
						<option>Hectares</option>
						<option>Guntha</option>
						<option>Marla</option>
						
					</select>
				 
				</div>
				<div class="col-md-4"></div>
		  </div>
		  
		  <div class="form-group">
				<label for="PlotArea" class="col-sm-4 control-label">* Plot/ Land Area</label>
				<div class="col-sm-4">
					<input type="text" name="plotArea" ng-model="plotArea">
				 
				
					<select ng-model="areaUnit">
						<option>Unit Area</option>
						<option>Sq. Feet</option>
						<option>Cent</option>
						<option>Sq. Yard</option>
						<option>Acre</option>
						<option>Sq. Meters</option>
						<option>Bigha</option>
						<option>Hectares</option>
						<option>Guntha</option>
						<option>Marla</option>
						
					</select>
				 
				</div>
				<div class="col-md-4"></div>
		  </div>
		  
		  <div class="form-group">
				<label for="CarpetArea" class="col-sm-4 control-label">Carpet Area </label>
				<div class="col-sm-4">
					<input type="text" name="carpetArea" ng-model="carpetArea">
				 
				
					<select ng-model="areaUnit">
						<option>Unit Area</option>
						<option>Sq. Feet</option>
						<option>Cent</option>
						<option>Sq. Yard</option>
						<option>Acre</option>
						<option>Sq. Meters</option>
						<option>Bigha</option>
						<option>Hectares</option>
						<option>Guntha</option>
						<option>Marla</option>
						
					</select>
				 
				</div>
				<div class="col-md-4"></div>
		  </div>
		  
		  <div class="form-group">
				<label for="PropPrice" class="col-sm-4 control-label">Carpet Area </label>
				<div class="col-md-4">
					<input type="text" name="propertyPrice" ng-model="propertyPrice">
				 
				
					<select ng-model="Price">
						<option>In Rupees</option>
						<option>Thousand</option>
						<option>Lac</option>
						<option>Carore</option>
						
						
					</select>
				 
				</div>
				<div class="col-md-4"></div>
		  </div>
		  
		  <div class="form-group">
				<label for="Bedrooms" class="col-sm-4 control-label">Bedrooms </label>
				<div class="col-md-4">
					<select ng-model="Bedrooms">
						<option>Select one</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						
						
					</select>&nbsp No's
				 
				</div>
				
				<div class="col-md-4">
					
				 
				</div>
				
		  </div>
		  <div class="form-group">
				<label for="Bedrooms" class="col-sm-4 control-label">Bathrooms </label>
				<div class="col-sm-4">
					<select ng-model="Bathrooms">
						<option>Select one</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						
						
					</select>&nbsp No's
				 
				</div>
				
				<div class="col-md-4">
					
				 
				</div>
				
		  </div>
		  <div class="form-group">
			  <label for="imageInputFile" class="col-sm-4 control-label" >* Property Images </label>
			<div class="col-md-4">
				
				<input type="file" id="imageInputFile" ng-model="chooseFile">
			</div>
			<div class="col-md-4"></div>
		</div>
			
		  
		  
		  <div class="form-group">
			<div class="col-md-offset-2 col-md-10">
			  <button type="submit" class="btn btn-default">Submit</button>
			</div>
		  </div>
		
			
			 <!-- end property info form
			</form>
<!--  property Location Form
	<form class="form-horizontal">-->	
			<h4>Property Location:</h4><hr width="100%">
	
		  <div class="form-group">
				<label for="country" class="col-sm-4 control-label pull-left">Country</label>
				<div class="col-sm-4">
				  <input type="text" name="Country" ng-model="Country" value="INDIA">
				</div>
			<div class="col-sm-4"></div>
		  </div>
		  <div class="form-group">
				<label for="State" class="col-sm-4 control-label">* State </label>
				<div class="col-sm-4">
				  <select ng-model="State">
						<option selected="true">Select State</option>
						<option>Andaman Nikobar</option>
						<option>Andhra Pradesh</option>
						<option>Arunachal Pradesh</option>
						<option>Aasam</option>
						<option>Bihar</option>
						<option>Chandigarh</option>
						<option>Chattisgarh</option>
						<option>Dadara Nagar Haveli</option>
						<option>Daman & Div</option>
						<option>Delhi</option>
						<option>Gujarat</option>
						<option>Harayana</option>
						<option>Himachal Pradesh</option>
						<option>Jammu Kashmir</option>
						<option>Jarakhand</option>
						<option>Karnataka</option>
						<option>Kerala</option>
						<option>Lakshdwip</option>
						<option>Madya Pradesh</option>
						
						<option>Maharashtra</option>
						<option>Manipur</option>
						<option>Meghalaya</option>
						<option>Mizoram</option>
						<option>Nagaland</option>
						<option>Udisha</option>
						<option>Pondecheeri</option>
						<option>Panjab</option>
						
						<option>Rajastan</option>
						<option>Sikkim</option>
						
						<option>Tamil Nadu</option>
						<option>Tripura</option>
						<option>Uttar Pradesh</option>
						<option>Uttaranchan</option>
						<option>West Bengal</option>
						<option>Goa</option>
						
					</select> 
				</div>
				<div class="col-md-4"></div>
		  </div>
		  
		  <div class="form-group">
				<label for="City" class="col-sm-4 control-label">* City</label>
				<div class="col-sm-4">
					<input type="text" name="Country" ng-model="City" >
				 
				</div>
				<div class="col-md-4"></div>
		  </div>
		  <div class="form-group">
				<label for="address" class="col-sm-4 control-label">* Address  </label>
				<div class="col-sm-8">
					<textarea type="text" name="address" ng-model="address" col="8" rows="4"></textarea>
					<p>Number of characters left: <span ng-bind="left()"></span></p>
				 
				</div>
				
		  </div>
		  
		  <div class="form-group">
				<label for="Area" class="col-sm-4 control-label">*  Area/Location </label>
				<div class="col-sm-8">
					<input type="text" name="Area" ng-model="Area" >
				 
				</div>
				
		  </div>
		  
		<!--</form>  property Location-->
		
		<!--  Discription Title
	<form class="form-horizontal">-->	
			<h4>Discription Title:</h4><hr width="100%">
			<div class="form-group">
				<label for="propTitle" class="col-sm-4 control-label">* Property Title </label>
				<div class="col-sm-8">
					<textarea type="text" name="propTitle" ng-model="propTitle" col="8" rows="4"></textarea>
					<p>Number of characters left:255 <span ng-bind="left()"></span></p>
				 
				</div>
				
			</div>
			
			<div class="form-group">
				<label for="browserTitle" class="col-sm-4 control-label">* Browser Title( Display in your website )</label>
				<div class="col-sm-8">
					<textarea type="text" name="browserTitle" ng-model="browserTitle" col="8" rows="4"></textarea>
					<p>Number of characters left:255 <span ng-bind="left()"></span></p>
				 
				</div>
				
			</div>
			<div class="form-group">
				<label for="metaDis" class="col-sm-4 control-label">* Meta Discription </label>
				<div class="col-sm-8">
					<textarea type="text" name="metaDis" ng-model="metaDis" col="8" rows="4" ></textarea>
					<p>Number of characters left:2000 <span ng-bind="left()"></span></p>
				 
				</div>
				
			</div>
			<div class="form-group">
				<label for="metaKey" class="col-sm-4 control-label">* Meta Keywords </label>
				<div class="col-sm-8">
					<textarea type="text" name="metaKey" ng-model="metaKey" col="8" rows="4"></textarea>
					<p>Number of characters left:2000 <span ng-bind="left()"></span></p>
				 
				</div>
				
			</div>
			<div class="form-group">
				<label for="projName" class="col-sm-4 control-label">* Project Name </label>
				<div class="col-sm-4">
				  <select ng-model="projName">
						<option selected="true">other</option>
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<label for="propDis" class="col-sm-4 control-label">* Property Discription  </label>
				<div class="col-sm-8">
					<textarea type="text" name="propDis" ng-model="projDis" col="8" rows="5"></textarea>
					<p>Number of characters left:2000 <span ng-bind="left()"></span></p>
				 
				</div>
				
			</div>
		<!--</form> property discription -->
		
		<!--Land  Mark 
		<form class="form-horizontal">-->	
			<h4>Land Mark:</h4><hr width="100%">
				<div class="form-group">
						<label for="Hospitals" class="col-sm-4 control-label">Hospitals </label>
						<div class="col-md-4">
							<input type="text" name="Hospitals" ng-model="Hospitals" >
						 &nbsp kms
						</div>
						<div class="col-md-4">
						</div>
						
				  </div>
				  <div class="form-group">
						<label for="Airport" class="col-sm-4 control-label">  Airport </label>
						<div class="col-md-4">
							<input type="text" name="Airport" ng-model="Airport" >
						 &nbsp kms
						</div>
						<div class="col-md-4">
						</div>
						
				  </div>
				  <div class="form-group">
						<label for="RailwayStation" class="col-sm-4 control-label">  Railway Station</label>
						<div class="col-md-4">
							<input type="text" name="RailwayStation" ng-model="RailwayStation" >
						 &nbsp kms
						</div>
						<div class="col-md-4">
						</div>
						
				  </div>
				  <div class="form-group">
						<label for="School" class="col-sm-4 control-label">  School </label>
						<div class="col-md-4">
							<input type="text" name="School" ng-model="School" >
						 &nbsp kms
						</div>
						<div class="col-md-4">
						</div>
						
				  </div>
				  <div class="form-group">
			<div class="col-md-offset-2 col-md-10">
			  <button type="submit" class="btn btn-default">Submit</button>
			</div>
		  </div><!--land mark-->
		  <!--Amenities-->
		  <div class="col-md-12">
				<table class="table table-bordered">
						
				</table>
		  </div>
		  
		  
		
				  </form>
		
</div>
