<!DOCTYPE >

<html>
<div ng-include="'partials/innernav.html'"></div>
<div class="row">
    <form class="form-horizontal" role="form">		      
			<h2>Project Info</h2>
				<div class="form-group">
				    <label  for="tile" class="col-md-3">Project Title</label>
					    <div class="col-md-9">
                            <input type="text" class="form-control" id="title" placeholder="Enter Project title">
                        </div>
					</div>
                     <div class="form-group">
					    <label for="btitle" class="col-md-3">Browser Title</label>				
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="btitle" placeholder="Enter Browser Title">
                        </div>							
                     </div>
                     <div class="form-group">
					    <label for="metakey" class="col-md-3">Meta Keywords</label> 
						   <div class="col-md-9"> 
                              <textarea class="form-control" rows="3"> </textarea>
						   </div>							
                      </div>
	                  <div class="form-group"> 
					        <label for="metakey" class="col-md-3">Meta Discription</label> 
							   <div class="col-md-9">
                                   <textarea class="form-control" rows="3"></textarea>
                               </div>
                      </div>
			
	              	<div class="form-group"> 
					    <label for="radiobtn" class="col-md-3">Featured</label> 
                            <div class="col-md-3">
                                <input type="radio" name="rbtn" id="yes" checked>Yes
								<input type="radio" name="rbtn" id="no">No
                            </div>	
                    </div>
						
					<div class="form-group">
					    <label for="category" class="col-md-3">Category</label>
					        <div class="col-md-9">
								<select name="category">
									   <option>Select Category</option>
										<option value="residential">Residential Property</option>
										<option value="commercial">Commercial Property</option>
										<option value="agricultural">Agricultural Land</option>
										<option value="industrial">Industrial Property</option>
								</select> 
                            </div>
					</div>	
					<div class="form-group">
						<label for="ptype" class="col-md-3">Project Type</label>
						    <div class="col-md-9">
                              <input type="text" class="form-control" id="ptype">
                           </div>							
                     </div>
					 <div class="form-group">
					    <label for="location" class="col-md-3">Location</label>
						<div class="col-md-9">
                              <input type="text" class="form-control" id="location">
                        </div>							
                     </div>
					 <div class="form-group">
                        <label for="location" class="col-md-3">Overview</label>
						  <div class="col-md-9">
                            <table>
						
                               
                            </table>							
                        </div>							
                     </div>
					 <div class="form-group">
                        <label for="pimg" class="col-md-3">Project Image</label>
                            <div class="col-md-6">
                              <input type="text" class="form-control" id="pimg">
                            </div>
                          <button> Browse</button>		
                     </div>
					<div class="form-group">
                        <label for="plogo" class="col-md-3">Project Logo</label>
					</div>	
					<div class="form-group">
                        <label for="features" class="col-md-3">Amenities/Features</label>
					</div>	
					<div class="form-group">
                        <label for="spcification" class="col-md-3">Spcifications</label>
					</div>	
					<div class="form-group">
                        <label for="plogo" class="col-md-3">Project Logo</label>
					</div>	
					<div class="form-group">
                        <label for="lmap" class="col-md-3">Location Map</label>
					</div>	
					<div class="form-group">
                        <label for="layout" class="col-md-3">Layout Map</label>
					</div>
					<div class="form-group">
                        <label for="bplan" class="col-md-3">Browser Title Floor Plan</label>
					</div>	
					<div class="form-group">
                        <label for="fplan" class="col-md-3">Floor Plans</label>
					</div>	
					<div class="form-group">
                        <label for="wthrough" class="col-md-3">Walk Through</label>
					</div>	
					<div class="form-group">
                        <label for="contact" class="col-md-3">Contact</label>
					</div>	
			   </form>
			    <label>Select Sites</label>
				<hr></hr>
			     <div class="col-md-3"></div>
			     <div class="col-md-9">
				      <label><input type="checkbox" name="other_domain[]">Select All</label>
			          <table class="table table-bordered">					    
						    <tr> 
							    <label><input type="checkbox" name="other_domain[]" value="www.jaidevlandmarks.com">www.jaidevlandmarks.com</label>
					         </tr>
					  	  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.hinjewadiproperties.com">www.hinjewadiproperties.com</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.parkstreetwakad.com/">www.parkstreetwakad.com/</label>					 
					      </tr>
						  
						</table>
					</div>	
    </div><!--end row-->   

</html>