<div ng-include=" 'partials/innernav.html' "></div>
<div class="row ">
	<h4>Property Info:</h4><hr width="100%">
	<form class="form-horizontal " name="myForm" novalidate>	
		  <div class="form-group">
				<label for="propertyfor" class="col-md-2  ">* Property for</label>
				<div class="col-md-8">
				  <input type="radio" name="propertyfor" value="Sale" checked="true" ng-model="addproper.propertyfor">Sale
				  <input type="radio" name="propertyfor" value="Rent" ng-model="addproper.propertyfor">Rent
				  <input type="radio" name="propertyfor" value="PG" ng-model="addproper.propertyfor">PG
				</div>
		  </div>
		  <div class="form-group">
				<label for="Featured" class="col-md-2 ">* Featured </label>
				<div class="col-md-4">
				  <input type="radio" name="featured" value="Yes" ng-model="addproper.featured">Yes
				  <input type="radio" name="featured" value="No" checked="false" ng-model="addproper.featured">No
				 
				</div>
				
		  </div>
		  <div class="form-group">
				<label for="Category" class="col-md-2 ">* Property Category </label>
				<div class="col-md-6">
					<select ng-model="addproper.proCate" class="form-control" required>
						<option>Select Category</option>
						<option>Residential Property</option>
						<option>Commercial Property</option>
						<option>Agricultural Land</option>
						<option>Industrial Property</option>
						
					</select>
					<span style="color:red" ng-show="myForm.proCate.$dirty && myForm.proCate.$invalid">
					  <span ng-show="myForm.proCate.$error.required">Property selection is required .</span>
					</span>
				 
				</div>
		  </div>
		  <div class="form-group">
				<label for="type" class="col-md-2  ">* Property Type </label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="proType" ng-model="addproper.ProType" required>
					<span style="color:red" ng-show="myForm.proType.$dirty && myForm.proType.$invalid">
					  <span ng-show="myForm.proType.$error.required">Property type  is required .</span>
					</span>
				</div>
		  </div>
		  
		  <div class="form-group">
				<label for="BuiltArea" class="col-md-2 ">* Built Up Area </label>
				<div class="col-md-6">
					<input type="text" class="form-control" name="builtArea" ng-model="addproper.builtArea" required>
				</div>
				 <div class="col-md-2">
					<select class="form-control" ng-model="addproper.bunit" required>
						<option>Unit Area</option>
						<option>Sq. Feet</option>
						<option>Cent</option>
						<option>Sq. Yard</option>
						<option>Acre</option>
						<option>Sq. Meters</option>
						<option>Bigha</option>
						<option>Hectares</option>
						<option>Guntha</option>
						<option>Marla</option>
						
					</select>
					<span style="color:red" ng-show="myForm.builtArea.$dirty && myForm.builtArea.$invalid">
					  <span ng-show="myForm.builtArea.$error.required">Built Area is required .</span>
					</span>
				 
				</div>
				
		  </div>
		  
		  <div class="form-group">
				<label for="PlotArea" class="col-md-2 ">* Plot/ Land Area</label>
				<div class="col-md-6">
					<input type="text" class="form-control" name="plotArea" ng-model="addproper.plotArea" required>
				</div>
				<div class="col-md-2">
					<select class="form-control" ng-model="addproper.Unit" required>
						<option>Unit Area</option>
						<option>Sq. Feet</option>
						<option>Cent</option>
						<option>Sq. Yard</option>
						<option>Acre</option>
						<option>Sq. Meters</option>
						<option>Bigha</option>
						<option>Hectares</option>
						<option>Guntha</option>
						<option>Marla</option>
						
					</select>
					<span style="color:red" ng-show="myForm.plotArea.$dirty && myForm.areaUnit.$invalid">
					  <span ng-show="myForm.areaUnit.$error.required">Built Area is required .</span>
					</span>
				 
				</div>
				
		  </div>
		  
		  <div class="form-group">
				<label for="CarpetArea" class="col-md-2 ">Carpet Area </label>
				<div class="col-md-6">
					<input type="text" class="form-control" name="carpetArea" ng-model="addproper.carpetArea" required>
				 
				</div>
				<div class="col-md-2">
					<select class="form-control" ng-model="addproper.cunit" required>
						<option>Unit Area</option>
						<option>Sq. Feet</option>
						<option>Cent</option>
						<option>Sq. Yard</option>
						<option>Acre</option>
						<option>Sq. Meters</option>
						<option>Bigha</option>
						<option>Hectares</option>
						<option>Guntha</option>
						<option>Marla</option>
						
					</select>
					<span style="color:red" ng-show="myForm.carpetArea.$dirty && myForm.carpetArea.$invalid">
					  <span ng-show="myForm.carpetArea.$error.required">Carpet Area is required .</span>
					</span>
				 
				</div>
				
		  </div>
		  
		  <div class="form-group">
				<label for="PropPrice" class="col-md-2 ">Property Price: </label>
				<div class="col-md-6">
					<input type="text" class="form-control" name="propertyPrice" ng-model="addproper.propertyPrice" required>
				 
				</div>
				<div class="col-md-2">
					<select class="form-control" ng-model="addproper.Price" required>
						<option>In Rupees</option>
						<option>Thousand</option>
						<option>Lac</option>
						<option>Carore</option>
						
						
					</select>
					<span style="color:red" ng-show="myForm.propertyPrice.$dirty && myForm.propertyPrice.$invalid">
					  <span ng-show="myForm.propertyPrice.$error.required">Property Price is required .</span>
					</span>
				 
				</div>
				
		  </div>
		  
		  <div class="form-group">
				<label for="Bedrooms" class="col-md-2 ">Bedrooms </label>
				<div class="col-md-6">
					<select class="form-control" ng-model="addproper.Bedrooms" required>
						<option>Select one</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						
						
					</select>&nbsp No's
				 <span style="color:red" ng-show="myForm.Bedrooms.$dirty && myForm.Bedrooms.$invalid">
					  <span ng-show="myForm.Bedrooms.$error.required">Select Number of Bedrooms  .</span>
					</span>
				</div>
				
				
				
		  </div>
		  <div class="form-group">
				<label for="Bedrooms" class="col-md-2 ">Bathrooms </label>
				<div class="col-sm-6">
					<select class="form-control" ng-model="addproper.Bathrooms" required>
						<option>Select one</option>
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						
						
					</select>&nbsp No's
					 <span style="color:red" ng-show="myForm.Bathrooms.$dirty && myForm.Bathrooms.$invalid">
					  <span ng-show="myForm.Bathrooms.$error.required">Select Number of Bathrooms  .</span>
					</span>
				 
				</div>
				
				
				
		  </div>
		  <div class="form-group">
			  <label for="imageInputFile" class="col-md-2" >* Property Images </label>
			<div class="col-md-6">
				
				<input type="file"  id="imageInputFile" ng-model="addproper.chooseFile">
			</div>
			
		</div>
			
		  
		  
		  
		
			
			 <!-- end property  -->
			
<!--  property Location -->
		
			<h4>Property Location:</h4><hr width="100%">
	
		  <div class="form-group">
				<label for="country" class="col-md-2 ">Country</label>
				<div class="col-md-6">
				  <input type="text" class="form-control" name="Country" ng-model="addproper.Country" value="INDIA">
				</div>
			
		  </div>
		  <div class="form-group">
				<label for="State" class="col-md-2 ">* State </label>
				<div class="col-md-6">
				  <select class="form-control" ng-model="addproper.State" required>
						<option selected="true">Select State</option>
						<option>Andaman Nikobar</option>
						<option>Andhra Pradesh</option>
						<option>Arunachal Pradesh</option>
						<option>Aasam</option>
						<option>Bihar</option>
						<option>Chandigarh</option>
						<option>Chattisgarh</option>
						<option>Dadara Nagar Haveli</option>
						<option>Daman & Div</option>
						<option>Delhi</option>
						<option>Gujarat</option>
						<option>Harayana</option>
						<option>Himachal Pradesh</option>
						<option>Jammu Kashmir</option>
						<option>Jarakhand</option>
						<option>Karnataka</option>
						<option>Kerala</option>
						<option>Lakshdwip</option>
						<option>Madya Pradesh</option>
						
						<option>Maharashtra</option>
						<option>Manipur</option>
						<option>Meghalaya</option>
						<option>Mizoram</option>
						<option>Nagaland</option>
						<option>Udisha</option>
						<option>Pondecheeri</option>
						<option>Panjab</option>
						
						<option>Rajastan</option>
						<option>Sikkim</option>
						
						<option>Tamil Nadu</option>
						<option>Tripura</option>
						<option>Uttar Pradesh</option>
						<option>Uttaranchan</option>
						<option>West Bengal</option>
						<option>Goa</option>
						
					</select> 
					<span style="color:red" ng-show="myForm.State.$dirty && myForm.State.$invalid">
					  <span ng-show="myForm.State.$error.required">State is required .</span>
					</span>
				</div>
				
		  </div>
		  
		  <div class="form-group">
				<label for="City" class="col-md-2 ">* City</label>
				<div class="col-md-6">
					<input type="text" class="form-control" name="Country" ng-model="addproper.City" required>
					<span style="color:red" ng-show="myForm.City.$dirty && myForm.City.$invalid">
					  <span ng-show="myForm.City.$error.required">City is required .</span>
					</span>
				</div>
				
		  </div>
		  <div class="form-group">
				<label for="address" class="col-md-2 ">* Address  </label>
				<div class="col-md-6">
					<textarea type="text" class="form-control" name="address" ng-model="addproper.address" col="8" rows="4"required></textarea>
					<p>Number of characters left: <span ng-bind="left()"></span></p>
					<span style="color:red" ng-show="myForm.address.$dirty && myForm.address.$invalid">
					  <span ng-show="myForm.address.$error.required">Address is required .</span>
					</span>
				 
				</div>
				
		  </div>
		  
		  <div class="form-group">
				<label for="Area" class="col-md-2 ">*  Area/Location </label>
				<div class="col-md-6">
					<input type="text" class="form-control" name="Area" ng-model="addproper.Area" required>
					<span style="color:red" ng-show="myForm.Area.$dirty && myForm.Area.$invalid">
					  <span ng-show="myForm.Area.$error.required">Area is required .</span>
					</span>
				</div>
				
		  </div>
		  
		<!--  property Location-->
		
		<!--  Discription Title-->	
			<h4>Discription Title:</h4><hr width="100%">
			<div class="form-group">
				<label for="propTitle" class="col-md-2 ">* Property Title </label>
				<div class="col-md-6">
					<textarea type="text" class="form-control" name="propTitle" ng-model="addproper.propTitle" col="8" rows="4"></textarea>
					<p>Number of characters left:255 <span ng-bind="left()"></span></p>
				 
				</div>
				
			</div>
			
			<div class="form-group">
				<label for="browserTitle" class="col-md-2">* Browser Title<br><small>( Display in your website )</small></label>
				<div class="col-md-6">
					<textarea type="text" class="form-control" name="browserTitle" ng-model="addproper.browserTitle" col="8" rows="4"></textarea>
					<p>Number of characters left:255 <span ng-bind="left()"></span></p>
				 
				</div>
				
			</div>
			<div class="form-group">
				<label for="metaDis" class="col-md-2">* Meta Discription </label>
				<div class="col-md-6">
					<textarea type="text" class="form-control" name="metaDis" ng-model="addproper.metaDis" col="8" rows="4" ></textarea>
					<p>Number of characters left:2000 <span ng-bind="left()"></span></p>
				 
				</div>
				
			</div>
			<div class="form-group">
				<label for="metaKey" class="col-md-2">* Meta Keywords </label>
				<div class="col-md-6">
					<textarea type="text" class="form-control" name="metaKey" ng-model="addproper.metaKey" col="8" rows="4"></textarea>
					<p>Number of characters left:2000 <span ng-bind="left()"></span></p>
				 
				</div>
				
			</div>
			<div class="form-group">
				<label for="projName" class="col-md-2">* Project Name </label>
				<div class="col-md-6">
				  <select class="form-control" ng-model="addproper.projName">
						<option selected="true">other</option>
					</select>
				</div>
			</div>
			
			<div class="form-group">
				<label for="propDis" class="col-md-2">* Property Discription  </label>
				<div class="col-md-6">
					<textarea type="text" class="form-control" name="propDis" ng-model="addproper.projDis" col="8" rows="5"></textarea>
					<p>Number of characters left:2000 <span ng-bind="left()"></span></p>
				 
				</div>
				
			</div><!-- property discription -->
			
		<!-- property contact details -->
		<h4>Property contact Detail:</h4><hr width="100%">
				<div class="form-group">
						<label for="Name" class="col-md-2 ">* Name:</label>
						<div class="col-md-6">
							<input type="text" class="form-control" name="Name" ng-model="addproper.Name" required>
							<span style="color:red" ng-show="myForm.Name.$dirty && myForm.Name.$invalid">
							  <span ng-show="myForm.Name.$error.required">Name is required .</span>
							</span>
						</div>
						
						
				  </div>
				  <div class="form-group">
						<label for="Contact No:" class="col-md-2"> * Contact No:</label>
						<div class="col-md-6">
							<input type="Number" class="form-control"  name="Contact" ng-model="addproper.Contact" max-length="10" required >
							<span style="color:red" ng-show="myForm.Contact.$dirty && myForm.Contact.$invalid">
							  <span ng-show="myForm.Contact.$error.required">Contact is required .</span>
							</span>
						</div>
						
						
				  </div>
				  <div class="form-group">
						<label for="Email" class="col-md-2 ">* Email ID:</label>
						<div class="col-md-6">
							<input type="email" class="form-control" name="Email" ng-model="addproper.Email" >
							<span style="color:red" ng-show="myForm.Email.$dirty && myForm.Email.$invalid">
							  <span ng-show="myForm.Email.$error.required">Email is required.</span>
							  <span ng-show="myForm.Email.$error.email">Invalid email address.</span>
							  </span>
						</div>
						
						
				  </div>
				  <div class="form-group">
						<label for="Address" class="col-md-2 "> * Address </label>
						<div class="col-md-6">
							<textarea class="form-control" name="Address" ng-model="addproper.Address" >
							</textarea>
							<p>Number of characters left:255 <span ng-bind="left()"></span></p>
						</div>
						
						
				  </div>
				 
		 <!-- property contact details -->
		  
		  <h4>Optional Property Details:</h4><hr width="100%">
				<div class="form-group">
						<label for="Age" class="col-md-2 ">Age</label>
						<div class="col-md-6">
							<select class="form-control" ng-model="addproper.Age">
						<option selected="true">Select One</option>
							</select>
						</div>
						
				</div>
				
				<div class="form-group">
						<label for="Furnished" class="col-md-2 ">Furnished</label>
						<div class="col-md-6">
							<select class="form-control" ng-model="addproper.Furnished">
						<option selected="true">Select One</option>
					</select>
						</div>
				</div>
				<div class="form-group">
						<label for="owner" class="col-md-2 ">Ownership</label>
						<div class="col-md-6">
							<select class="form-control" ng-model="addproper.owner">
						<option selected="true">Select One</option>
					</select>
						</div>
				</div>
				<div class="form-group">
						<label for="TotFloor" class="col-md-2 ">Total Number of Floors</label>
						<div class="col-md-6">
							<select class="form-control" ng-model="addproper.TotFloor">
						<option selected="true">Select One</option>
					</select>
						</div>
				</div>
				<div class="form-group">
						<label for="Facing" class="col-md-2 ">Facing</label>
						<div class="col-md-6">
							<select class="form-control" ng-model="addproper.Facing">
						<option selected="true">Select One</option>
					</select>
						</div>
				</div>
				
		  
		<!--Land  Mark -->	
			<h4>Land Mark:</h4><hr width="100%">
				<div class="form-group">
						<label for="Hospitals" class="col-md-2 ">Hospitals </label>
						<div class="col-md-6">
							<input type="text" class="form-control" name="Hospitals" ng-model="addproper.Hospitals" >
						 &nbsp kms
						</div>
						
						
				  </div>
				  <div class="form-group">
						<label for="Airport" class="col-md-2">  Airport </label>
						<div class="col-md-6">
							<input type="text" class="form-control"  name="Airport" ng-model="addproper.Airport" >
						 &nbsp kms
						</div>
						
						
				  </div>
				  <div class="form-group">
						<label for="RailwayStation" class="col-md-2 ">  Railway Station</label>
						<div class="col-md-6">
							<input type="text" class="form-control" name="RailwayStation" ng-model="addproper.RailwayStation" >
						 &nbsp kms
						</div>
						
						
				  </div>
				  <div class="form-group">
						<label for="School" class="col-md-2 ">  School </label>
						<div class="col-md-6">
							<input type="text" class="form-control" name="School" ng-model="addproper.School" >
						 &nbsp kms
						</div>
						
						
				  </div>
				<!--land mark-->
		  <!--Amenities-->
		  <h4>Amenities:</h4><hr width="100%">
		  <div class="form-group">
		  <div class="col-md-12">
				<table class="table table-bordered table-responsive">
					<tr>
						<td><input type="checkbox" name="power" value="power" ng-model="addproper.power"></td>
						<td>Power Backup</td>
						<td><input type="checkbox" name="water" value="water" ng-model="addproper.water"></td>
						<td>Water Storage</td>
						<td><input type="checkbox" name="lift" value="lift" ng-model="addproper.lift"></td>
						<td>Lift</td>
					</tr>
					<tr>
						<td><input type="checkbox" name="reserve" value="reserve" ng-model="addproper.reserve"></td>
						<td>Reserve Parking</td>
						<td><input type="checkbox" name="security" value="security" ng-model="addproper.security"></td>
						<td>Security</td>
						<td><input type="checkbox" name="maintainance" value="maintainance" ng-model="addproper.maintainance"></td>
						<td>Maintainance Staff</td>
					</tr>	
					<tr>
						<td><input type="checkbox" name="gym" value="gym" ng-model="addproper.gym"></td>
						<td>GYM</td>
						<td><input type="checkbox" name="park" value="park" ng-model="addproper.park"></td>
						<td>Park</td>
						<td><input type="checkbox" name="tarrace" value="maintainance"ng-model="addproper.tarrace"></td>
						<td>Private Tarrace</td>
					</tr>	
					<tr>
						<td><input type="checkbox" name="swimming" value="swimming" ng-model="addproper.swimming"></td>
						<td>Swimming Pool</td>	
						<td><input type="checkbox" name="servent" value="servent" ng-model="addproper.servent"></td>
						<td>Servent Quarters</td>
						<td><input type="checkbox" name="club" value="" ng-model="addproper.club"></td>
						<td>Club House</td>
					</tr>	
					
				</table>
				</div>
		  </div> <!--end Amenities-->
		  
		  <!--Amenities-->
		  <h4>Select Sites:</h4><hr width="100%">
		  <div class="form-group">
			<div class="col-md-12">
				<table class="table table-bordered table-responsive">
					<tr>
					<td><input type="checkbox" name="All" value="All" ng-model="addproper.All">Select All</td>
					</tr>
					<tr>
					<td><input type="checkbox" name="Landmark" value="Landmark" ng-model="addproper.Landmark">www.jaidevlandmark.in</td>
					</tr>
				</table>
			</div>
			</div>
				<div class="form-group">
					<div class="col-md-offset-6 col-md-6">
					  <button type="submit" ng-click="addprop()" class="btn btn-primary text-center " ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||
						myForm.email.$dirty && myForm.email.$invalid">Submit</button>
					</div>
				</div>
		  </form>
		
</div>
