

<div ng-include="'partials/innernav.html'" ></div>
	<div class="row" ng-controller="projectCtrl">
		<form class="form-horizontal" role="form">		      
			<h2>Project Info</h2>
				<div class="form-group">
				    <label  for="title" class="col-md-3">* &nbsp Project Title</label>
					    <div class="col-md-6">
                            
							<textarea class="form-control" id="title" rows="1" name="title" ng-model="project.title"> </textarea>
                        </div>
				</div>
                <div class="form-group">
					<label for="browsertitle" class="col-md-3">* &nbsp Browser Title</label>	   <div class="col-md-6">
							<textarea class="form-control" id="browsertitle" rows="1" name="browsertitle" ng-model="project.browsertitle"></textarea>
						</div>							
                </div>
                <div class="form-group">
					<label for="metakey" class="col-md-3">Meta Keywords</label> 
						<div class="col-md-9"> 
                            <textarea class="form-control" rows="3" name="metakey" ng-model="project.metakey"  id="metakey"> </textarea>
						</div>							
                </div>
	            <div class="form-group"> 
					<label for="metadesc" class="col-md-3">Meta Discription</label> 
						<div class="col-md-9">
                            <textarea class="form-control" id="metadesc" rows="3" name="metadesc" ng-model="project.metadesc"></textarea>
                        </div>
                </div>
			
	            <div class="form-group"> 
					<label for="featured" class="col-md-3">* &nbsp Featured</label> 
                        <div class="col-md-3">
                            <input type="radio" name="featured" id="yes" checked  ng-model="project.featured">Yes
							<input type="radio" name="featured" id="no" ng-model="project.featured">No
                        </div>	
                </div>
						
				<div class="form-group">
					<label for="category" class="col-md-3">* &nbsp Category</label>
					    <div class="col-md-9">
							<select name="category" id="category" ng-model="project.category">
								<option selected="selected">Select Category</option>
								<option value="residential">Residential Property</option>
								<option value="commercial">Commercial Property</option>
								<option value="agricultural">Agricultural Land</option>
								<option value="industrial">Industrial Property</option>
							</select> 
                        </div>
				</div>	
					
				<div class="form-group">
					<label for="type" class="col-md-3"> * &nbsp Project Type</label>
						<div class="col-md-9">
                            <input type="text"  id="type" name="type" ng-model="project.type">
                        </div>							
                </div>
			    <div class="form-group">
					<label for="location" class="col-md-3">* &nbsp Location</label>
						<div class="col-md-9">
                            <input type="text" id="location" name="location" ng-model="project.location">
                        </div>							
                </div>
			    <div class="form-group">
                    <label for="overview" class="col-md-3">* &nbsp Overview</label>
						<div class="col-md-9">
                            <textarea class="form-control" id="overview" rows="3" name="overview" ng-model="project.overview"></textarea>
                        </div>
                            					
                </div>							
                    
			    <div class="form-group">
                    <label for="proj_img" class="col-md-3">* &nbsp Project Image</label>
                        <div class="col-md-6">
							<input type="file" id="proj_img" name="proj_img" ng-model="project.proj_img">
                        </div>		
                </div>
				
				<div class="form-group">
                    <label for="logo" class="col-md-3">* &nbsp Project Logo</label>
						<div class="col-md-9">
                            <textarea class="form-control" rows="3" name="logo"  id="logo" ng-model="project.logo"></textarea>
                        </div>
				</div>	
				
				 <div class="form-group">
                    <label for="project_by" class="col-md-3">* &nbsp Project By</label>
                        <div class="col-md-6">
							<input type="text"  id="project_by" name="project_by" ng-model="project.project_by">
                        </div>	
                </div>
				
				<div class="form-group">
                    <label for="amenities" class="col-md-3">* &nbsp Amenities/Features</label>
						<div class="col-md-9">
                            <textarea class="form-control" rows="3" name="amenities" id="amenities" ng-model="project.amenities"></textarea>
                        </div>
				</div>	
				
				<div class="form-group">
                    <label for="specifications" class="col-md-3">* &nbsp Spcifications</label>
						<div class="col-md-9">
                            <textarea class="form-control" rows="3" name="specifications" id="specifications" ng-model="project.specifications"></textarea>
                        </div>
				</div>	
					
				<div class="form-group">
                    <label for="location_map" class="col-md-3">Location Map</label>
						<div class="col-md-9">
                            <textarea class="form-control" rows="3" name="location_map" id="location_map" ng-model="project.location_map"></textarea>
                        </div>
				</div>	
				
				<div class="form-group">
                    <label for="layout_map" class="col-md-3">Layout Map</label>
						<div class="col-md-9">
                            <textarea class="form-control" rows="3" name="layout_map" id="layout_map" ng-model="project.layout_map"></textarea>
                        </div>
				</div>
				<div class="form-group">
                    <label for="browsertitle_floorplan" class="col-md-3">Browser Title Floor Plan</label>
						<div class="col-md-6">
                            <textarea class="form-control" rows="1" name="browsertitle_floorplan" id="browsertitle_floorplan"ng-model="project.browsertitle_floorplan"></textarea>
                        </div>
				</div>	
				
				<div class="form-group">
                    <label for="floorplans" class="col-md-3">Floor Plans</label>
						<div class="col-md-9">
                            <textarea class="form-control" rows="3" name="floorplans" id="floorplans"  ng-model="project.floorplans"></textarea>
                        </div>
				</div>	
					
				<div class="form-group">
					<label for="walkthrough" class="col-md-3">* &nbsp Walk Through</label>
						<div class="col-md-9">
                            <textarea class="form-control" rows="3" name="walkthrough" id="walkthrough" ng-model="project.walkthrough"></textarea>
                        </div>
				</div>	
				
				<div class="form-group">
                    <label for="contact" class="col-md-3">* &nbsp Contact</label>
						<div class="col-md-9">
                            <textarea class="form-control" rows="3" name="contact" id="contact" ng-model="project.contact"></textarea>
                        </div>
				</div>
					
					
			    <h3>Select Sites</h3>
				<hr width="100%" style="border-color:black;"></hr>
			   
					<div class="col-md-9 pull-right">				    
						<table class="table table-bordered">
							<tr>
								<td> 
									<input type="checkbox" name="selectall" ng-model="project.selectall">Select All
								</td>
							</tr>
							<tr>
								<td>          	 				    
									<input type="checkbox" name="jaidev" value="www.jaidevlandmarks.com" ng-model="project.jaidev">www.jaidevlandmarks.com
								</td>
							</tr>
							<tr>
								<td>
									<input type="checkbox" name="other_domain[]" value="www.hinjewadiproperties.com">www.hinjewadiproperties.com
								</td>
							</tr>
							<tr>
								<td>							
									<input type="checkbox" name="other_domain[]" value="www.parkstreetwakad.com/">www.parkstreetwakad.com/
								</td>
							</tr>	
						</table>
					</div>
				
			    <div class="form-group">
					<div class="col-md-offset-3 col-md-10">
						<button type="submit" ng-click="addproject()" class="btn btn-primary text-center">Submit</button>
					</div>
				</div>							
		</form>	
	</div>	
</div><!--end row-->   
