<!DOCTYPE >

<html>

<div class="row">
    <form class="form-horizontal" role="form">		      
			<h2>Project Info</h2>
				<div class="form-group">
				    <label  for="tile" class="col-md-3">Project Title</label>
					    <div class="col-md-9">
                            <input type="text" class="form-control" id="title" placeholder="Enter Project title">
                        </div>
					</div>
                     <div class="form-group">
					    <label for="btitle" class="col-md-3">Browser Title</label>				
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="btitle" placeholder="Enter Browser Title">
                        </div>							
                     </div>
                     <div class="form-group">
					    <label for="metakey" class="col-md-3">Meta Keywords</label> 
						   <div class="col-md-9"> 
                              <textarea class="form-control" rows="3"> </textarea>
						   </div>							
                      </div>
	                  <div class="form-group"> 
					        <label for="metakey" class="col-md-3">Meta Discription</label> 
							   <div class="col-md-9">
                                   <textarea class="form-control" rows="3"></textarea>
                               </div>
                      </div>
			
	              	<div class="form-group"> 
					    <label for="radiobtn" class="col-md-3">Featured</label> 
                            <div class="col-md-3">
                                <input type="radio" name="rbtn" id="yes" checked>Yes
								<input type="radio" name="rbtn" id="no">No
                            </div>	
                    </div>
						
					<div class="form-group">
					    <label for="category" class="col-md-3">Category</label>
					        <div class="col-md-9">
								<select name="category">
									   <option>Select Category</option>
										<option value="residential">Residential Property</option>
										<option value="commercial">Commercial Property</option>
										<option value="agricultural">Agricultural Land</option>
										<option value="industrial">Industrial Property</option>
								</select> 
                            </div>
					</div>	
					<div class="form-group">
						<label for="ptype" class="col-md-3">Project Type</label>
						    <div class="col-md-9">
                              <input type="text" class="form-control" id="ptype">
                           </div>							
                     </div>
					 <div class="form-group">
					    <label for="location" class="col-md-3">Location</label>
						<div class="col-md-9">
                              <input type="text" class="form-control" id="location">
                        </div>							
                     </div>
					 <div class="form-group">
                        <label for="location" class="col-md-3">Overview</label>
						  <div class="col-md-9">
                            <table>
						
                               
                            </table>							
                        </div>							
                     </div>
					 <div class="form-group">
                        <label for="pimg" class="col-md-3">Project Image</label>
                            <div class="col-md-6">
                              <input type="text" class="form-control" id="pimg">
                            </div>
                          <button> Browse</button>		
                     </div>
					<div class="form-group">
                        <label for="plogo" class="col-md-3">Project Logo</label>
					</div>	
					<div class="form-group">
                        <label for="features" class="col-md-3">Amenities/Features</label>
					</div>	
					<div class="form-group">
                        <label for="spcification" class="col-md-3">Spcifications</label>
					</div>	
					<div class="form-group">
                        <label for="plogo" class="col-md-3">Project Logo</label>
					</div>	
					<div class="form-group">
                        <label for="lmap" class="col-md-3">Location Map</label>
					</div>	
					<div class="form-group">
                        <label for="layout" class="col-md-3">Layout Map</label>
					</div>
					<div class="form-group">
                        <label for="bplan" class="col-md-3">Browser Title Floor Plan</label>
					</div>	
					<div class="form-group">
                        <label for="fplan" class="col-md-3">Floor Plans</label>
					</div>	
					<div class="form-group">
                        <label for="wthrough" class="col-md-3">Walk Through</label>
					</div>	
					<div class="form-group">
                        <label for="contact" class="col-md-3">Contact</label>
					</div>	
			   </form>
			    <label>Select Sites</label>
				<hr></hr>
			     <div class="col-md-3"></div>
			     <div class="col-md-9">
				      <label><input type="checkbox" name="other_domain[]">Select All</label>
			          <table  class="table table-bordered">					    
						    <tr> 
							    <label><input type="checkbox" name="other_domain[]" value="www.jaidevlandmarks.com">www.jaidevlandmarks.com</label>
					         </tr>
					  	  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.hinjewadiproperties.com">www.hinjewadiproperties.com</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.parkstreetwakad.com/">www.parkstreetwakad.com/</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.24kglitterati.com/">www.24kglitterati.com/</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.propertydemand.com">www.propertydemand.com</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.parktitanium.com">www.parktitanium.com</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.sapphireparkwakad.com">www.sapphireparkwakad.com</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.24kglitterati.in">www.24kglitterati.in</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.99solutions.in">www.99solutions.in</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.alomacountyaundh.com">www.alomacountyaundh.com</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.alomacountyaundh.in">www.alomacountyaundh.in</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.hinjewadiproperties.in">www.hinjewadiproperties.in</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.jaidevlandmarks.in">www.jaidevlandmarks.in</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.liferepublichinjewadi.com">www.liferepublichinjewadi.com</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.masterpieceelements.com">www.masterpieceelements.com</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.parkpanoramapune.com">www.parkpanoramapune.com</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.parkpanoramapune.in">www.parkpanoramapune.in</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.parkroyalepune.com">www.parkroyalepune.com</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.parkroyalepune.in">www.parkroyalepune.in</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.parktitanium.in">www.parktitanium.in</label>					 
					      </tr>
						   <tr> 
							 <label><input type="checkbox" name="other_domain[]" value"www.parkturquoisewakad.com">www.parkturquoisewakad.com</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.parkxpress.in">www.parkxpress.in</label>					 
					      </tr>
						   <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.parkxpressbaner.com">www.parkxpressbaner.com</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.pridegrandeur.com">www.pridegrandeur.com</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.pridegrandeur.in">www.pridegrandeur.in</label>					 
					      </tr>
						   <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.prideplatinum.com">www.prideplatinum.com</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.prideplatinum.in">www.prideplatinum.in</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.pridevalencia.com">www.pridevalencia.com</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.pridevalencia.in">www.pridevalencia.in</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.sapphireparkwakad.com">www.sapphireparkwakad.com</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.sapphireparkwakad.in">www.sapphireparkwakad.in</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.thespiresaundh.com">www.thespiresaundh.com</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.thespiresaundh.in">www.thespiresaundh.in</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.wakadparkstreet.com">www.wakadparkstreet.com</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.jaidevproperties.com">www.jaidevproperties.com</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.parkstreetwakad.in">www.parkstreetwakad.in</label>					 
					      </tr>
						  <tr> 
							 <label><input type="checkbox" name="other_domain[]" value="www.parkturquoisewakad.in">www.parkturquoisewakad.in</label>					 
					      </tr>
						</table>
					</div>	
    </div><!--end row-->   

</html>