<h3>Pune 100+ acres plot / Land for Sale / JV Joint Venture in Around Pune Call 9527289192.</h3>
<section class="content">
	<blockquote>
		<p>We have mutiple options of Pune 100+ acres plot / Land for Sale / JV Joint Venture in Around Pune Single Owner Clear title Plot. Few of them is Plan Pass Projects for Sale / JV / JD. Brokerage applicable. Call 9527289192.</p>
	</blockquote>
</section>
<div class="row">
	<div class="col-md-2">Property For</div>
	<div class="col-md-6">Sale</div>
	<div class="col-md-4" rowspan="3"><img src="img1.jpg"></div>
</div>
<div class="row">
	<div class="col-md-2">Property Type</div>
	<div class="col-md-6">Sale</div>
</div>