
<div ng-include="'partials/innernav.html'"></div>
<section id="input" ng-controller="registerCtrl">
		<!--<div class="container">-->
			<div class="row">
				<div class="col-md-12">
				<form class="form-horizontal" role="form" name="myform" method="post">
				<h3>Free Registration / Sign up</h3>
				<hr>
				<p>Please register a free account, before you can start posting your ads. Registration is quick and free! Please note that fields marked * are required.</p>
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" placeholder="Enter Name">{{editpro.full_name}}
    </div>
  </div>
  <div class="form-group">
    <label for="contact" class="col-sm-2 control-label">Address</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="3" placeholder="Address">{{editpro.address}}</textarea>
    </div>
  </div>
   <div class="form-group">
	<label for="country" class="col-sm-2 control-label">Country:</label>
    <div class="col-sm-10">
						<select class="form-control">
							<option>{{editpro.country}}</option>
							
						</select>
    </div>
  </div>
  
   <div class="form-group">
    <label for="phone" class="col-sm-2 control-label">Phone</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="phone" placeholder="Enter Phone">{{editpro.tel}}
    </div>
  </div>
  
   <div class="form-group">
    <label for="text" class="col-sm-2 control-label">Fax</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="fax" placeholder="Enter Fax">{{editpro.fax}}
    </div>
  </div>
  
   <div class="form-group">
    <label for="text" class="col-sm-2 control-label">Website</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="website" placeholder="Enter Website">{{editpro.website}}
    </div>
  </div>
  
		<h4>Login Details</h4>
		<hr>
		<div class="form-group">
    <label for="text" class="col-sm-2 control-label">UserName</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="username" placeholder="Enter UserName">{{editpro.user_name}}
	  </div>
	  <div class="col-sm-2">
	  <button type="submit" class="btn btn-success">Check Availability</button>
    </div>
  </div>
	
 <div class="form-group">
    <label for="password" class="col-sm-2 control-label">Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password" placeholder="Enter Password">{{editpro.pwd}}
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-2 control-label">Retype Password</label>
    <div class="col-sm-10">
      <input type="password" class="form-control" id="password" placeholder="Enter Password">
    </div>
  </div>
   <div class="form-group">
    <label for="rdomain" class="col-sm-2 control-label">Request For Domain</label>
    <div class="col-sm-10">
      <textarea class="form-control" rows="3" placeholder="Request">{{editpro.requested_domains}}</textarea>
    </div>
  </div>
	
	
  
</form>
<center><button type="submit" class="btn btn-success">Register</button><center>