<section id="input" ng-controller="registerCtrl">
	<div class="row">
		<div class="col-md-12" ng-include="'partials/innernav.html'">
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
		<form class="form-horizontal" role="form" name="myForm" novalidate="novalidate">
		<h3>My Account - Settings</h3>
		<hr>
		<p>Here you can make changes to your profile. Please note that you will not be able to change your email which has been already registered.</p>
		
		<div class="form-group">
					<label for="Name" class="col-md-2 control-label">Name/Company </label>
					<div class="col-md-8">
                    <input type="Name" class="form-control" ng-model="editpro.Name" name="Name" placeholder="Enter Name" required>
					<span style="color:red" ng-show="myForm.Name.$dirty && 	myForm.Name.$invalid">
					<span ng-show="myForm.Name.$error.required">Name is required.</span>
					</span>
                    </div>						
		</div>
			
  
		
		<div class="form-group">
							<label for="Address" class="col-md-2 control-label">Address</label>
							<div class="col-md-8">
							<textarea  class="form-control" ng-model="Address" name="Address" placeholder="Enter Address" required>{{editpro.address}}</textarea>
							<span style="color:red" ng-show="myForm.Address.$dirty && 	myForm.Address.$invalid">
							<span ng-show="myForm.Address.$error.required">Address is required.</span>
							</span>
							</div>						
		</div>
			
		<div class="form-group">
			<label for="country" class="col-md-2 control-label">Country:</label>
			<div class="col-md-8">
				<select class="form-control" ng-model="editpro.country">
					
					
				</select>
				<span style="color:red" ng-show="myForm.Country.$dirty && myForm.Country.$invalid">
				<span ng-show="myForm.Country.$error.required">Country is required.</span>
				</span>
			</div>
		</div>
		
	
	
	<div class="form-group">
							<label for="Phone" class="col-md-2 control-label">Phone </label>
						<div class="col-md-8">
                            <input type="Phone" class="form-control" ng-model="editpro.Phone" name="Phone" placeholder="Enter Phone" required>
							<span style="color:red" ng-show="myForm.Phone.$dirty && 	myForm.Phone.$invalid">
							<span ng-show="myForm.Phone.$error.required">Phone is required.</span>
							</span>
                        </div>						
	</div>
			
	
  
	<div class="form-group">
						<label for="Fax " class="col-md-2 control-label">Fax </label>
						<div class="col-md-8">
                            <input type="Fax " class="form-control" ng-model="editpro.Fax " name="Fax " placeholder="Enter Fax " required>
							<span style="color:red" ng-show="myForm.Fax .$dirty && 	myForm.Fax .$invalid">
							<span ng-show="myForm.Fax.$error.required">Fax  is required.</span>
							</span>
                        </div>						
	</div>
			
	<div class="form-group">
						<label for="Website " class="col-md-2 control-label">Website </label>
						<div class="col-md-8">
                            <input type="Website " class="form-control" ng-model="editpro.Website " name="Website " placeholder="Enter Website " required>
							<span style="color:red" ng-show="myForm.Website.$dirty && 	myForm.Website.$invalid">
							<span ng-show="myForm.Website.$error.required">Website  is required.</span>
							</span>
                        </div>						
	</div>	
   <h4>Change Password</h4>
		<hr>
		<p>If you want to change your password, please input your old and new password to make changes.</p>
			<div class="form-group">
						<label for="Password" class="col-md-2 control-label">Old Password </label>
						<div class="col-md-8">
                            <input type="Password" class="form-control" ng-model="editpro.Password " name="Password" placeholder="Old Password " required>
							<span style="color:red" ng-show="myForm.Password.$dirty && 	myForm.Password.$invalid">
							<span ng-show="myForm.Password.$error.required">Password is required.</span>
							</span>
                        </div>						
			</div>
			<div class="form-group">
						<label for="rpassword" class="col-md-2 control-label">New Password </label>
						<div class="col-md-8">
                            <input type="Password" class="form-control" ng-model="editpro.rpassword " name="rpassword" placeholder="New Password " required>
							<span style="color:red" ng-show="myForm.rpassword.$dirty && 	myForm.rpassword.$invalid">
							<span ng-show="myForm.rpassword.$error.required">Password is required.</span>
							</span>
                        </div>						
			</div>
		
			<button type="submit" class="btn btn-success center-block">Update</button>
			<br>
			
			
</form>