<div class="row">
<div class="col-md-2" ng-include="'partials/mainnav.html'">
		
	</div>
				<div class="col-md-10">
				<form class="form-horizontal" role="form" name="myform" method="post">
				<h3>Free Registration / Signup</h3>
				<hr>
				<p>If you have forgot the account password, you can reset password and a new password will be sent to your email address..</p>
          <div class="form-group">
         <label for="email" class="col-sm-2 control-label">Your Email</label>
        <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter Mail">
       </div>
  </div>
  </form>
  <center><button type="submit" class="btn btn-success">Reset</button><center>

    </div>
</div>