
<!--<nav class="navbar navbar-default">
	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
	<!--	<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
			
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
	<!--	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a data-target="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Responses <!--span class="caret"></span></a-->
		<!--			<ul class="dropdown-menu" role="menu">
						<li><a href="#">Property sale/Rent Out</a></li>
						<li><a href="#">Website Queries</a></li>
						<li><a href="#">Projects Enquiry</a></li>				
					</ul>
				</li>
				
				<li class="dropdown">
					<a data-target="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Property<!--span class="caret"></span></a-->
			<!--		<ul class="dropdown-menu" role="menu">
						<li><a href="#">Add Property</a></li>
						<li><a href="#">View Property</a></li>
						<li><a href="#">Add Projects</a></li>
						<li><a href="#">Manage Projects</a></li>
					</ul>
				</li>
				
				<li class="dropdown">
					<a data-target="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My Profile <!--span class="caret"></span></a-->
				<!--	<ul class="dropdown-menu" role="menu">
						<li><a href="#">Edit Profile/Contacts</a></li>
						<li><a href="#">View All Sites</a></li>
						<li><a href="#">Request For New Sites</a></li>
						<li><a href="#">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	<!--</div><!-- /.container-fluid -->
<!--</nav>-->


<ul class="nav nav-pills">

		<li role="presentation" class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" data-target="#" role="button" aria-expanded="false">
			My Responses<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#/response/property/all">Property sale/Rent Out</a></li>
				<li><a href="#/response/web/all">Website Queries</a></li>
				<li><a href="#/response/project/all">Projects Enquiry</a></li>
			</ul>
		</li>
		<li role="presentation" class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" data-target="#" role="button" aria-expanded="false">
			 My Property<span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu">
				<li><a href="#/addproperty">Add Property</a></li>
				<li><a href="#/property">View Property</a></li>
				<li><a href="#/addproject">Add Projects</a></li>
				<li><a href="#/project">Manage Projects</a></li>
			</ul>
		</li>
		<li role="presentation" class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" data-target="#" role="button" aria-expanded="false">
			  My Profile <span class="caret"></span>
			</a>
			<ul class="dropdown-menu" role="menu">
				<!--<li><a href="#/register/edit">Edit Profile/Contacts</a></li>-->
				<li><a href="#/editprofile">Edit Profile/Contacts</a></li>
				<li><a href="#/">View All Sites</a></li>
				<li><a href="#">Request For New Sites</a></li>
				<li><a href="#/login">Logout</a></li>
			</ul>
		</li>
		  
</ul>
