

<div class="row">
	<div class="col-md-2" ng-include="'partials/mainnav.html'">
	</div>
		<div class="col-md-10">
			<form class="form-horizontal" role="form" name="myForm"  novalidate="novalidate">
			<h3>Login Here...</h3>
			<hr>
			
			<div class="form-group">
							<label for="Email" class="col-md-2 control-label">Email</label>
						<div class="col-md-8">
                            <input type="Email" class="form-control" ng-model="Email" name="Email" placeholder="Enter Email" required>
							<span style="color:red" ng-show="myForm.Email.$dirty && 	myForm.Email.$invalid">
							<span ng-show="myForm.Email.$error.required">Email is required.</span>
							<span ng-show="myForm.Email.$error.email">Invalid Email address.</span>
							</span>
                        </div>						
			</div>
			
			
			<div class="form-group">
						<label for="Password" class="col-md-2 control-label">Password </label>
						<div class="col-md-8">
                            <input type="Password" class="form-control" ng-model="Password " name="Password" placeholder="Enter Password " required>
							<span style="color:red" ng-show="myForm.Password.$dirty && 	myForm.Password.$invalid">
							<span ng-show="myForm.Password.$error.required">Password is required.</span>
							</span>
                        </div>						
			</div>
	
			<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
			<div class="checkbox">
			<label>
			<input type="checkbox"> Remember me
			</label>
			</div>
			</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
				<button type="submit" class="btn btn-default">Sign in</button><br>
				<a href="#register">Register here</a> | <a href="#forgot">Forgot Password</a>
				</div>
			
		
			</div>
			</form>
		</div>
</div>







                
   
