<section ng-controller="propertyCtrl">
<h3>Pune School Plot for Sale / Built to Suit in Pune & PCMC Educational Institute Land for Sale / Built to Suit Call 9527289192</h3>
<div class="content">
	<blockquote>
		<p>W We have multiple options of 1 acres to 6 acres to 24 acres to 60 acres to 100+ acres clear title single owner of Pune School Plot for Sale / Built to Suit in Pune & PCMC Educational Institute Land for Sale / Built to Suit. Brokerage applicable. Call 9527289192 / 9881502939 / 9881331689</p>
	</blockquote>
</div>
<div class="row">
	<div class="col-md-10">
		<div class="row">
			<div class="col-md-4">Property For</div>
			<div class="col-md-8">Sale</div>			
		</div>
		<div class="row">
			<div class="col-md-4">Property Type</div>
			<div class="col-md-8">School Plot / Educational Institute Land</div>
		</div>
		<div class="row">
			<div class="col-md-4">Location</div>
			<div class="col-md-8">Pune</div>
		</div>
		<div class="row">
			<div class="col-md-4">Area</div>
			<div class="col-md-8">6 Acre</div>
		</div>
		<div class="row">
			<div class="col-md-4">Price</div>
			<div class="col-md-8">Contact US!</div>
		</div>
	</div>
	<div class="col-md-2">
		<img src="img1.jpg" width="100%">
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-12">
		<h3>Property Built Up Details</h3>
		<table class="table table-bordered table-responsive">
			<thead>
				<th>Furnishing</th>
				<th>Transaction</th>
				<th>Bedrooms</th>
				<th>Bathrooms</th>
				<th>Reserved Parking</th>
			</thead>
			<tbody>
				<tr>
					<td>Semi-Furnished</td>
					<td>New Property</td>
					<td></td>
					<td></td>
					<td>1</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>	
<hr>
<div class="row">
	<div class="col-md-12">
		<h3>Amenities</h3>
		<ul><li>Power Backup</li>
			<li>Water Storage</li>
			<li>Reserve Parking</li>
			<li>Security</li>
			<li>Servant Quarters</li>
		</ul>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-12">
		<h3>Property Address</h3>
		<p>Pune</p>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-12">
		<h3>Property Seller Detail</h3>
		<table class="table table-bordered table-responsive">
			<tbody>
				<tr>
					<td>Contact Person</td>
					<td>Priya</td>
				</tr>
				<tr>
					<td>Mobile</td>
					<td>9527289192</td>
				</tr>
				<tr>
					<td>Email</td>
					<td>jaidevlandmarks@gmail.com</td>
				</tr>
				<tr>
					<td>Contact Address</td>
					<td>Pune</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
</section>