<section id="input" ng-controller="registerCtrl">
<div class="row">
	<div class="col-md-2" ng-include="'partials/mainnav.html'"></div>
	<div class="col-md-10">
		<form class="form-horizontal" role="form" name="myForm" novalidate="novalidate" >
			<h3>Free Registration / Sign up</h3>
			<hr>
			<p>Please register a free account, before you can start posting your ads. Registration is quick and free! Please note that fields marked * are required.</p>
			
			<div class="form-group">
							<label for="full_name" class="col-md-2 control-label">Name* </label>
						<div class="col-md-8">
                            <input type="char" class="form-control" id="full_name" ng-model="reg.full_name" name="full_name" placeholder="Enter Name" required>
							<span style="color:red" ng-show="myForm.full_name.$dirty && myForm.full_name.$invalid">
							<span ng-show="myForm.full_name.$error.required">name is required.</span>
							</span>	
                        </div>						
			</div>
			
			<div class="form-group">
							<label for="address" class="col-md-2 control-label">Address*</label>
							<div class="col-md-8">
							<textarea  class="form-control" id="address"ng-model="reg.address" name="address" placeholder="Enter address" required></textarea>
							<span style="color:red" ng-show="myForm.address.$dirty && 	myForm.address.$invalid">
							<span ng-show="myForm.address.$error.required">Address is required.</span>
							</span>
							</div>						
			</div>
	
			<div class="form-group">
				<label for="country" class="col-md-2 control-label" name="country" ng-model="reg.country">Country</label>
				<div class="col-md-8">
						<select class="form-control" name="country" id="country" required>
							<option></option>
							<option>India</option>
							<option>Australia</option>
							<option>China</option>
							<option>America</option>
							<option>Belgium</option>
						</select>
						<span style="color:red" ng-show="myForm.country.$dirty && myForm.country.$invalid">
						<span ng-show="myForm.country.$error.required">Country is required.</span>
						</span>
			
				</div>
			</div>
			
			<div class="form-group">
						<label for="tel" class="col-md-2 control-label">Phone </label>
						<div class="col-md-8">
                            <input type="Number" class="form-control" id="tel"ng-model="reg.tel" name="tel" placeholder="Enter Phone" required>
							<span style="color:red" ng-show="myForm.tel.$dirty && myForm.tel.$invalid">
							<span ng-show="myForm.tel.$error.required">Phone is required.</span>
							<span ng-show="myForm.tel.$error.number">Enter Number.</span>
							</span>
                        </div>						
			</div>
			
			<div class="form-group">
						<label for="fax" class="col-md-2 control-label">Fax </label>
						<div class="col-md-8">
                            <input type="fax " class="form-control" id="fax"ng-model="reg.fax " name="fax " placeholder="Enter Fax " required>
							<span style="color:red" ng-show="myForm.fax .$dirty && 	myForm.fax .$invalid">
							<span ng-show="myForm.fax.$error.required">Fax  is required.</span>
							</span>
                        </div>						
			</div>
			
			<div class="form-group">
						<label for="website" class="col-md-2 control-label">Website </label>
						<div class="col-md-8">
							<!--<input type="url" name="homepage" required>-->
                            <input type="url" class="form-control" id="website"ng-model="reg.website" name="website" placeholder="Enter Website " required>
							<span style="color:red" ng-show="myForm.website.$dirty && 	myForm.website.$invalid">
							<span ng-show="myForm.website.$error.required">Website  is required.</span>
							<span ng-show="myForm.website.$error.url">Invalid Web Site.</span>
							</span>
                        </div>						
			</div>
		
			<h4>Login Details</h4>
			<hr>
			<div class="form-group">
				<label for="user_name" class="col-md-2 control-label">UserName*</label>
						<div class="col-md-6">
                            <input type="UserName " class="form-control" ng-model="reg.user_name" id="user_name" name="user_name" placeholder="Enter UserName " required>
							<span style="color:red" ng-show="myForm.user_name.$dirty && 	myForm.user_name.$invalid">
							<span ng-show="myForm.user_name.$error.required">UserName  is required.</span>
							</span>
                        </div>						
				<div class="col-md-2">
				<button type="submit" class="btn btn-success">Check Availability</button>
				</div>
			</div>

			<div class="form-group">
						<label for="pwd" class="col-md-2 control-label">Password* </label>
						<div class="col-md-8">
                            <input type="Password" class="form-control" id="pwd" ng-model="reg.pwd " name="pwd" placeholder="Enter Password " required>
							<span style="color:red" ng-show="myForm.pwd.$dirty && 	myForm.pwd.$invalid">
							<span ng-show="myForm.pwd.$error.required">Password is required.</span>
							</span>
                        </div>						
			</div>
			
			<div class="form-group">
						<label for="rpwd" class="col-md-2 control-label">Retype Password *</label>
						<div class="col-md-8">
                            <input type="Password" class="form-control" id="rpwd" ng-model="rpwd" name="rpwd" placeholder="Enter Password " required>
							<span style="color:red" ng-show="myForm.rpwd.$dirty && 	myForm.rpwd.$invalid">
							<span ng-show="myForm.rpwd.$error.required">Password is required.</span>
							</span>
                        </div>						
			</div>
			
		<div class="form-group">
			<label for="requested_domain" class="col-md-2 control-label">Request For Domain</label>
			<div class="col-md-8">
			<textarea class="form-control" rows="3" name="requested_domain" id="requested_domain" placeholder="Request" ng-model="reg.requested_domains"></textarea>
			</div>
		</div>
	</form>
	<button type="submit" ng-click="insert()" class="btn btn-success center-block">Register</button>
	<br>
	</div>
	</div>
</section>


