<section id="input">
		<!--<div class="container">-->
			<div class="row">
				<div class="col-md-12">
                <form class="form-horizontal" role="form" id="fc">
				<h2>Free Registration / Signup</h2>
				<hr>
				<p>Please register a free account, before you can start posting your ads. Registration is quick and free! Please note that fields marked * are required.</p>
				<div class="form-group">
				<div class="row">
				<div class="col-md-4">
				<label for="email">Your Name:</label>
                </div>
					<div class="col-md-8">
                <input type="text" class="form-control" id="name" placeholder="Enter Name">
                    </div>
				</div>
				
				</div>
				<div class="row">
				<div class="col-md-4">
				<label for="contact">Contact Address(with ZIP):</label>
                </div>
				<div class="form-group"> 
                           <div class="col-md-12">
                               <textarea class="form-control" rows="3" placeholder="Address"></textarea>
                            </div>
                </div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<label for="contact">Country:</label>
					</div>
					<div class="col-md-8">
						<select class="form-control">
							<option>India</option>
							<option>Australia</option>
							<option>China</option>
							<option>America</option>
							<option>Belgium</option>
						</select>

						<!--<select multiple class="form-control">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
						</select>-->
					</div>
				</div>
				<div class="row">
				<div class="col-md-4">
				<label for="phone">Phone:</label>
                </div>
					<div class="col-md-8">
                <input type="text" class="form-control" id="phone" placeholder="Enter Phone">
                    </div>
				</div>
				<div class="row">
				<div class="col-md-4">
				<label for="fax">Fax:</label>
                </div>
					<div class="col-md-8">
                <input type="text" class="form-control" id="fax" placeholder="Enter Name">
                    </div>
				</div>
				<div class="row">
				<div class="col-md-4">
				<label for="website">Website:</label>
                </div>
					<div class="col-md-8">
                <input type="text" class="form-control" id="website" placeholder="Enter Website">
                    </div>
				</div>
				<h3>Login Details</h3>
				<hr>
				<div class="form-group">
				<div class="row">
				<div class="col-md-4">
				<label for="uname">UserName</label>
                </div>
					<div class="col-md-8">
                <input type="text" class="form-control" id="uname" placeholder="Enter User Name">
                    </div>
				</div>
				</div>
				<div class="form-group">
				<div class="row">
				<div class="col-md-4">
				<label for="password">Password</label>
                </div>
					<div class="col-md-8">
                <input type="password" class="form-control" id="password" placeholder="Enter Password">
                        </div>
				</div>
				</div>
				<div class="form-group">
				<div class="row">
				<div class="col-md-4">
				<label for="password">Retype Password</label>
                </div>
					<div class="col-md-8">
                <input type="password" class="form-control" id="password" placeholder="Enter Password">
                        </div>
				</div>
				</div>
			
				</form>
             	</div>
			
		
			</div>
		
	</section>


