

<section id="input">
    <!--<div class="container">-->
        <div class="row">
	        <div class="col-md-9 center-block">
				
				<form name="myForm" class="form-horizontal" role="form" novalidate="novalidate">
						<h3>Send Enquiry</h3>
						<hr></hr>
					<label  for="fname" class="col-md-3 control-label">First Name</label>	
					<div class="form-group">
							
						<div class="col-md-4">
                            <input type="text" class="form-control" ng-model="fname" name="fname" required>
							<span style="color:red" ng-show="myForm.fname.$dirty && 	myForm.fname.$invalid">
							<span ng-show="myForm.fname.$error.required">First Name is required.</span>
							</span>
                        </div>						
                    </div>
					
					<label  for="lname" class="col-md-3 control-label">Last Name</label>	
					<div class="form-group">
							
						<div class="col-md-4">
                            <input type="text" class="form-control" ng-model="lname" name="lname" required>
							<span style="color:red" ng-show="myForm.lname.$dirty && 	myForm.lname.$invalid">
							<span ng-show="myForm.lname.$error.required">Last Name is required.</span>
							</span>
                        </div>						
                    </div>
					
					
					<label  for="name" class="col-md-3 control-label">Email</label>	
					<div class="form-group">
							
						<div class="col-md-4">
                            <input type="email" class="form-control" ng-model="email" name="email" required>
							<span style="color:red" ng-show="myForm.email.$dirty && 	myForm.email.$invalid">
							<span ng-show="myForm.email.$error.required">Email is required.</span>
							<span ng-show="myForm.email.$error.email">Invalid Email</span>
							</span>
                        </div>						
                    </div>
					
					<label  for="mobile" class="col-md-3 control-label">Mobile</label>	
					<div class="form-group">
							
						<div class="col-md-4">
                            <input type="text" class="form-control" ng-model="mobile" name="mobile" required>
							<span style="color:red" ng-show="myForm.mobile.$dirty && 	myForm.mobile.$invalid">
							<span ng-show="myForm.mobile.$error.required">Mobile Number is required.</span>
							</span>
                        </div>						
                    </div>
					
					<label for="cname" class="col-md-3 control-label">Company Name</label>
					<div class="form-group">
                        	
                        <div class="col-md-4">
							<input type="text" class="form-control" name="cname" ng-model="cname">
							<!--<span style="color:red" ng-show="myForm.cname.$dirty && myForm.cname.$invalid">
							<span ng-show="myForm.cname.$error.required">Education is required.</span>-->
							</span>
						</div>					
					</div>
					
						<label for="address" class="col-md-3 control-label"> Address</label>
					<div class="form-group">			
                        <div class="col-md-4"> 
							<input type="text" class="form-control" name="address" ng-model="address" required> 
							<span style="color:red" ng-show="myForm.address.$dirty && myForm.address.$invalid">
							<span ng-show="myForm.address.$error.required">Address is required.</span>
							</span>								
						</div>
					</div>
						
							
				<label for="msg" class="col-md-3 control-label">Message  </label>
					<div class="form-group">
						
						<div class="col-md-4">
					
							<textarea name="msg" ng-model="msg" col="8" rows="4" class="form-control"></textarea>
							<p>Number of characters left: <span ng-bind="left()"></span></p>
							
						</div>		
					</div>
	                  
			
	              	<div class="form-group" > 
                        <div class="col-md-5 control-label">
							<button type="button" class="btn btn-primary" name="send">Send Enquiry</button>
							
						</div>
	
					</div>
						
				</form>
			</div>
        </div>
	<!--</div>	-->
	</section>
