<div class="row">
	<div class="col-sm-12" >
	<div class="main-content">
		<form class="form-horizontal " name="ComposeMail" ng-submit="ComposeMail.$valid"novalidate>
				<div class="form-group">
					<label for="from" class="col-sm-2 control-label">From</label>
					<div class="col-sm-10">
						<p class="form-control-static">{{compose.from_email}}</p>
					</div>
				</div>
				<div class="form-group">
					<label for="to_email" class="col-sm-2 control-label">To</label>
					<div class="col-sm-8">
						<input type="hidden" ng-model="compose.from_email">
						<input type="hidden" ng-model="compose.date">
						<input type="hidden" ng-model="compose.user_id">
						<input type="email" class="form-control" id="to_email" name="to_email" placeholder="To" ng-model="compose.to_email.to" required>
						<span  ng-show="ComposeMail.to_email.$dirty && ComposeMail.to_email.$invalid">
							<span class="text-danger" ng-show="ComposeMail.to_email.$error.required">Email is required.</span>
							<span class="text-danger" ng-show="ComposeMail.to_email.$error.email">Invalid Email address.</span>
						</span>
					</div>
					<div class="col-sm-2">
						<div class="input-group">
							<button class="btn btn-default" type="button" tooltip="Search Personal Address"><span class="glyphicon glyphicon-search"></span>
							</button>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label for="cc" class="col-sm-2 control-label">Cc</label>
					<div class="col-sm-10">
						<input type="email" class="form-control" id="cc" name="cc" placeholder="Cc" ng-model="compose.to_email.cc">
						<span class="help-block" ng-show="ComposeMail.cc.$dirty && ComposeMail.cc.$invalid">
							<span class="text-danger" ng-show="ComposeMail.cc.$error.email">Invalid Email address.</span>
						</span>
					</div>
				</div>
				<div class="form-group">
					<label for="subject" class="col-sm-2 control-label">Subject</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" ng-model="compose.subject" required>
						<span class="text-danger" ng-show="ComposeMail.subject.$dirty && ComposeMail.subject.$invalid">
							<span ng-show="ComposeMail.subject.$error.required" class="required">Please Enter subject.</span>
						</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12">
						<textarea id="message" name="message" class="form-control" rows="3" ng-model="compose.message" ng-minlength="2" ng-maxlength="356" ui-tinymce required>
						</textarea>
					</div>
				</div>
				<div class="form-group">	
					<div class="col-sm-offset-2 col-sm-4">
						<!-- This is file input for select images -->
						<input type="file" id="attachImages" ng-file-select ng-multiple="true" accept="image/jpeg,image/png, image/gif" ng-file-change="generateThumb($files)" ng-model="attachImages">
						
						<!-- This will show thumbnails & progress of images -->
						<file-preview url="attachImages" ng-model="compose.attachment"></file-preview>
						
						<!-- This button will show if file/s selected -->
						<button ng-show="attachImages" ng-click="upload(attachImages,path,userinfo)" type="button">Upload</button>
						<input type="hidden" ng-model="compose.attachment">
						
					</div>	
					
				</div>
				<div class="form-group">	
					<div class="col-sm-offset-2 col-sm-4">
						<input type="hidden" name="status" ng-model="compose.status" ng-init="compose.status = 2" value="{{compose.status}}">
					</div>
				</div>
				
				<div class="form-group">	
					<div class="col-sm-offset-2 col-sm-4">
						<button class="btn btn-primary" id="send" ng-click="composemail(compose)" ng-disabled="ComposeMail.$invalid" > Send</button>
						<button class="btn btn-danger" id="cancel" ng-click="reset()"> Cancel</button>
					</div>			
				</div>
			</div>
		</form>
	</div>
	</div>
</div>