
<div class="row">
<div class="col-md-3">
	<p>Message 1 to 10</p>
	<a href="#/dashboard/response" class="glyphicon glyphicon-arrow-left btn btn-default" aria-hidden="true" go-back title="Back"></a>
	<a href="#" class="glyphicon glyphicon-arrow-right btn btn-default" aria-hidden="true" ng-click="newPage()"></a>
</div>

<div class="col-md-9 table-responsive">
	<table class="table table-bordered">
		<tr>
			<td aria-label="goBack"><a class="btn btn-primary" title="Go Back" go-back><span class="glyphicon glyphicon-arrow-left"></span>
			</td>			
			<td>Website Enquiry From -{{resopnse.subject}}</td> 
			<td></td> 				
		</tr>
		<tr>
			<td></td>		
			<td>{{resopnse.first_name + " " + resopnse.last_name}}&nbsp &nbsp <b>Email :</b>&nbsp {{resopnse.email}}</span></td> 				
			<td>{{resopnse.date}}</td>
		</tr>
		<tr>
			<td></td> 
			 <td>
				<p>This is system generated mail</p>
				<label class="control-label">Enquiry For -</label> 
				<span>{{resopnse.}}</span><br>
				<label class="control-label">From -</label> 
				<span>{{resopnse.email}}</span><br>
				<label class="control-label">Full Name -</label> 
				<span>{{resopnse.first_name + " " + resopnse.last_name}}</span><br>
				<label class="control-label">Company -</label>
				<span>{{resopnse.company}}</span><br>
				<label class="control-label">Phone -</label>
				 <span>{{resopnse.phone}}</span><br>
				 <h3>Message -</h3>
				 <span>{{resopnse.message}}</span>
			</td>
			<td></td>
		</tr>
		<tr>
			<td>Reply</td>
			<td>
				<form>
					<div class="form-group">
						<label for="subject" >Subject</label>
						<input type="text" class="form-control" id="subject" placeholder="Thank You for enquiry : Jaidev Landmarks">
					</div>
					<div class="form-group">
						<label for="reply">Replay From</label>
						<input type="text" class="form-control" id="replay" placeholder="e.g  propertydemand@gmail.com">
					</div>
					<div class="form-group">
						<label for="reply">Replay Message</label> 
						<textarea class="form-control" rows="3"></textarea>
					</div> 
					<div class="form-group">
					<p><b>Remaining Chars:</b>2000</p>
						<div class="text-center col-sm-10">						        
							<button type="submit" class="btn btn-primary" title="Send replay">Send Reply</button>
						</div>
					</div>
				</form>					  
			</td>
			<td></td>
		</tr>
	</table>
</div>






<!--
<div class="row"> 
	<div class="col-md-12 main-content">
		<div class="row border-bottom">
			<div class="col-md-9">
				<div class="table-responsive">
					<table>
						<thead>
							<th colspan="4">Interviews for Freshers in Syntel</th>
						</thead>
						<tbody>
							<tr>
								<td rowspan="5"><img src="img/user.jpg"/></td>
								<td>From :</td>
								<td>Syntel</td>
							</tr>
							<tr>
								<td>To :</td>
								<td><a>aarti@wtouch.in</a></td>
							</tr>
							<tr>
								<td>Reply-To :</td>
								<td><a>www.syntelinc.com</a></td>
							</tr>
							<tr>
								<td>Date :</td>
								<td>wed 05.00</td>
							</tr>
							<tr>
								<td>Priority :</td>
								<td>Normal</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="col-md-3">
				<p>Message 1 to 10</p>
				<a href="#/dashboard/enquiry" class="glyphicon glyphicon-arrow-left btn btn-default" aria-hidden="true" go-back title="Back"></a>
				<a href="#" class="glyphicon glyphicon-arrow-right btn btn-default" aria-hidden="true" ng-click="newPage()"></a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3>Job Interview for freshers</h3> 
			</div>
		</div>		
	</div>
</div>-->