
<div class="table-responsive">
	<table class="table table-striped table-bordered table-hover">
		<thead>
			<tr>
				<th>Remove</th>
				<th>Sr.No.</th>
				<th>Subject</th>
				<th>Date</th>
				<th>Reply Status</th>
			</tr>
		</thead>
		<tbody>			
			<tr ng-repeat="m in mailList | filter: { status : hideDeleted}">
				<td> 
					<button class="btn btn-default glyphicon glyphicon-trash" ng-if="(m.status==1)" ng-click="deletestatus(m.id,m.status, $index)"></button>
				</td>
				<td >{{((mailListCurrentPage - 1) * pageItems) + $index + 1 }}</td>
				<td>
					<span  ng-if="(m.read_status==1)" ng-model="m.read_status" >
						<a href="#/dashboard/response/mailview/{{m.id}}"ng-if="m.read_status==1">{{m.subject}}</a>
					</span>
					<span  ng-if="(m.read_status==0)" ng-model="m.read_status" ng-click="changestatus(m.id,m.read_status, $index)">
						<a href="#/dashboard/response/mailview/{{m.id}}" ng-if="m.read_status==0"><b>{{m.subject}}</b></a>
					</span>
				</td>
				<td>{{m.date}}</td>
				<td>
					<span  ng-if="(m.reply_status==1)" ng-model="m.reply_status" >
						<p> Replied</p>
					</span>
					<span  ng-if="(m.reply_status==0)" ng-model="m.reply_status" >
						<p> Not Replied </p>
					</span>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- pagination for mail list -->
	<div class="text-center">				
		<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="mailListCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged(mailListCurrentPage,statusParam)"></pagination>				
		<pre>Page: {{mailListCurrentPage}} / {{numPages}}</pre>
	</div>		
</div>