<div class="main-content box-border">	 	
	<ng-include src="'modules/component/toolbar.html'"></ng-include>
		<div class="row">
			<div class="col-md-3" ng-include="'modules/response/sidebar.html'"></div>
				<div class="col-md-9">
					<div class="bottomspace" ng-include="'modules/response/toolbars.html'"></div>
					<!-- This is conditional include 
						if not mailId set in url this html includes in view -->
					<ng-include ng-if="!MailView" src="'modules/response/mails.html'"></ng-include> 
					<!-- if mailId set in url this html includes in view -->
					<ng-include ng-if="MailView" src="'modules/response/mailview.html'"></ng-include>
				</div>
		</div>
</div>

<!--








<section id="response">
	<div class="row main-content">
		<div class="col-md-12">
			<div class="row breadcrumb-back">
				<div class="col-md-10" ng-include="'modules/component/breadcrumb.html'"></div>
				<div class="col-md-2" ng-include="'modules/component/menu-back.html'"></div>
			</div>	
			<ul class="nav nav-pills">
				 <li role="presentation" ng-class="getClass('/dashboard/response/web')"><a href="#/dashboard/response/web/new" title="Web response">Web Response</a></li>
				  <li role="presentation"  ng-class="getClass('/dashboard/response/property')"><a href="#/dashboard/response/property/new" title="Property resopnse">Property Response</a></li>
				  <li role="presentation" ng-class="getClass('/dashboard/response/project')"><a href="#/dashboard/response/project/new" title="Project Response">Project Response</a></li>
			</ul>				
			<div class="table-responsive" ng-hide="paramId">
				<ul class="nav nav-tabs">		
						<li role="presentation" ng-class="getClass('/dashboard/response/{{type}}/new')">
						   <a ng-href="#/dashboard/response/{{type}}/new" title="New">New</a>
						</li>
						<li role="presentation" ng-class="getClass('/dashboard/response/{{type}}/read')">
							<a href="#/dashboard/response/{{type}}/read" title="Read">Read</a>
						</li>
						<li role="presentation" ng-class="getClass('/dashboard/response/{{type}}/delete')">
							<a href="#/dashboard/response/{{type}}/delete" title="Delete">Delete</a>
						</li>
				</ul>
				
</section>

	-->