<div class="main-content ">	 	
	<ng-include src="'modules/component/toolbar.html'"></ng-include>
		<div class="row ">
			<div class="col-sm-3 " ng-include="'modules/response/sidebar.html'"></div>
				<div class="col-sm-9">
					<div class="bottom-space" ng-include="'modules/response/toolbars.html'"></div>
					<!-- This is conditional include 
						if not mailId set in url this html includes in view 
					<ng-include ng-if="!MailView" src="'modules/response/mails.html'"></ng-include> 
					<!-- if mailId set in url this html includes in view -->
					<ng-include ng-if="mailPart=='mailview'" src="'modules/response/mailview.html'"></ng-include>
					<ng-include ng-if="mailPart=='mails'" src="'modules/response/mails.html'"></ng-include>
					<ng-include ng-if="mailPart=='inbox'" src="'modules/response/mails.html'"></ng-include>
					<ng-include ng-if="mailPart=='composemailview'" src="'modules/response/composemailview.html'"></ng-include>
					
				</div>
		</div>
</div>










