<div class="main-content ">	 	
	<ng-include src="'modules/component/toolbar.html'"></ng-include>
		<div class="row box-border">
			<div class="col-md-3 " ng-include="'modules/response/sidebar.html'"></div>
				<div class="col-md-9">
					<div class="bottomspace" ng-include="'modules/response/toolbars.html'"></div>
					<!-- This is conditional include 
						if not mailId set in url this html includes in view -->
					<ng-include ng-if="!MailView" src="'modules/response/mails.html'"></ng-include> 
					<!-- if mailId set in url this html includes in view -->
					<ng-include ng-if="MailView" src="'modules/response/mailview.html'"></ng-include>
				</div>
		</div>
</div>










