<div class="content">
<div class="row featured_project">
<h2>Projects</h2>
<hr style="display:block">
</div>

<div class="row featured_project">

	<div class="well col-md-4 col-lg-3 col-sm-6 col-xs-12  ">
		
		<h3 class="page-header">
			<a href="/index.php?view=project&amp;layout=singleproject&amp;id=1&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
				Diamond Park, Park Street Wakad Pune	</a>
		</h3>
			<a href="/index.php?view=project&amp;layout=singleproject&amp;id=1&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
				<img class="img-polaroid img-responsive  img-thumbnail" src="http://manage.goldenlandmarks.net/admin/upload/uploaded-files/Dimond park - park street 3 - 4 BHK bungalows.jpg">
			</a>
				
  <div class="row propdtl">
  <div class="col-md-12">
  
	<table class="table table-hover">
              <tbody><tr>
                <td class="col-md-5"><strong>Location:</strong></td>
                <td class="col-md-7">Wakad</td>
              </tr>
              <tr>
                <td class="col-md-5"><strong>Type:</strong></td>
                <td class="col-md-7">4 &amp; 5 BHK Bungalows / Villa</td>
              </tr>
            </tbody></table>
	</div>
   </div>
    <div class="modal-footer">
    <a href="/index.php?view=project&amp;layout=singleproject&amp;id=1&amp;option=com_realestate&amp;Itemid=537">More Details</a>&nbsp;<strong>›</strong>
    </div>
</div>



<div class="well col-md-4 col-lg-3 col-sm-6 col-xs-12 ">
<h3 class="page-header">
	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=2&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		Sapphire Park, Park Street Wakad Pune	</a>
</h3>
      	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=2&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		<img class="img-polaroid img-responsive  img-thumbnail" src="http://manage.goldenlandmarks.net/admin/upload/uploaded-files/Sapphire Park.jpg">
	</a>
            
   
<div class="row propdtl">
  <div class="col-md-12">
<table class="table table-hover">
              <tbody><tr>
                <td class="col-md-5"><strong>Location:</strong></td>
                <td class="col-md-7"> Wakad</td>
              </tr>
              <tr>
                <td class="col-md-5"><strong>Type:</strong></td>
                <td class="col-md-7">2 &amp; 3 BHK Flat &amp; Penthouse</td>
              </tr>
            </tbody></table>
   </div>
   </div>
    <div class="modal-footer">
    <a href="/index.php?view=project&amp;layout=singleproject&amp;id=2&amp;option=com_realestate&amp;Itemid=537">More Details</a>&nbsp;<strong>›</strong>
    </div>

</div>



<div class="well col-md-4 col-lg-3 col-sm-6 col-xs-12 ">
<h3 class="page-header">
	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=3&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		Emerald Park Wakad - Pune	</a>
</h3>
      	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=3&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		<img class="img-polaroid img-responsive  img-thumbnail" src="http://manage.goldenlandmarks.net/admin/upload/uploaded-files/Emarald Park Wakad.jpg">
	</a>
            
   
<div class="row propdtl">
  <div class="col-md-12">
<table class="table table-hover">
              <tbody><tr>
                <td class="col-md-5"><strong>Location:</strong></td>
                <td class="col-md-7">Wakad</td>
              </tr>
              <tr>
                <td class="col-md-5"><strong>Type:</strong></td>
                <td class="col-md-7">Residential</td>
              </tr>
            </tbody></table>
   </div>
   </div>
    <div class="modal-footer">
    <a href="/index.php?view=project&amp;layout=singleproject&amp;id=3&amp;option=com_realestate&amp;Itemid=537">More Details</a>&nbsp;<strong>›</strong>
    </div>
</div>





<nav class="text-center">
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>


</div>
 

</div>
         