
<div class="row">
	<div class="col-sm-12">
		<div class="main-content">		
			<ng-include src="'modules/component/toolbar.html'"></ng-include>	
			<h3 class="text-center" title="Add new Property">Add New Property</h3>
			<form class="form-horizontal" name="addProperty" novalidate>	
				<tabset>
					<p class="paraMand">* Fields are mandatory</p>								
					<input type="hidden" id="status" name="status" ng-model="property.status" >	
					<input type="hidden" id="verified" name="verified" ng-model="property.verified" >
					<input type="hidden" id="user_id" name="user_id" ng-model="property.user_id" >								
					<input type="hidden" id="status" name="status" ng-model="property.status" >
					{{property | json}}
					<tab heading="Property" title="property">
						<ng-include  src="'modules/property/addproperty/property.html'">
						</ng-include> 
					</tab>
					
					<tab heading="Property Information" title="property information">
						<ng-include  src="'modules/property/addproperty/property_Information.html'">
						</ng-include> 
					</tab>
					
					<tab heading="Structure" title="property Structure">
						<ng-include  src="'modules/property/addproperty/propertyStructure.html'">
						</ng-include> 
					</tab>
					
					<tab heading="Location" title="property Location">
						<ng-include  src="'modules/property/addproperty/propertyLocation.html'">
						</ng-include> 
					</tab>
					
					<tab heading=" Contact Details" title="Property Contact Details">
						<ng-include  src="'modules/property/addproperty/contactDetails.html'">
						</ng-include> 
					</tab>					
					
					<tab heading="Optional Details" title="Optional Property Detailst.html">
						<ng-include  src="'modules/property/addproperty/optionalPropertyDt.html'">
						</ng-include> 
					</tab>
					
					<tab heading="Landmark Details" title="Landmark Details.html">
						<ng-include  src="'modules/property/addproperty/landmarkDetails.html'">
						</ng-include> 
					</tab>
					
					<tab heading="Aminities" title="Aminities.html">
						<ng-include  src="'modules/property/addproperty/amenities.html'">
						</ng-include> 
					</tab>
					
				</tabset>
		
					<div class="form-group">
						<div class="col-sm-12 ">					
							<h3>Select Sites</h3>
							<div class="table-responsive">
								<table class="table table-bordered">
									<tr>
										<td class="checkbox">
											<label>
												<input type="checkbox" ng-model="selectAll" ng-change="checkAll(websites, selectAll)" > Select all
											</label> 
										</td>	<br>
										<td class="checkbox">
											<label ng-repeat="website in websites" class="col-sm-3">
												<input type="checkbox" checklist-model="property.domain" checklist-value="website"> {{website.domain_name}}
											</label> {{property.domain_name | json}}<br>
										</td>
										<td class="checkbox ">
										  <label>
											<input type="checkbox" checklist-value="www.hinjewadiproperties.com" checklist-model="property.other_domain">www.hinjewadiproperties.com
										  </label>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
						
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-9">
							<button type="submit" ng-click="addPropertya(property)" class="btn btn-primary" ng-disabled="addProperty.user.$dirty && addProperty.user.$invalid" title="Add new your property">Add New Property</button>
							
							<button type="submit" ng-click="update()" title="Update your property" class="btn btn-success text-center ">Edit Property</button>
							<button type="reset" ng-click="reset()" title="Cancel" class="btn btn-danger text-center ">Cancel</button>
						</div>
					</div>							
			</form>
		</div>	
	</div>
</div>




