<h3>Property Information:</h3>
	<div class="form-group">
		<div class="col-sm-9">
			<label>Property Title</label>
				<input type="text" name="title"   id="title"  ng-model="property.property_info.title">
				
		<label for="property_for" class="col-sm-2  control-label">* Property for</label>
		
		<div class="col-sm-9"> {{property.property_info.property_for | json}}
			<label class="radio-inline">
				<input type="radio" name="property_for"   id="Sale" value="Sale" checked="true" ng-model="property.property_info.property_for">Sale
			</label>
			<label class="radio-inline">
			  <input type="radio" name="property_for"   id="Rent" value="Rent" ng-model="property.property_info.property_for"> Rent
			</label>
			<label class="radio-inline">
			  <input type="radio" name="property_for"   id="PG" value="PG" ng-model="property.property_info.property_for"> PG
		</div>
	</div>	