<div class="row">
	<div class="col-sm-12">	
		<div class="main-content">
			<ng-include src="'modules/component/toolbar.html'"></ng-include>	
			<div class="row main-border">
				<div class="col-sm-2">
					<img class="user-img" src="img/user.jpg">
					
					<input type="file" id="userImg" name="userImg" ng-file-select accept="image/*" ng-file-change="upload($files)" ng-model="userImg">
					<input type="hidden" ng-model="edit.user_image">					<br>
					<caption>Upload Your Photo here..!</caption>
				</div>
			
				<div class="col-sm-10">
					
					<form name="editProfile" class="form-horizontal " role="form" novalidate="novalidate">	
						<div class="form-group">
						   <div class="col-md-offset-2  col-md-8">
								<h3>Edit Profile</h3>
							</div>
						</div>	

						<div class="form-group">
							<label for="full_name" class="col-md-2 control-label">Name</label>
							<div class="col-md-8">
								<input type="text" class="form-control" id="full_name" ng-model="edit.full_name" name="full_name" placeholder="Enter Name" required>
								<span style="color:red" ng-show="editProfile.full_name.$error.required && (editProfile.full_name.$dirty || submitted)" class="help-block">Name is required.</span>
							</div>						
						</div>
						<div class="form-group">
							<label for="address" class="col-md-2 control-label">Address</label>
							<div class="col-md-8">
								<textarea  class="form-control" id="address" ng-model="edit.address" name="address" placeholder="Enter address" cols="30" rows="3" ng-maxlength="356" ng-required="true" maxlength="356">
								</textarea>
								
							<p ng-hide="editProfile.address.$error.maxlength">{{ 356 - edit.address.length + " Chars left" }}</p>
							 <span style="color:red" ng-show="editProfile.address.$error.maxlength">
								Sorry You are Exceeding the Limit
							</span>	
								<span style="color:red" ng-show="editProfile.address.$dirty && editProfile.address.$invalid">
							  <span ng-show="editProfile.address.$error.required">Address is required .</span>
							</div>
						</div>	
						<div class="form-group">
							<label for="country" class="col-md-2 control-label" name="country" >Country</label>
							<div class="col-md-8">
								<select class="form-control" name="country" id="country"  ng-model="edit.country" required>
									<option value="" selected>Select Country</option>
									<option value="India">India</option>
									<option value="Australia">Australia</option>
									<option value="China">China</option>
									<option value="America">America</option>
									<option value="Belgium">Belgium</option>
								</select>
								<span style="color:red" ng-show="editProfile.country.$error.required && (editProfile.country.$dirty || submitted)" class="help-block">Country is required.</span>
							</div>						
						</div>
						<div class="form-group">
							<label for="tel" class="col-md-2 control-label">Phone </label>
							<div class="col-md-8">
								<input type="text" class="form-control help-block" id="tel" ng-model="edit.tel" name="tel" placeholder="Your Phone number" maxlength="10" ng-pattern="/^\d{0,9}[0-9]$/" required >							
								<p ng-show="editProfile.tel.$error.pattern && (editProfile.tel.$dirty || submitted)" style="color:red" >Enter a valid contact no.</p>
							</div>					
						</div>	
						<div class="form-group">
							<label  for="date" class="col-sm-2 control-label">Date</label>
							<div class="col-md-8">
								<p class="input-group">
								  <input type="text" id="date" class="form-control" datepicker-popup="{{format}}" ng-model="date" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
								  <span class="input-group-btn">
									<button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
								  </span>
								</p>
							</div>
						</div>
						<div class="form-group">
							<label for="website" class="col-md-2 control-label">Website </label>
							<div class="col-md-8">
								<input type="url" class="form-control" id="website" ng-model="reg.website" name="website" placeholder="Enter Website " required>
								<span style="color:red" ng-show="editProfile.website.$dirty && 	editProfile.website.$invalid">
									<span ng-show="editProfile.website.$error.required">Website  is required.</span>
									<span ng-show="editProfile.website.$error.url">Invalid Web Site.</span>
								</span>
							</div>					
						</div>	
							
						<div class="form-group">
							<div class="col-md-offset-2 col-md-9">
								<button type="submit" class="btn btn-success"  title="Edit Profile">Save Profile</button>
								<button type="reset" class="btn btn-danger" title="Cancel" >Cancel</button>
							</div>						
						</div>
					</form>	
				</div>	
				
			</div>
		</div>
</div>
