
<div class="row ">
	<div class="col-sm-12">
		<div class="main-content">			
			<ng-include src="'modules/component/toolbar.html'"></ng-include>
			
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>	
			<div class="row">	
				<div class="col-sm-2" ng-include="'modules/component/mainnav.html'"></div>
				<div class="col-sm-10">
						<form class="form-horizontal border" role="Registration" name="Registration" ng-submit="Registration.$valid" novalidate >
							<div class="form-group">
							   <div class="col-sm-offset-2  col-sm-8">
									<h3>Free Registration / Sign up</h3>
								</div>
							</div>	
							<hr>
							<p>Please register a free account, before you can start posting your ads. Registration is quick and free! Please note that fields marked * are required.</p>						
							<div class="form-group">
								<input type="hidden" ng-model="register.register_date">
								<label for="name" class="col-sm-2 control-label">Name* </label>
								<div class="col-sm-9">
									<input type="text" class="form-control" id="name" ng-model="register.name" name="name" placeholder="Enter Your Name" ng-required="true">	
										<span class="text-danger" ng-show="Registration.name.$error.required && (Registration.name.$dirty || submitted)" class="help-block">Name is required.</span>						
								</div>						
							</div>				
							<div class="form-group">
								<label for="address" class="col-sm-2 control-label">Address*</label>
								<div class="col-sm-9">
									<textarea  class="form-control" id="address" ng-model="register.address" name="address" placeholder="Enter Address" required maxlength="50">
									</textarea>
									<p ng-hide="Registration.address.$error.maxlength">{{ 50 - register.address.length + " Chars left"}}</p>
									<span class="text-danger" ng-show="Registration.address.$dirty && 	Registration.address.$invalid">
									<span class="text-danger" ng-show="Registration.address.$error.maxlength">
									Sorry You are Exceeding the Limit</span>
									<span ng-show="Registration.address.$error.required">Address is required.</span>
									</span>
								</div>						
							</div>		
							<div class="form-group">
								<label for="country" class="col-sm-2 control-label">Country </label>
								<div class="col-sm-3">
									<select class="form-control" name="country" id="country"  ng-required="true" ng-model="register.country">	
									<option value="">Select Country</option>		
										<option value="India" >India</option>
										<option value="Australia" >Australia</option>
										<option value="China" >China</option>
										<option value="America" >America</option>
										<option value="Belgium" >Belgium</option>
									</select>
								</div>
								<label for="state" class="col-sm-2 control-label">State</label>
								<div class="col-sm-3">
									<select class="form-control" name="country" id="country"  ng-required="true" ng-model="register.state">	
										<option value="">Select State</option>		
										<option value="Maharashtra" >Maharashtra</option>
										<option value="Gujarat" >Gujarat</option>
										<option value="Rajastan" >Rajastan</option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label for="phone" class="col-sm-2 control-label">Phone </label>
								<div class="col-sm-9">
									<input type="text" class="form-control help-block" id="phone" ng-model="register.phone" name="phone" placeholder="Your Phone number"  ng-pattern="/(7|8|9)\d{9}$/" maxlength="10"  required >							
									<p ng-show="Registration.phone.$error.pattern && (Registration.phone.$dirty || submitted)" class="text-danger" >Enter a valid contact no.</p>
								</div>						
							</div>	
							<div class="form-group">
								<label for="email" class="col-sm-2 control-label">Email ID</label>
								<div class="col-sm-9">
									<input type="email" class="form-control" id="email" name="email" placeholder="example@gmail.com" ng-model="register.email" required>
									<span  ng-show="Registration.email.$dirty && Registration.email.$invalid">
										<span class="text-danger" ng-show="Registration.email.$error.required">Email is required.</span>
										<span class="text-danger" ng-show="Registration.email.$error.email">Invalid Email address.</span>
									</span>
								</div>
							</div>
							<div class="form-group">
								<label  for="dob" class="col-sm-2 control-label">Birth Date</label>
								<div class="col-sm-9">
									<p class="input-group">
									  <input class="form-control" type="text" datepicker-popup="dd-MMMM-yyyy"  ng-model="register.dob" is-open="opened1" ng-click="open($event,'opened1')" min="minDate" max="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" />
									  <span class="input-group-btn">
										<button type="button" class="btn btn-default" ng-click="open($event,'opened1')"><i class="glyphicon glyphicon-calendar"></i></button>
									  </span>
									</p>
								</div>
					
							</div>
							<div class="form-group">
								<label for="fax" class="col-sm-2 control-label">Fax </label>
								<div class="col-sm-9">
									<input type="fax " class="form-control" id="fax" ng-model="register.fax " name="fax" placeholder="Enter Fax " >
									<span class="text-danger" ng-show="Registration.fax.$dirty && Registration.fax.$invalid">
										<span ng-show="Registration.fax.$error.required">Fax  is required.</span>
									</span>
								</div>						
							</div>				
							<div class="form-group">
								<label for="website" class="col-sm-2 control-label">Website </label>
								<div class="col-sm-9">
									<input type="url" class="form-control" id="website" ng-model="register.website" name="website" placeholder="Enter Website " required>
									<span class="text-danger" ng-show="Registration.website.$dirty && 	Registration.website.$invalid">
										<span ng-show="Registration.website.$error.required">Website  is required.</span>
										<span ng-show="Registration.website.$error.url">Invalid Web Site.</span>
									</span>
								</div>						
							</div>	
							<div class="form-group">	
								<label for="userProfile" class="col-sm-2 control-label"> Profile Picture </label>
								<div class="col-sm-9">
									<!-- This is file input for select images -->
									<input type="file" id="userProfile" ng-file-select  accept="image/jpeg,image/png, image/gif" ng-file-change="generateThumb($files)" ng-model="userProfile">
									
									<!-- This will show thumbnails & progress of images -->
									<file-preview url="userProfile" ng-model="register.user_img"></file-preview>
									
									<!-- This button will show if file/s selected -->
									<button ng-show="userProfile" ng-click="upload(userProfile,path,userinfo)" type="button">Upload</button>
									<input type="hidden" ng-model="register.user_img">
									
								</div>	
							</div>
							<h4 class="col-sm-12">Login Details</h4>
							<hr>
							<div class="form-group">
								<label for="username" class="col-sm-2 control-label">UserName*</label>
								<div class="col-sm-6">
									<input type="text" class="form-control" ng-model="register.username" id="username" name="username" placeholder="Enter User Name " ng-minlength="3" ng-maxlength="8" ng-required="true">
																			
									<span class="text-danger" ng-show="Registration.username.$error.required&& (Registration.username.$dirty || submitted)" class="help-block">User Name is required.</span>
									
								</div>						
								<div class="col-sm-3">
									<button type="submit" class="btn btn-success" title="Check availability" ng-click="checkAvailability(register.username)">Check Availability</button>
								</div>
							</div>
							<div class="form-group">
								<label for="password" class="col-sm-2 control-label">Password* </label>
								<div class="col-sm-9">
									<input type="Password" class="form-control" id="password" ng-model="register.password " name="password" placeholder="Enter Password " ng-required="true">
									<span class="text-danger" ng-show="Registration.password.$dirty && 	Registration.password.$invalid">
									<span ng-show="Registration.password.$error.required">Password is required.</span>
									</span>
								</div>						
							</div>				
							<div class="form-group">
								<label for="confirmPassword" class="col-sm-2 control-label">Retype Password *</label>
								<div class="col-sm-9">
									<input type="Password" id="confirmPassword" class="form-control" name="confirmPassword" ng-model="confirmPassword" placeholder="Confirm Your Password" ng-change="passMatch(register.password, confirmPassword)" required>
									<span class="help-block" ng-show="Registration.confirmPassword.$dirty && !pass || Registration.confirmPassword.$dirty && Registration.confirmPassword.$invalid">
										<span class="text-danger" ng-show="Registration.confirmPassword.$error.required && (Registration.confirmPassword.$dirty )">Your confirm password is required.</span>
										<span class="text-danger" ng-show="!pass">Confirm password doesnot match.</span>
									</span>
								</div>						
							</div>				
							
							<div class="form-group">
								<div class="col-sm-offset-2 col-sm-9">
									<button type="submit" ng-click="registeruser(register)" ng-disabled="Registration.$invalid" class="btn btn-success" title="Register">Register</button>
									<button type="Reset" ng-click="reset()" class="btn btn-danger" title="Reset">Cancel</button>
								</div>
							</div>
					</form>
				 </div>
			</div>	 
		</div>
	</div>
</div>



