
<section id="input">
	<div class="row ">	
		<div class="main-content">
			<div class="breadcrumb-back" ng-include="'modules/component/breadcrumb.html'"></div>			
			<div class="col-md-2" ng-include="'modules/component/mainnav.html'"></div>
			<div class="col-md-10">
			<form class="form-horizontal center-block myForm" role="Registration" name="Registration" novalidate="novalidate" >
				<div class="form-group">
				   <div class="col-md-offset-2  col-md-8">
						<h3>Free Registration / Sign up</h3>
					</div>
				</div>	
				<hr>
				<p>Please register a free account, before you can start posting your ads. Registration is quick and free! Please note that fields marked * are required.</p>						
				<div class="form-group">
					<label for="full_name" class="col-md-2 control-label">Name* </label>
					<div class="col-md-9">
						<input type="text" class="form-control" id="full_name" ng-model="reg.full_name" name="full_name" placeholder="Enter Your Name" ng-required="true">	
							<span style="color:red" ng-show="Registration.full_name.$error.required && (Registration.full_name.$dirty || submitted)" class="help-block">Name is required.</span>						
					</div>						
				</div>				
				<div class="form-group">
					<label for="address" class="col-md-2 control-label">Address*</label>
					<div class="col-md-9">
						<textarea  class="form-control" id="address" ng-model="reg.address" name="address" placeholder="Enter Address" required maxlength="50">
						</textarea>
						<p ng-hide="Registration.reg.address.$error.maxlength">{{ 50 - reg.address.length + " Chars left"}}</p>
						<span style="color:red" ng-show="Registration.address.$dirty && 	Registration.address.$invalid">
						<span style="color:red" ng-show="Registration.address.$error.maxlength">
						Sorry You are Exceeding the Limit</span>
						<span ng-show="Registration.address.$error.required">Address is required.</span>
						</span>
					</div>						
				</div>		
				<div class="form-group">
					<label for="country" class="col-md-2 control-label" name="country" >Select</label>
					<div class="col-md-3">
						<select class="form-control" name="country" id="country"  ng-model="reg.country" ng-required="true">	<option value="">Select Country</option>		
							<option value="India">India</option>
							<option value="Australia">Australia</option>
							<option value="China">China</option>
							<option value="America">America</option>
							<option value="Belgium">Belgium</option>
						</select>
						<span style="color:red" ng-show="Registration.country.$dirty && Registration.country.$invalid">
							<span ng-show="Registration.country.$error.required">Country is required.</span>
						</span>				
					</div>
					<div class="col-md-3">
						<select class="form-control" name="state" id="state"  ng-model="reg.state" ng-required="true">		  <option value="">Select State</option>	
							<option value="Maharastra">Maharastra</option>
							<option value="Goa">Goa</option>
							<option value="Nagpur">Nagpur</option>
							<option value="Panjab">Panjab</option>
							<option value="Gujarat">Gujarat</option>
						</select>
						<span style="color:red" ng-show="Registration.state.$dirty && Registration.state.$invalid">
							<span ng-show="Registration.state.$error.required">State is required.</span>
						</span>				
					</div>
					<div class="col-md-3">
						<select class="form-control" name="city" id="city"  ng-model="reg.city" ng-required="true">		  <option value="">Select City</option>	
							<option value="Ahmednagar">Ahmednagar</option>
							<option value="Pune">Pune</option>
							<option value="Nashik">Nashik</option>
							<option value="Mumbai">Mumbai</option>
							<option value="Aurangabad">Aurangabad</option>
						</select>
						<span style="color:red" ng-show="Registration.city.$dirty && Registration.city.$invalid">
							<span ng-show="Registration.city.$error.required">City is required.</span>
						</span>				
					</div>
				</div>				
				<div class="form-group">
					<label for="tel" class="col-md-2 control-label">Phone </label>
					<div class="col-md-9">
						<input type="text" class="form-control help-block" id="tel" ng-model="reg.tel" name="tel" placeholder="Your Phone number" maxlength="10" ng-pattern="/^\d{0,9}[0-9]$/" required >							
						<p ng-show="Registration.tel.$error.pattern && (Registration.tel.$dirty || submitted)" style="color:red" >Enter a valid contact no.</p>
					</div>						
				</div>				
				<div class="form-group">
					<label for="fax" class="col-md-2 control-label">Fax </label>
					<div class="col-md-9">
						<input type="fax " class="form-control" id="fax" ng-model="reg.fax " name="fax " placeholder="Enter Fax " required>
						<span style="color:red" ng-show="Registration.fax.$dirty && Registration.fax.$invalid">
							<span ng-show="Registration.fax.$error.required">Fax  is required.</span>
						</span>
					</div>						
				</div>				
				<div class="form-group">
					<label for="website" class="col-md-2 control-label">Website </label>
					<div class="col-md-9">
						<input type="url" class="form-control" id="website" ng-model="reg.website" name="website" placeholder="Enter Website " required>
						<span style="color:red" ng-show="Registration.website.$dirty && 	Registration.website.$invalid">
							<span ng-show="Registration.website.$error.required">Website  is required.</span>
							<span ng-show="Registration.website.$error.url">Invalid Web Site.</span>
						</span>
					</div>						
				</div>			
				<h4 class="col-md-12">Login Details</h4>
				<hr>
				<div class="form-group">
					<label for="user_name" class="col-md-2 control-label">UserName*</label>
					<div class="col-md-6">
						<input type="text" class="form-control" ng-model="reg.user_name" id="user_name" name="user_name" placeholder="Enter User Name " ng-minlength="3" ng-maxlength="8" ng-required="true">
																
						<span style="color:red" ng-show="Registration.user_name.$error.required&& (Registration.user_name.$dirty || submitted)" class="help-block">User Name is required.</span>
						
					</div>						
					<div class="col-md-3">
						<button type="submit" class="btn btn-success" title="Check availability">Check Availability</button>
					</div>
				</div>
				<div class="form-group">
					<label for="pwd" class="col-md-2 control-label">Password* </label>
					<div class="col-md-9">
						<input type="Password" class="form-control" id="pwd" ng-model="reg.pwd " name="pwd" placeholder="Enter Password " ng-required="true">
						<span style="color:red" ng-show="Registration.pwd.$dirty && 	Registration.pwd.$invalid">
						<span ng-show="Registration.pwd.$error.required">Password is required.</span>
						</span>
					</div>						
				</div>				
				<div class="form-group">
					<label for="rpwd" class="col-md-2 control-label">Retype Password *</label>
					<div class="col-md-9">
						<input type="Password" class="form-control" id="rpwd" ng-model="reg.rpwd" name="rpwd" placeholder="Enter Password " required>
						<span style="color:red" ng-show="Registration.rpwd.$dirty && 	Registration.rpwd.$invalid">
							<span ng-show="Registration.rpwd.$error.required">Password is required.</span>
						</span>
					</div>						
				</div>				
				<div class="form-group">
					<label for="requested_domains" class="col-md-2 control-label">Request For Domain</label>
					<div class="col-md-9">
						<input type="url" class="form-control" id="requested_domains" ng-model="reg.requested_domains" name="requested_domains" placeholder="Enter Website " required>
						<span style="color:red" ng-show="Registration.requested_domains.$dirty && 	Registration.requested_domains.$invalid">
							<span ng-show="Registration.requested_domains.$error.required">Domain Name  is required.</span>
							<span ng-show="Registration.requested_domains.$error.url">Invalid Domain Name.</span>
						</span>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-offset-2 col-md-9">
						<button type="submit" ng-click="insert()" class="btn btn-success" title="Register">Register</button>
						<button type="Reset" ng-click="reset()" class="btn btn-danger" title="Reset">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	</div>
</section>


