header {
  background-color: rgba(0, 136, 204, 0.55);
}
header #brand {
  height: 90px;
  padding: 5px;
}
header h1 {
  color: #fff;
}
header a {
  margin-top: 10px;
}
header .im1 {
  height: 70px;
  padding: 10px;
}
body {
  overflow: scroll;
}
body .main-content,
body .main-content row ng-scope {
  padding: 10px;
  margin-top: 10px;
}
body .main-content .f1,
body .main-content row ng-scope .f1,
body .main-content myForm,
body .main-content row ng-scope myForm {
  border: 1px solid gray;
  margin-top: 10px;
}
body .main-content .f1 .dropimg,
body .main-content row ng-scope .f1 .dropimg,
body .main-content myForm .dropimg,
body .main-content row ng-scope myForm .dropimg {
  font-size: 15px;
  padding: 5px 5px 5px 5px;
  height: 40px;
  width: 40px;
  margin-bottom: 5px;
}
body .main-content .f1 .borderimg,
body .main-content row ng-scope .f1 .borderimg,
body .main-content myForm .borderimg,
body .main-content row ng-scope myForm .borderimg {
  border: 1px solid #ccc;
}
body .main-content h2,
body .main-content row ng-scope h2 {
  color: #a01ba1;
  padding-bottom: 10px;
  text-align: center;
}
body .main-content form > p,
body .main-content row ng-scope form > p {
  color: cadetblue;
}
body .main-content .form-horizontal .control-label,
body .main-content row ng-scope .form-horizontal .control-label,
body .main-content label,
body .main-content row ng-scope label {
  color: #41547c;
}
body .main-content .myForm,
body .main-content row ng-scope .myForm {
  border: 1px solid #ccc;
  padding: 20px;
}
body .main-content .website-menu,
body .main-content row ng-scope .website-menu {
  padding-bottom: 10px;
}
body .main-content .website-menu .btn-default:hover,
body .main-content row ng-scope .website-menu .btn-default:hover {
  border-color: #AEBCC4;
}
body .main-content .dropdown-toggle ul,
body .main-content row ng-scope .dropdown-toggle ul {
  background-color: #769cd3;
}
body .main-content .sidebar-border,
body .main-content row ng-scope .sidebar-border {
  border: 1px solid #ccc;
}
body .main-content .sidebar-border li,
body .main-content row ng-scope .sidebar-border li {
  padding: 5px;
}
body .main-content .nav .nav-pills .nav-stacked,
body .main-content row ng-scope .nav .nav-pills .nav-stacked {
  border: 1px solid #ccc;
}
body .main-content .req-hr,
body .main-content row ng-scope .req-hr {
  color: red;
}
body .main-content .reqList,
body .main-content row ng-scope .reqList {
  border: 1px solid black;
  padding: 10px;
}
body .main-content .bottomspace,
body .main-content row ng-scope .bottomspace {
  padding-bottom: 10px;
}
body .main-content .main-border,
body .main-content row ng-scope .main-border {
  border: 1px solid #000;
  padding-top: 10px;
}
body .innernav {
  padding: 10px;
}
body thead {
  background-color: rgba(130, 127, 137, 0.38);
}
body tab {
  padding: 20px;
}
body .paraMand {
  color: red;
}
body .ulmenu,
body .dropdown-menu {
  left: auto;
  right: 0;
}
body h3 {
  color: #2368CE;
}
body .dropimg {
  height: 40px;
  width: 40px;
  text-align: center;
  padding: 5px;
}
body .gridblock {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid gray;
  /*border-radius:10px 10px 10px 10px;*/
  box-shadow: 4px 4px 4px #e5dede;
  background-color: #EAEAEA;
}
body .breadcrumb-back {
  background-color: #C3D3E0;
  margin-bottom: 10px;
}
body .breadcrumb-back .breadcrumb {
  background: transparent;
  margin-bottom: 0px;
}
body .user-img {
  border: 1px solid #ccc;
  width: 80px;
}
body .toolbar {
  padding: 5px;
}
body .nav .nav-tabs {
  padding-top: 20px;
}
body .prop-img {
  width: 200px;
}
body .box-border {
  border: 1px solid #000;
  padding-top: 15px;
  padding-bottom: 15px;
}
body .btn1 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
body .btn-link:hover {
  text-decoration: none;
  background-color: #ccc;
}
