<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Real Estate Featured Prop Template</title>
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/style.css" />
	<script src="js/jquery.min.js"></script>
</head>
<body>
<div class="container">
	<div class="row">	
		<div class="col-md-12 content-box"> <!-- this is content box inside content box we can use header, row, content etc. -->
			<h2 id="ribbon-container">
				<a href="#" id="ribbon">Featured Property</a>
			</h2>
			<div class="row featured-prop"> <!-- This is property holder row -->
				<div class="col-md-3 text-center">
					<div class="shadow">
						<a href="#">
							<div class="imgborder1">
								<img src="img/3 4 BHK Flat for sale resale in park titanium park street wakad pride purple group jaidev landmarks 9881502939.jpg" >
							</div>
						</a>
								<span class="proj-title">
									Diamond Park, Park Street Wakad Pune 
									<small><br>4 &amp; 5 BHK Bungalows / Villa
									</small>
								 </span> <br>		
						
						<a class="btn" href="#">Read More</a>
					</div>
				</div>
				<div class="col-md-3 text-center">
					<div class="shadow">
						<a href="#">
							<div class="imgborder1">
								<img src="img/Dimond park - park street 3 - 4 BHK bungalows.jpg">
							</div>
						</a>
								<span class="proj-title">
									Diamond Park, Park Street Wakad Pune 
									<small><br>4 &amp; 5 BHK Bungalows / Villa
									</small>
								</span> <br>
						
						<a class="btn" href="#">Read More</a>
					</div>			
				</div>
				<div class="col-md-3 text-center">
					<div class="shadow">
						<a href="#">
							<div class="imgborder1">
								<img src="img/Emarald Park Wakad.jpg" >
							</div>
						</a>
								<span class="proj-title">
									Diamond Park, Park Street Wakad Pune 
									<small><br>4 &amp; 5 BHK Bungalows / Villa
									</small>
								</span> <br>
						
						<a class="btn" href="#">Read More</a>
					</div>		
				</div>
				<div class="col-md-3 text-center">
					<div class="shadow">
						<a href="#">
							<div class="imgborder1">
								<img src="img/3 4 BHK Flat for sale resale in park titanium park street wakad pride purple group jaidev landmarks 9881502939.jpg" >
							</div>
						</a>
								<span class="proj-title">
									Diamond Park, Park Street Wakad Pune 
									<small><br>4 &amp; 5 BHK Bungalows / Villa
									</small>
								</span> <br>
						<a class="btn" href="#">Read More</a>
					</div>			
				</div>
			</div>
		</div>
		<div class="col-md-12 content-box"> <!-- this is content box inside content box we can use header, row, content etc. -->
			<h2 id="ribbon-container">
				<a href="#" id="ribbon">Services</a>
			</h2>
			<div class="row services"> <!-- This is property holder row -->
				<div class="carousel slide" id="myCarousel">
					<a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
					<a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
					<div class="carousel-inner">
						<div class="item active">
							<div class="col-md-3 text-center">
								<div class="shadow">
									<a href="#">
									<div class="imgborder">
										<img src="img/3 4 BHK Flat for sale resale in park titanium park street wakad pride purple group jaidev landmarks 9881502939.jpg" >
									</div>
									</a>
										<span class="proj-title">
											Diamond Park, Park Street Wakad Pune 
											<small><br>4 &amp; 5 BHK Bungalows / Villa
											</small>
										 </span> <br>
										<a class="btn" href="#">Read More</a>
									
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col-md-3 text-center">
								<div class="shadow">
								<a href="#">
								<div class="imgborder">
									<img src="img/Dimond park - park street 3 - 4 BHK bungalows.jpg">
								</div>
								</a>
										<span class="proj-title">
											Diamond Park, Park Street Wakad Pune 
											<small><br>4 &amp; 5 BHK Bungalows / Villa
											</small>
										</span> <br>
									<a class="btn" href="#">Read More</a>
								
								</div>
							</div>
						</div>
						<div class="item">
							<div class="col-md-3 text-center">
								<div class="shadow">
								<a href="#">
								<div class="imgborder">
									<img src="img/Emarald Park Wakad.jpg" >
								</div>
								</a>
										<span class="proj-title">
											Diamond Park, Park Street Wakad Pune 
											<small><br>4 &amp; 5 BHK Bungalows / Villa
											</small>
										</span> <br>
									<a class="btn" href="#">Read More</a>
								
								</div>		
							</div>
						</div>
						<div class="item">
							<div class="col-md-3 text-center">
								<div class="shadow">
									<a href="#">
									<div class="imgborder">
										<img src="img/3 4 BHK Flat for sale resale in park titanium park street wakad pride purple group jaidev landmarks 9881502939.jpg" >
									</div>
									</a>
									<span class="proj-title">
										Diamond Park, Park Street Wakad Pune 
										<small><br>4 &amp; 5 BHK Bungalows / Villa
										</small>
									</span> <br>
									<a class="btn" href="#">Read More</a>
									
								</div>			
							</div>
						</div>
						<div class="item">
							<div class="col-md-3 text-center">
								<div class="shadow">
								<a href="#">
								<div class="imgborder">
									<img src="img/Emarald Park Wakad.jpg" >
								</div>
								</a>
										<span class="proj-title">
											Diamond Park, Park Street Wakad Pune 
											<small><br>4 &amp; 5 BHK Bungalows / Villa
											</small>
										</span> <br>
									<a class="btn" href="#">Read More</a>
								
								</div>		
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		
	<!-- Do not change below -->
	<script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
	<script>
	$(document).ready(function(){
		$('#myCarousel').carousel({
		  interval: 4000
		})

		$('.carousel .item').each(function(){
		  var next = $(this).next();
		  if (!next.length) {
			next = $(this).siblings(':first');
		  }
		  next.children(':first-child').clone().appendTo($(this));
		  
		  for (var i=0;i<2;i++) {
			next=next.next();
			if (!next.length) {
				next = $(this).siblings(':first');
			}
			
			next.children(':first-child').clone().appendTo($(this));
		  }
		});	
	});
</script>
</body>
</html>
