<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Real Estate Featured Prop Template</title>
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/style.css" />
	<script src="js/jquery.min.js"></script>
</head>
<body>
	<div class="container">
		<!--<div class="row">
			<h1>Enter your code here!</h1>
		</div>-->
		<!--<div class="content-box">
		   <h2 id="ribbon-container">
			  <a href="#" id="ribbon">Featured Property</a>
		   </h2>
		</div> <!-- End Container -->
		
		<div class="row">
			<div class="col-md-12">
				<div class="content-box">
				   <h2 id="ribbon-container">
					  <a href="#" id="ribbon">Featured Property</a>
				   </h2>
				</div> <!-- End Container -->
			</div>
		
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-3 text-center">
						<div class="shadow">
							<a href="#">
							<div class="imgborder">
								<img src="img/3 4 BHK Flat for sale resale in park titanium park street wakad pride purple group jaidev landmarks 9881502939.jpg" >
							</div>
								<span class="proj-title">
									Diamond Park, Park Street Wakad Pune 
									<small><br>4 &amp; 5 BHK Bungalows / Villa
									</small>
								 </span> <br>
								<button class="btn" href="#">Read More</button>
							</a>
							
						</div>
								
					</div>
					<div class="col-md-3 text-center">
						<div class="shadow">
						<a href="#">
						<div class="imgborder">
							<img src="img/Dimond park - park street 3 - 4 BHK bungalows.jpg">
						</div>
								<span class="proj-title">
									Diamond Park, Park Street Wakad Pune 
									<small><br>4 &amp; 5 BHK Bungalows / Villa
									</small>
								</span> <br>
							<button class="btn" href="#">Read More</button>
						</a>
						</div>
								
					</div>
					<div class="col-md-3 text-center">
						<div class="shadow">
						<a href="#">
						<div class="imgborder">
							<img src="img/Emarald Park Wakad.jpg" >
						</div>
								<span class="proj-title">
									Diamond Park, Park Street Wakad Pune 
									<small><br>4 &amp; 5 BHK Bungalows / Villa
									</small>
								</span> <br>
							<button class="btn" href="#">Read More</button>
						</a>
						</div>		
					</div>
					<div class="col-md-3 text-center">
						<div class="shadow">
						<a href="#">
						<div class="imgborder">
							<img src="img/3 4 BHK Flat for sale resale in park titanium park street wakad pride purple group jaidev landmarks 9881502939.jpg" >
						</div>
								<span class="proj-title">
									Diamond Park, Park Street Wakad Pune 
									<small><br>4 &amp; 5 BHK Bungalows / Villa
									</small>
								</span> <br>
							<button class="btn" href="#">Read More</button>
						</a>
						</div>			
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="content-box">
				   <h2 id="ribbon-container">
					  <a href="#" id="ribbon">Our Services</a>
				   </h2>
				</div> <!-- End Container -->
			</div>
		
			<!--<div class="col-md-12">
				<div class="row">
					<div class="col-md-3 text-center">
						<div class="shadow">
							<a href="#">
							<div class="imgborder">
								<img src="img/3 4 BHK Flat for sale resale in park titanium park street wakad pride purple group jaidev landmarks 9881502939.jpg" >
							</div>
								<span class="proj-title">
									Diamond Park, Park Street Wakad Pune 
									<small><br>4 &amp; 5 BHK Bungalows / Villa
									</small>
								 </span> <br>
								<button class="btn" href="#">Read More</button>
							</a>
							
						</div>
								
					</div>
					<div class="col-md-3 text-center">
						<div class="shadow">
						<a href="#">
						<div class="imgborder">
							<img src="img/Dimond park - park street 3 - 4 BHK bungalows.jpg">
						</div>
								<span class="proj-title">
									Diamond Park, Park Street Wakad Pune 
									<small><br>4 &amp; 5 BHK Bungalows / Villa
									</small>
								</span> <br>
							<button class="btn" href="#">Read More</button>
						</a>
						</div>
								
					</div>
					<div class="col-md-3 text-center">
						<div class="shadow">
						<a href="#">
						<div class="imgborder">
							<img src="img/Emarald Park Wakad.jpg" >
						</div>
								<span class="proj-title">
									Diamond Park, Park Street Wakad Pune 
									<small><br>4 &amp; 5 BHK Bungalows / Villa
									</small>
								</span> <br>
							<button class="btn" href="#">Read More</button>
						</a>
						</div>		
					</div>
					<div class="col-md-3 text-center">
						<div class="shadow">
						<a href="#">
						<div class="imgborder">
							<img src="img/3 4 BHK Flat for sale resale in park titanium park street wakad pride purple group jaidev landmarks 9881502939.jpg" >
						</div>
								<span class="proj-title">
									Diamond Park, Park Street Wakad Pune 
									<small><br>4 &amp; 5 BHK Bungalows / Villa
									</small>
								</span> <br>
							<button class="btn" href="#">Read More</button>
							</a>
						</div>			
					</div>
				</div>
			</div>-->
		</div>
		
	</div>
	<!-- Do not change below -->
	<script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
