
<div class="row ">
	<div class="col-sm-12">     <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>	 	
		<h3 class="col-sm-offset-2 col-sm-9"> Create New User Group</h3>
		<form name="addGroup" class="form-horizontal" role="form" novalidate="novalidate" ng-submit="addGroup.$valid">	
			<div class="form-group">
				<label  for="group_name" class="col-sm-2 control-label">Group Name</label>
				<div class="col-sm-9">
					<input type="text" id="group_name" class="form-control" name="group_name" placeholder="Enter Your Group Name" ng-model="createUserGroup.group_name" required >
					<span class="text-danger" ng-show="addGroup.group_name.$dirty && addGroup.group_name.$invalid">
						<span ng-show="addGroup.group_name.$error.required">Group Name is required.</span>
					</span>
				</div>
			</div>
			<div class="form-group">	
				<label  for="description" class="col-sm-2 control-label">Group Description </label>
				<div class="col-sm-9">
					<input type="text" id="description" class="form-control" name="description" placeholder="Group Description" ng-model="createUserGroup.description" required >
					<span class="text-danger" ng-show="addGroup.description.$dirty && addGroup.description.$invalid">
					<span ng-show="addGroup.description.$error.required">Group Description is required.</span>
					</span>
				</div>
			</div>				
			<div class="form-group">
				 <input type="hidden" ng-model="createUserGroup.date" >
			</div>					
			<div class="form-group">
				<label class="col-sm-2 control-label">Group Permission/Access</label>
				<div class="col-sm-10">
					<div class="row">
						<div class="col-sm-4">
							<label class="control-label">User Module</label>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="createUserGroup.group_permission.userModule.userList">User List
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="createUserGroup.group_permission.userModule.addUser"> Add User
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="createUserGroup.group_permission.userModule.editUser"> Edit User
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="createUserGroup.group_permission.userModule.banUser"> Ban User
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="createUserGroup.group_permission.userModule.deleteUser"> Delete User
								</label>
							</div>
						</div>
						<div class="col-sm-4">
							<label class="control-label">Template Module</label>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="createUserGroup.group_permission.tempModule.tempList">Template List
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="createUserGroup.group_permission.tempModule.myTempList">My Template List
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="createUserGroup.group_permission.tempModule.reqCustTemp"> Request Custom Template
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="createUserGroup.group_permission.tempModule.addTemp">Add Template
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="createUserGroup.group_permission.tempModule.editTemp">Edit Template
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="createUserGroup.group_permission.tempModule.deleteTemp">Delete Template
								</label>
							</div>
						</div>		
						<div class="col-sm-4">
							<label class="control-label">Business Module</label>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="createUserGroup.group_permission.busiModule.busiList">Business list
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="createUserGroup.group_permission.busiModule.addBusi"> Add Business
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="createUserGroup.group_permission.busiModule.approveBusi"> Approve Business
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="createUserGroup.group_permission.busiModule.varifyBusi">Varify Business
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="createUserGroup.group_permission.busiModule.editBusi"> Edit Business
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="createUserGroup.group_permission.busiModule.deleteBusi"> Delete Business
								</label>
							</div>
						</div>			
					</div>
				</div>
			</div>				
			<div class="form-group">
				<label class="col-sm-2 control-label">Other Settings</label>
				<div class="col-sm-4">
					<div class="checkbox">
						<label>
							<input type="checkbox" ng-model="createUserGroup.other.setting1">Setting 1
						</label>
					</div>
					<div class="checkbox">
						<label>
						  <input type="checkbox" ng-model="createUserGroup.other.setting2"> Setting 2
						</label>
					</div>
				</div>
			</div>					
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-9">
				  <button type="submit" class="btn btn-primary" title="Add User" ng-click="postData(createUserGroup)" ng-disabled="addGroup.$invalid">Add User</button>
				  
				  <button type="submit" class="btn btn-success" title="Update User" ng-click="update(createUserGroup)">Update User</button>
				  
				  
				  <button type="reset" class="btn btn-danger" title="Reset">Reset</button>
				</div>
			</div>						
		</form>		
	</div>
</div>

