<div class="table-responsive">		
	<table class="table table-bordered table-hover ">
		<thead>
			<th>Sr.No.</th>
			<th>User Name</th>
			<th>User Group</th>
			<th>Email Id</th>
			<th>Registered Date</th>
			<th>Manage</th>
		</thead>
		<tbody>
			<tr ng-repeat="x in users"><!--  filter: { status : hideDeleted}" -->
				<td>{{((usersListCurrentPage - 1) * pageItems) + $index + 1}}</td>
				<td>{{x.username}}</td>
				<td>
					<a type="button" class="btn btn-success glyphicon glyphicon-pencil" ng-click="showDropDown($event,'opened2')"></a>
					
					<select class="form-control" ng-show="opened2">
						<option value="">Select Group</option>
						<option value="manager">Manager</option>
						<option value="salseman">Salseman</option>
						<option value="bizowner">Business Owner</option>
					</select>
				</td>
				<td>{{x.email}}</td>
				<td>{{x.register_date}}</td>
				<td>
					<div class="btn-group" role="group" aria-label="first group">
						<a type="button"  tooltip-animation="true" tooltip="Approved" class="btn btn-success glyphicon glyphicon-ok" go-back></a>
						
						<a href="#/changepass" type="button" tooltip-animation="true"  tooltip="Reset Password"  class="btn btn-info glyphicon glyphicon-refresh"></a>
					</div>
					
					<div class="btn-group" role="group" aria-label="second group">
					
						<a type="button" tooltip-animation="true" tooltip="Re-active" class="btn btn-success glyphicon glyphicon-repeat"go-back></a><!--  ng-show="status==1"  -->
						
						<a type="button" tooltip-animation="true"  tooltip="Ban User"  class="btn btn-primary glyphicon glyphicon-ban-circle"></a>
						<!-- ng-show="status==0" -->
					</div>
					
					<div class="btn-group" role="group" aria-label="third group">
					
						<a href="#/dashboard/users/adduser" type="button"  tooltip-animation="true" tooltip="Edit User Information" class="btn btn-success glyphicon glyphicon-pencil">
						</a> 
						<!-- /{{x.id}} -->
						<a type="button" tooltip-animation="true" tooltip="Remove"  class="btn btn-danger glyphicon glyphicon-remove" >
						</a>
						<!-- ng-if="(x.status==1)" ng-click="deletestatus(x.id,x.status, $index)" -->
					</div>	
				</td>
			</tr>					
		</tbody>					
	</table>
</div>
<div class="text-center">				
	<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="manageusers.usersListCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged(usersListCurrentPage,userStatus)"></pagination>
	<pre>Page: {{usersListCurrentPage}} / {{numPages}}</pre>
</div>	