
<div class="col-md-9">
   <div class="content">
  <h3>Pune Hinjewadi commercial office for sale lease &amp; Prelease for IT / Non IT Park range 450 sq ft to 60000 sq ft in IT Park Hinjewadi Pune call 9527289192 </h3>
	<!--<div class="pull-right">
        <a class="btn btn-primary" href="/index.php?option=com_realestate&amp;view=default&amp;layout=email&amp;id=64&amp;propTitle=Pune%20Hinjewadi%20commercial%20office%20for%20sale%20lease%20&amp;Prelease_for_IT_/_Non_IT_Park_range_450_sq_ft_to_60000_sq_ft_in_IT_Park_Hinjewadi_Pune_call_9527289192=&amp;Itemid=536" title="Send Enquiry"><i class="icon-envelope"> </i> Send Enquiry</a>
    </div>-->
	<blockquote> we have multiple option of Pune Hinjewadi commercial office for sale lease &amp; Prelease for IT / Non IT Park range 450 sq ft to 60000 sq ft in IT Park Hinjewadi Pune &amp; Play &amp; plug too call 9527289192 other option in Baner Kharadi Viman Nagar &amp; more.</blockquote>
<!--<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#Property_Details" data-toggle="tab">Property Details</a></li>
  <li><a href="#Property_Built_Up_Details" data-toggle="tab">Property Built Up Details</a></li>
  <li><a href="#Amenities" data-toggle="tab">Amenities</a></li>
  <li><a href="#Property_Address" data-toggle="tab">Property Address</a></li>
  <li><a href="#Property_Seller_Detail" data-toggle="tab">Property Seller Detail</a></li>
</ul>-->
	<div class="row">
		<div class="col-md-9">
              <div class="row">
                <div class="col-md-3"> Property For </div>
                <div class="col-md-9" > Sale </div>
              </div>
              <div class="row">
                <div class="col-md-3"> Property Type </div>
                <div class="col-md-9"> Office </div>
              </div>
              <div class="row">
                <div class="col-md-3"> Location </div>
                <div class="col-md-9"> Hinjewadi Pune </div>
              </div>
              <div class="row">
                <div class="col-md-3"> Area </div>
                <div class="col-md-9"> 750 Sq. Feet </div>
              </div>
              <div class="row">
                <div class="col-md-3"> Price </div>
                <div class="col-md-9"> Contact Us!</div>
              </div>
        </div>
   
       
        <div class="col-md-3">
                <a class="modal" href="http://manage.goldenlandmarks.net/uploaded-files/no-image.jpg"> <img src="http://manage.goldenlandmarks.net/uploaded-files/no-image.jpg"></a>
		
        </div>
	</div><!--end row-->
	<div class="row">
		<div class="col-md-12">
				<hr class="divider">
				<h3>Property Built Up Details</h3>
					<table class="table table-bordered">
						<tbody><tr>
							<th>Furnishing</th>
							<th>Transaction</th>
							<th>Bedrooms</th>
							<th>Bathrooms</th>
							<th>Reserved Parking</th>
						  </tr>
						  <tr>
							<td>Semi-Furnished</td>
							<td>New Property</td>
							<td></td>
							<td>1</td>
							<td>1</td>
						  </tr>
						</tbody></table>
				<hr class="divider">
				<h3>Amenities</h3>
				 <ul>
					<li>Power Backup</li>            
					<li>Water Storage</li>            
					<li>Lift</li>          
					<li>Reserve Parking</li>           
					<li>Security</li>          
					<li>Maintenance Staff</li>                    
					<li>Park</li>            
					<li>Private Tarrace</li>                   
					<li>Servant Quarters</li>                   
				</ul>
			<hr class="divider">
			  <h3>Property Address</h3>
				  Hinjewadi Pune    <hr class="divider">
				<h3>Property Seller Detail</h3>
			  <table class="table table-bordered table-striped">
				<tbody>
				  <tr>
					<td>Contact Person</td>
					<td>Jaiprakash</td>
				  </tr>
				  <tr>
					<td>Mobile</td>
					<td>9527289192</td>
				  </tr>
				  <tr>
					<td>Email</td>
					<td>jaidevlandmarks@gmail.com</td>
				  </tr>
				  <tr>
					<td>Contact Address</td>
					<td>Pune</td>
				  </tr>
				</tbody>
			  </table>
			  <hr class="divider">


				<div class="text-center">
						<a class="btn btn-primary" href="/index.php?option=com_realestate&amp;view=default&amp;layout=email&amp;id=64&amp;propTitle=Pune%20Hinjewadi%20commercial%20office%20for%20sale%20lease%20&amp;Prelease_for_IT_/_Non_IT_Park_range_450_sq_ft_to_60000_sq_ft_in_IT_Park_Hinjewadi_Pune_call_9527289192=&amp;Itemid=536" title="Send Enquiry"><i class="icon-envelope"> </i> Send Enquiry</a>
				</div>
		</div>
	</div>
 </div><!--content -->
</div> <!-- Main Component -->
          
                                
        