<h3>Custom Templates List</h3>
<div class="table-responsive">
	<table class="table table-bordered ">
		<thead>
			<th>Sr.No.</th>
			<th>Template Name</th>			
			<th>Devlopment Status</th>
			<th>Create Date</th>
			<th>Modified Date</th>			
			<th>Manage</th>
		</thead>
		<tbody>
			<tr ng-repeat="x in templates | orderBy:id">
				<td>{{((customTempCurrentPage - 1) * pageItems) + $index + 1}}</td>
				<td>{{x.template_name}}</td>				
				<td>
					<a class="btn btn-success" ng-show="x.development_status=='rejected'" tooltip="Resend request">
						<span class="glyphicon glyphicon-refresh"></span>
					</a>
					<span ng-show="x.development_status!='rejected'">{{x.development_status}}</span>
				</td>
				<td>{{x.date | date:'yyyy-MM-dd'}}</td>
				<td>{{x.modified_date}}</td>
				
				<td>
					<button class="btn btn-success" ng-show="x.status==1" title="Active"ng-click="changeStatus(x.id,x.status,$index)">Active</button>
					<button class="btn btn-warning" ng-show="x.status==0" title="Delete">Delete</button>					
					<a tooltip-animation="true" title="Preview" class="btn btn-primary">Preview					
					</a>
				</td>				
			</tr>		
		</tbody>					
	</table>
</div>
<div class="text-center">				
	<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="customTempCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged(customTempCurrentPage,custom)"></pagination>				
	<pre>Page: {{currentPage}} / {{numPages}}</pre>
</div>		


