	<h3>Custom Templates List</h3>
	<table class="table table-bordered table-responsive">
		<thead>
			<th>Sr.No.</th>
			<th>Template Name</th>
			<th>Status</th>
			<th>Create Date</th>
			<th>Exp Date</th>
			<th>Manage</th>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>Template 1</td>
				<td>
					<p>Pending</p>
				</td>
				<td>01/01/014</td>
				<td>31/12/020</td>
				<td><a href="#" class="glyphicon glyphicon-refresh btn btn-success" aria-hidden="true" tooltip-position="top" tooltip="Renew page"></a></td>				
			</tr>		
		</tbody>					
	</table>
	<div class="text-center">				
				<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="customTempCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged()"></pagination>				
				<pre>Page: {{currentPage}} / {{numPages}}</pre>
			</div>		


