<h3> List Of Templates</h3>	
<div class="table-responsive">
	<table class="table table-bordered ">
		<thead>
			<th>Sr.No.</th>
			<th>Template Name</th>
			<th>Category</th>
			<th>Create Date</th>
			<th>Price</th>
			<th>Select Template</th>
		</thead>
		<tbody>
			<tr ng-repeat="x in templates">
				<td>{{((listTempCurrentPage - 1) * pageItems) + $index + 1}}</td>
				<td>{{x.template_name}}</td>
				<td>{{x.category}}</td>
				<td>{{x.date | date:'yyyy-MM-dd'}}</td>					
				<td>{{x.price}}</td>
				<td>
					<button class="btn btn-success" ng-show="x.template_price=='free'" title="Apply for Template">Apply</button>
					<button href="#" class="btn btn-warning" title="Buy Template" ng-show="x.template_price!='free'"> Buy </button>
					<button href="#" class="btn btn-primary" title="Preview Template">Preview</button>
				</td>
			</tr>
		</tbody>					
	</table>
</div>
<div class="text-center">				
	<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="listTempCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged(listTempCurrentPage,custom)"></pagination>				
	<pre>Page: {{currentPage}} / {{numPages}}</pre>
</div>		
