<h3> List Of Templates</h3>	
<div class="table-responsive">
	<table class="table table-bordered ">
		<thead>
			<th>Sr.No.</th>
			<th>Template Name</th>
			<th>Create Date</th>
			<th>Price</th>
			<th>Select Template</th>
		</thead>
		<tbody>
			<tr ng-repeat="x in templates">
				<td>{{((listTempCurrentPagex - 1) * pageItems) + $index + 1}}</td>
				<td>{{x.template_name}}</td>
				<td>{{x.date | date:'MM/dd/yyyy'}}</td>					
				<td>{{x.price}}</td>
				<td><a href="#" class="btn btn-success" >Apply</a>
					<a href="#" class="btn btn-danger">Buy</a>
					<a href="#" class="btn btn-default">Preview</a>
				</td>
			</tr>
		</tbody>					
	</table>
</div>
<div class="text-center">				
	<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="listTempCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged(listTempCurrentPage)"></pagination>				
	<pre>Page: {{currentPage}} / {{numPages}}</pre>
</div>		
