
<form name="reqCustTemplate"  class="form-horizontal " role="form" novalidate="novalidate">

	<div class="form-group">
	   <div class="col-sm-offset-2 col-sm-9">
			<h3> Request For Custom Template</h3>
		</div>
	</div>
	<div class="form-group">
		<label for="template_name" class="col-sm-2 control-label">Template Name</label>	
		<div class="col-sm-9">
            <input type="text" id="template_name" class="form-control" name="template_name" placeholder="Enter Your Name" ng-model="template.template_name" required >
			<span class="text-danger" ng-show="reqCustTemplate.template_name.$dirty && reqCustTemplate.template_name.$invalid">
				<span ng-show="reqCustTemplate.template_name.$error.required">Name is required.</span>
			</span>
		</div>						
	</div>
	
        <input type="hidden" ng-model="template.date" >
	<div class="form-group">	
		<label  for="domain" class="col-sm-2 control-label">Domain Name</label>
		<div class="col-sm-9">
            <input type="text" id="domain" class="form-control" name="domain" placeholder="Domain Name" ng-model="template.custom_requirement.domain" required >
			<span class="text-danger" ng-show="reqCustTemplate.domain.$dirty && reqCustTemplate.domain.$invalid">
				<span ng-show="reqCustTemplate.domain.$error.required">Domain Name is required.</span>
			</span>
		</div>						
	</div>	
	<div class="form-group" ng-class="{ 'has-error' : reqCustTemplate.contact.$invalid && (reqCustTemplate.contact.$dirty || submitted) }">	
		<label  for="contact" class="col-sm-2 control-label">Contact Number</label>	
		<div class="col-sm-9">
            <input type="text" id="contact" class="form-control" name="contact" placeholder="Enter Your Phno" ng-model="template.custom_requirement.contact" maxlength="10" ng-pattern="/^[789]\d{9}$/" required >					
			 <p ng-show="reqCustTemplate.contact.$error.pattern && (reqCustTemplate.contact.$dirty || submitted)" class="help-block">Enter a valid contact no.</p>
        </div>						
	</div> 	
	<div class="form-group">
		<label for="requirement" class="col-sm-2 control-label">Custom Requirement</label>	
		<div class="col-sm-9">	  
			<textarea class="form-control" ng-model="template.custom_requirement.requirement" id="requirement" name="requirement" cols="30" rows="4" ng-maxlength="356" placeholder="Custom Template Requirement"></textarea>
			      
			<p ng-hide="reqCustTemplate.requirement.$error.maxlength">{{ 356 - template.custom_requirement.requirement.length + " Chars left" }}</p>			
			<span class="text-danger" ng-show="reqCustTemplate.requirement.$error.maxlength">Sorry You are Exceeding the Limit</span>
			<span class="text-danger" ng-show="reqCustTemplate.requirement.$dirty && reqCustTemplate.custom_requirement.$invalid"></span>
			<span  ng-show="reqCustTemplate.requirement.$error.required">Custom Requirement are Required.</span>
			<span class="text-danger" ng-show="reqCustTemplate.requirement.$error.minlength">Please Enter minimum 10 character</span>			
		</div>					
	</div>
	<div class="form-group">
		<label for="requirement" class="col-sm-2 control-label">Select Template</label>	
		<div class="col-sm-3">
			<select id="templates" class="form-control" ng-model="template.template_for" title="Select template type"> 	
				<option value="" selected>Select Template Type</option> 
				<option value="Websites" selected>Websites</option>	
				<option value="Project">Project</option>
				<option value="Property">Property</option> 
			</select>
		</div>
	</div>	
	<div class="form-group">
		<label for="scrible" class="col-sm-2 control-label">Template Image</label>
		
		<div class="col-sm-10">			
			<input type="file" id="template_image" ng-file-select ng-multiple="true" accept="image/jpeg,image/png, image/gif" ng-file-change="generateThumb($files)" ng-model="scrible">
						
				<!-- This will show thumbnails & progress of images -->
				<file-preview url="scrible" ng-model="template.scrible"></file-preview>
				
				<!-- This button will show if file/s selected -->
				<button ng-show="scrible" ng-click="upload(scrible,path,userInfo,reqtemp.scrible)" type="button">Upload</button>
				
				<!-- This hidden input will store image path in array after successful uploading -->
				<input type="hidden" ng-model="template.scrible">
			<!-- Changed by pooja -->
		</div>
	</div>					
	<div class="form-group">
		<label for="custom" class="col-sm-2 control-label">Make it</label>
		<div class="col-sm-9">
			<label class="radio-inline">
				<input type="radio" name="radio" id="Public" value="Public" checked>Public
			</label>
			<label class="radio-inline">
				<input type="radio" name="radio" id="Private" value="Private">Private
			</label>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-9">
			<button type="submit" class="btn btn-success" ng-click="postData(template)"  tooltip="Send Request">Send Request</button>
			<button type="reset" class="btn btn-danger" tooltip="Cancle">Reset</button>
		</div>
	</div>					
</form>
			