<div class="row ">		
	<div class="col-sm-12 ">	
		<div class="main-content">		
			<ng-include src="'modules/component/toolbar.html'"></ng-include>
			<div class="row text-right bottom-space">
				<div class="col-sm-12"> 
					<div class="pull-left" ng-if="tempPart!='requestCustomTemplates'">				
						<select id="template" class="form-control" ng-model="template_for" title="Select template type" ng-change="changeValue('template_for',template_for)" ng-init="template_for='Websites'"> 	
							<option value="Websites" selected>Websites</option>	
							<option value="Project">Project</option>
							<option value="Property">Property</option> 
						</select>
					</div>
					<a href="#/dashboard/templates" class="btn btn-default" title="List of Template">List of Templates</a>
					
					<a href="#/dashboard/templates/myTemplates" class="btn btn-default" title="My Template">My Templates</a>
					
					<a href="#/dashboard/templates/requestCustomTemplates" class="btn btn-default" title="Request Custom Template">Request Custom Template</a>
					
					<a href="#/dashboard/templates/customTemplates" class="btn btn-default" title="Custom Template">Custom Templates</a>
					
					<a href="#/dashboard/templates/addTemplate" class="btn btn-default" title="Add Template">Add Templates</a>
				</div>	
			</div>	
			<div class="clearfix"></div>
			<div class="row bottom-space">
				<div class="col-sm-3" ng-if="tempPart!='requestCustomTemplates' && tempPart!=='addTemplate'"> 
					<label for="searchTemp" class="control-label">Search </label>  
					<div class="input-group">
						<input id="search" type="text" class="form-control" placeholder="Search" ng-model="searchTemp" ng-change="searchFilter('template_name', searchTemp)">					 
						<span class="input-group-btn">
							<button class="btn btn-success" type="button">
								<span class="glyphicon glyphicon-search iconsearch"></span>
						</span>						
					</div><!-- /input-group -->
				</div>			 				  
				 <div class="col-sm-3" ng-if="tempPart!='requestCustomTemplates' && tempPart!=='addTemplate'">
					<label for="sort" class="control-label">Sort by Order</label>		
					<select id="sort" class="form-control" ng-model="sort" title="Select order"> 
						<option value="">Select Order</option><!-- added value & selected attr -->	
						<option value="-id">Desending</option>
						<option value="id">Ascending</option>  
					</select>
				</div>
				<div class="col-sm-3" ng-if="tempPart!='requestCustomTemplates'&& tempPart!=='addTemplate'">
					<label for="status" class="control-label">Select Status</label>
					<select id="status" class="form-control" ng-model="status" title="status"  ng-change="changeValue('status',status)" ng-init="status=1">
						
						<option value="1" selected>Active</option>
						<option value="0">Deleted</option>							
					</select>
				</div>	
				<div class="col-sm-3" ng-if="tempPart=='listTemplate' && tempPart!='requestCustomTemplates' && tempPart!=='addTemplate'">
					<label for="T_type" class="control-label">Template Type</label>
					<select id="T_type" class="form-control" ng-model="templates_type" title="Select type" ng-change="changeValue('template_type',templates_type)">
						<option value="" selected="">Select Template</option> 
						<option value="public">Public</option>
						<option value="private">Private</option>							
					</select>
				</div>	
				<div class="col-sm-3" ng-if="tempPart=='websitesTemplate' &&  tempPart!='requestCustomTemplates' && tempPart!=='addTemplate'">
					<label for="category" class="control-label">Template Category</label>
					<select id="category" class="form-control" ng-model="category" title="Template category" ng-change="changeValue('category',category)">
						<option value="" selected="">Select Category</option> 			
						<option value="Hospital System">Hospital Template</option>
						<option value="Online Shopping">Online Shopping Template</option>		
						<option value="College">College Template</option>	
					</select>
				</div>	
				<div class="col-sm-3" ng-if="tempPart=='customTemplates' && tempPart!='requestCustomTemplates' && tempPart!=='addTemplate'">
					<label for="develpement_status" class="control-label">Develpement Status</label>
					<select id="develpement_status" class="form-control" ng-model="develpement_status" title="develpement_status" ng-change="changeValue('develpement_status',develpement_status)">
						<option value="" selected="">Select Develpement Status</option>	
						<option value="pending">Pending</option>
						<option value="order_placed">Order Placed</option>
						<option value="inprogress">In-progress</option>
						<option value="completed">Completed</option>
						<option value="rejected">Rejected</option>
						<option value="in_review">In-review</option>					
					</select>
				</div>		
			</div>	
			<div class="row">
				<div class="col-sm-12 ">
					 <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>				
					
					<ng-include ng-if="tempPart=='websitesTemplate'" src="'modules/templates/websitesTemplate.html'"></ng-include>	
					
					<ng-include ng-if="tempPart=='addTemplate'" src="'modules/templates/addTemplate.html'"></ng-include>	
					
					<ng-include ng-if="tempPart=='myTemplates'"
					src="'modules/templates/myTemplates.html'"></ng-include>	
					
					<ng-include ng-if="tempPart=='requestCustomTemplates'" src="'modules/templates/requestCustomTemplates.html'"></ng-include>	
					
					<ng-include ng-if="tempPart=='customTemplates'" 
					src="'modules/templates/customTemplates.html'"></ng-include>		
				</div>			
			</div>		
		</div>
	</div>
</div>
