<!-- <div class="row">		
	<div class="col-md-12 main-content">	
		<div class="row breadcrumb-back">
			<div class="col-md-10" ng-include="'modules/component/breadcrumb.html'"> </div>
			<div class="col-md-2" ng-include="'modules/component/menu-back.html'"> </div>
		</div>
		<div class="row">
			<div class="col-md-12 text-right website-menu">
				<a href="#templates" class="btn btn-default" title="Project Template">Project Template</a>
				<a href="#templates/propertyTemplate" class="btn btn-default" title="Property Template">Property Template</a>
				<a href="#templates/websitesTemplate" class="btn btn-default" title="Websites Template">Websites Template</a>
				<a href="#" class="btn btn-primary" title="Request Websites Custom Template">Request Custom Template</a>
			</div>
		</div>
		<div class="row">
			 <div class="col-md-3"> 
				<label class="control-label">Search </label>		
				<input class="form-control ng-pristine ng-valid" ng-model="searchProp" placeholder="search" title="Search" type="text">
			</div>			 				  
			 <div class="col-md-3">
				<label for="sort" class="control-label">Sort by Order</label>
				<select id="sort" class="form-control ng-pristine ng-valid" ng-model="id" title="Select order"> 
					<option value="">Select Order</option>		// added value & selected attr 
					<option value="-id">Desending</option>
					<option value="id">Asending</option>  
				</select>
			</div>
			<div class="col-md-3">
				<label for="Status" class="control-label">Select Status</label>
				<select id="Status" class="form-control ng-pristine ng-valid" ng-model="status" title="Status">
					<option value="" selected="">Select Status</option> //add value attribute empty & selected for initial selected option 
					<option value="1">Active</option>
					<option value="0">Deleted</option>   
				</select>
			</div>
			<div class="col-md-3">
				<label for="Template Type" class="control-label">Template Type</label>
				<select id="Template Type" class="form-control ng-pristine ng-valid" ng-model="T_type" title="Select type">
					<option value="" selected="">Select Template</option> // add value attribute empty & selected for initial selected option 
					<option value="free">Free</option>
					<option value="buy">Buy</option>   
				</select>
			</div>				
		</div>							
		<div class="row">
			<div class="col-md-12"> -->
				<table class="table table-striped table-bordered">
					<thead>
						<th>Sr.No.</th>
						<th>Template Name</th>
						<th>Due Date</th>
						<th>Exp Date</th>
						<th>Status</th>
						<th>Template Type</th>						
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td></td>
							<td></td>
							<td></td>
							<td>
									<a class="btn btn-success"  title="Active">Active</a><br>
									<a class="btn btn-warning"  title="Delete">Delete</a>
								</td>
							<td><a href="#" class="btn btn-success" title="Apply for Template">Apply</a></td>
						</tr>
						<tr>
							<td>2</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td><a href="#" class="btn btn-warning" title="Buy Template">&nbsp Buy&nbsp </a></td>

						</tr>	
						<tr>
							<td>3</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td><a href="#" class="btn btn-success" title="Apply for Template">Apply</a></td>
						</tr>	
					</tbody>					
				</table>
			<!-- </div>
		</div>
	</div>
</div> -->