<div class="table-responsive">
	<h3>Websites Templates List</h3>
	<table class="table table-striped table-bordered">
		<thead>
			<th>Sr.No.</th>
			<th>Template Name</th>
			<th>Template Category</th>
			<th>Due Date</th>
			<th>Exp Date</th>
			<th>Status</th>
			<th>Template Type</th>						
		</thead>
		<tbody>
			<tr ng-repeat="x in templates | orderBy:sort">
				<td>{{((webTempCurrentPage - 1) * pageItems) + $index + 1}}</td>
				<td>{{x.template_name}}</td>
				<td>{{x.category}}</td>
				<td>{{x.date | date:'yyyy-MM-dd'}}</td>
				<td>{{x.modified_date}}</td>
				<td>
						<a class="btn btn-success"  ng-show="x.status==1" title="Active">Active</a>
						<a class="btn btn-warning"  ng-show="x.status==0" title="Delete">Delete</a>
				</td>
				<td>
					<button class="btn btn-success" ng-show="x.template_price=='free'" title="Apply for Template" ng-click="showWebDt('modules/templates/websiteList.html', x.id)">Apply</button>
					
					<button class="btn btn-warning" title="Buy Template" ng-show="x.template_price!='free'"> Buy </button>
					
					<a ng-click="open('modules/templates/viewTemplate.html', x.id)" class="btn btn-primary" title="Preview Template">Preview</a>
				</td>
			</tr>			
		</tbody>					
	</table>
</div>
<div class="text-center">				
	<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="webTempCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged(webTempCurrentPage,custom)"></pagination>				
	<pre>Page: {{currentPage}} / {{numPages}}</pre>
</div>		
