<div class="content">
<div class="row featured_project">
<h2>Projects</h2>
<hr style="display:block">
</div>

<div class="row featured_project">

<div class="well col-md-4 pull-left ">
<h3 class="page-header">
	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=1&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		Diamond Park, Park Street Wakad Pune	</a>
</h3>
      	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=1&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		<img class="img-polaroid" src="http://manage.goldenlandmarks.net/admin/upload/uploaded-files/Dimond park - park street 3 - 4 BHK bungalows.jpg">
	</a>
            
    <div>
<table class="table table-hover">
              <tbody><tr>
                <td class="col-md-5"><strong>Location:</strong></td>
                <td class="col-md-7">Wakad</td>
              </tr>
              <tr>
                <td class="col-md-5"><strong>Type:</strong></td>
                <td class="col-md-7">4 &amp; 5 BHK Bungalows / Villa</td>
              </tr>
            </tbody></table>
   </div>
    <div class="modal-footer">
    <a href="/index.php?view=project&amp;layout=singleproject&amp;id=1&amp;option=com_realestate&amp;Itemid=537">More Details</a>&nbsp;<strong>›</strong>
    </div>
</div>

<hr>

<div class="well col-md-4 pull-left ">
<h3 class="page-header">
	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=2&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		Sapphire Park, Park Street Wakad Pune	</a>
</h3>
      	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=2&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		<img class="img-polaroid" src="http://manage.goldenlandmarks.net/admin/upload/uploaded-files/Sapphire Park.jpg">
	</a>
            
    <div>
<table class="table table-hover">
              <tbody><tr>
                <td class="col-md-5"><strong>Location:</strong></td>
                <td class="col-md-7"> Wakad</td>
              </tr>
              <tr>
                <td class="col-md-5"><strong>Type:</strong></td>
                <td class="col-md-7">2 &amp; 3 BHK Flat &amp; Penthouse</td>
              </tr>
            </tbody></table>
   </div>
    <div class="modal-footer">
    <a href="/index.php?view=project&amp;layout=singleproject&amp;id=2&amp;option=com_realestate&amp;Itemid=537">More Details</a>&nbsp;<strong>›</strong>
    </div>
</div>

<hr>

<div class="well col-md-4 pull-left ">
<h3 class="page-header">
	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=3&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		Emerald Park Wakad - Pune	</a>
</h3>
      	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=3&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		<img class="img-polaroid" src="http://manage.goldenlandmarks.net/admin/upload/uploaded-files/Emarald Park Wakad.jpg">
	</a>
            
    <div>
<table class="table table-hover">
              <tbody><tr>
                <td class="col-md-5"><strong>Location:</strong></td>
                <td class="col-md-7">Wakad</td>
              </tr>
              <tr>
                <td class="col-md-5"><strong>Type:</strong></td>
                <td class="col-md-7">Residential</td>
              </tr>
            </tbody></table>
   </div>
    <div class="modal-footer">
    <a href="/index.php?view=project&amp;layout=singleproject&amp;id=3&amp;option=com_realestate&amp;Itemid=537">More Details</a>&nbsp;<strong>›</strong>
    </div>
</div>

<hr>

<div class="well col-md-4 pull-left ">
<h3 class="page-header">
	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=4&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		Park Titanium - Pune	</a>
</h3>
      	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=4&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		<img class="img-polaroid" src="http://manage.goldenlandmarks.net/uploaded-files/3 4 BHK Flat for sale resale in park titanium park street wakad pride purple group jaidev landmarks 9881502939.JPG">
	</a>
            
    <div>
<table class="table table-hover">
              <tbody><tr>
                <td class="col-md-5"><strong>Location:</strong></td>
                <td class="col-md-7">Wakad</td>
              </tr>
              <tr>
                <td class="col-md-5"><strong>Type:</strong></td>
                <td class="col-md-7">Residential 3 4 BHK Flat</td>
              </tr>
            </tbody></table>
   </div>
    <div class="modal-footer">
    <a href="/index.php?view=project&amp;layout=singleproject&amp;id=4&amp;option=com_realestate&amp;Itemid=537">More Details</a>&nbsp;<strong>›</strong>
    </div>
</div>

<hr>

<div class="well col-md-4 pull-left ">
<h3 class="page-header">
	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=5&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		Waters Edge - Aundh Pune	</a>
</h3>
      	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=5&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		<img class="img-polaroid" src="http://manage.goldenlandmarks.net/admin/upload/uploaded-files/topazpark-homesinwakad.jpg">
	</a>
            
    <div>
<table class="table table-hover">
              <tbody><tr>
                <td class="col-md-5"><strong>Location:</strong></td>
                <td class="col-md-7">Aundh</td>
              </tr>
              <tr>
                <td class="col-md-5"><strong>Type:</strong></td>
                <td class="col-md-7">Residential</td>
              </tr>
            </tbody></table>
   </div>
    <div class="modal-footer">
    <a href="/index.php?view=project&amp;layout=singleproject&amp;id=5&amp;option=com_realestate&amp;Itemid=537">More Details</a>&nbsp;<strong>›</strong>
    </div>
</div>

<hr>

<div class="well col-md-4 pull-left ">
<h3 class="page-header">
	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=6&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		24K Glitterati - Pimple Nilakh Pune	</a>
</h3>
      	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=6&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		<img class="img-polaroid" src="http://manage.goldenlandmarks.net/uploaded-files/24kGlitterati/3 4 BHK Apartments Penthouse Garden Apartments - 24k Glitterati by Kolte Patil Developers Pimple Nilakh Pune.jpg">
	</a>
            
    <div>
<table class="table table-hover">
              <tbody><tr>
                <td class="col-md-5"><strong>Location:</strong></td>
                <td class="col-md-7"> Pimple Nilakh</td>
              </tr>
              <tr>
                <td class="col-md-5"><strong>Type:</strong></td>
                <td class="col-md-7">Residential</td>
              </tr>
            </tbody></table>
   </div>
    <div class="modal-footer">
    <a href="/index.php?view=project&amp;layout=singleproject&amp;id=6&amp;option=com_realestate&amp;Itemid=537">More Details</a>&nbsp;<strong>›</strong>
    </div>
</div>

<hr>

<div class="well col-md-4 pull-left ">
<h3 class="page-header">
	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=26&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		Park Royale Pimple Saudagar Pune	</a>
</h3>
      	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=26&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		<img class="img-polaroid" src="http://manage.goldenlandmarks.net/uploaded-files/ParkRoyale 2 2.5 3 BHK flats appartments for sale in Pimple Saudagar Park Royale Pride Jaidev Landmarks 9881502939.jpg">
	</a>
            
    <div>
<table class="table table-hover">
              <tbody><tr>
                <td class="col-md-5"><strong>Location:</strong></td>
                <td class="col-md-7">Rahtani Pimple Saudagar Pune</td>
              </tr>
              <tr>
                <td class="col-md-5"><strong>Type:</strong></td>
                <td class="col-md-7">Flats Apartments</td>
              </tr>
            </tbody></table>
   </div>
    <div class="modal-footer">
    <a href="/index.php?view=project&amp;layout=singleproject&amp;id=26&amp;option=com_realestate&amp;Itemid=537">More Details</a>&nbsp;<strong>›</strong>
    </div>
</div>

<hr>

<div class="well col-md-4 pull-left ">
<h3 class="page-header">
	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=27&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		Aloma County Aundh Pune	</a>
</h3>
      	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=27&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		<img class="img-polaroid" src="http://manage.goldenlandmarks.net/uploaded-files/2 3 bhk flat for sale resale rent in  aloma-county-aundh-pride-Naiknavre-group.jpg">
	</a>
            
    <div>
<table class="table table-hover">
              <tbody><tr>
                <td class="col-md-5"><strong>Location:</strong></td>
                <td class="col-md-7">Aundh Pune</td>
              </tr>
              <tr>
                <td class="col-md-5"><strong>Type:</strong></td>
                <td class="col-md-7">Residential 2 &amp; 3 BHK Flats</td>
              </tr>
            </tbody></table>
   </div>
    <div class="modal-footer">
    <a href="/index.php?view=project&amp;layout=singleproject&amp;id=27&amp;option=com_realestate&amp;Itemid=537">More Details</a>&nbsp;<strong>›</strong>
    </div>
</div>

<hr>

<div class="well col-md-4 pull-left ">
<h3 class="page-header">
	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=28&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		Life Republic Bungalow villa Hinjewadi	</a>
</h3>
      	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=28&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		<img class="img-polaroid" src="http://manage.goldenlandmarks.net/uploaded-files/3 4 5 BHK twin bungalows villa liferepublic hinjewadi for sale resale rent.jpg">
	</a>
            
    <div>
<table class="table table-hover">
              <tbody><tr>
                <td class="col-md-5"><strong>Location:</strong></td>
                <td class="col-md-7">Hinjewadi Pune</td>
              </tr>
              <tr>
                <td class="col-md-5"><strong>Type:</strong></td>
                <td class="col-md-7">3, 3.5 &amp; 4 BHK Bungalows / Villa</td>
              </tr>
            </tbody></table>
   </div>
    <div class="modal-footer">
    <a href="/index.php?view=project&amp;layout=singleproject&amp;id=28&amp;option=com_realestate&amp;Itemid=537">More Details</a>&nbsp;<strong>›</strong>
    </div>
</div>

<hr>

<div class="well col-md-4 pull-left ">
<h3 class="page-header">
	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=29&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		Life Republic - Hinjewadi Pune	</a>
</h3>
      	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=29&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		<img class="img-polaroid" src="http://manage.goldenlandmarks.net/uploaded-files/Life Republic 1 2 3 4 BHK flat in hinjewadi Kolte patil developers jaidev landmarks.png">
	</a>
            
    <div>
<table class="table table-hover">
              <tbody><tr>
                <td class="col-md-5"><strong>Location:</strong></td>
                <td class="col-md-7">Hinjewadi Pune</td>
              </tr>
              <tr>
                <td class="col-md-5"><strong>Type:</strong></td>
                <td class="col-md-7">Residential 1 2 3 4 BHK Flat</td>
              </tr>
            </tbody></table>
   </div>
    <div class="modal-footer">
    <a href="/index.php?view=project&amp;layout=singleproject&amp;id=29&amp;option=com_realestate&amp;Itemid=537">More Details</a>&nbsp;<strong>›</strong>
    </div>
</div>

<hr>

<div class="well col-md-4 pull-left ">
<h3 class="page-header">
	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=30&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		Rihe Valley Hinjewadi Plots	</a>
</h3>
      	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=30&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		<img class="img-polaroid" src="http://manage.goldenlandmarks.net/uploaded-files/ban-1.jpg">
	</a>
            
    <div>
<table class="table table-hover">
              <tbody><tr>
                <td class="col-md-5"><strong>Location:</strong></td>
                <td class="col-md-7">Hinjewadi Pune</td>
              </tr>
              <tr>
                <td class="col-md-5"><strong>Type:</strong></td>
                <td class="col-md-7">Farm House Plot</td>
              </tr>
            </tbody></table>
   </div>
    <div class="modal-footer">
    <a href="/index.php?view=project&amp;layout=singleproject&amp;id=30&amp;option=com_realestate&amp;Itemid=537">More Details</a>&nbsp;<strong>›</strong>
    </div>
</div>

<hr>

<div class="well col-md-4 pull-left ">
<h3 class="page-header">
	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=31&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		Forest Trails	</a>
</h3>
      	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=31&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		<img class="img-polaroid" src="http://manage.goldenlandmarks.net//Type-K1-Independent-Bungalow-forest-trail--paud-road.jpg">
	</a>
            
    <div>
<table class="table table-hover">
              <tbody><tr>
                <td class="col-md-5"><strong>Location:</strong></td>
                <td class="col-md-7">Paud Road</td>
              </tr>
              <tr>
                <td class="col-md-5"><strong>Type:</strong></td>
                <td class="col-md-7">Flat</td>
              </tr>
            </tbody></table>
   </div>
    <div class="modal-footer">
    <a href="/index.php?view=project&amp;layout=singleproject&amp;id=31&amp;option=com_realestate&amp;Itemid=537">More Details</a>&nbsp;<strong>›</strong>
    </div>
</div>

<hr>

<div class="well col-md-4 pull-left ">
<h3 class="page-header">
	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=32&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		PARK XPRESS PHASE II - Baner	</a>
</h3>
      	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=32&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		<img class="img-polaroid" src="http://manage.goldenlandmarks.net//Park-Xpress-Baner-Pune-2-3-BHK-Flats-apartments.jpg">
	</a>
            
    <div>
<table class="table table-hover">
              <tbody><tr>
                <td class="col-md-5"><strong>Location:</strong></td>
                <td class="col-md-7">Baner</td>
              </tr>
              <tr>
                <td class="col-md-5"><strong>Type:</strong></td>
                <td class="col-md-7">Flat &amp; Appartment</td>
              </tr>
            </tbody></table>
   </div>
    <div class="modal-footer">
    <a href="/index.php?view=project&amp;layout=singleproject&amp;id=32&amp;option=com_realestate&amp;Itemid=537">More Details</a>&nbsp;<strong>›</strong>
    </div>
</div>

<hr>

<div class="well col-md-4 pull-left ">
<h3 class="page-header">
	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=33&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		Park Grandeur - Baner	</a>
</h3>
      	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=33&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		<img class="img-polaroid" src="http://manage.goldenlandmarks.net//Park-Grandeur-.jpg">
	</a>
            
    <div>
<table class="table table-hover">
              <tbody><tr>
                <td class="col-md-5"><strong>Location:</strong></td>
                <td class="col-md-7">Baner</td>
              </tr>
              <tr>
                <td class="col-md-5"><strong>Type:</strong></td>
                <td class="col-md-7">Flat &amp; Appartment</td>
              </tr>
            </tbody></table>
   </div>
    <div class="modal-footer">
    <a href="/index.php?view=project&amp;layout=singleproject&amp;id=33&amp;option=com_realestate&amp;Itemid=537">More Details</a>&nbsp;<strong>›</strong>
    </div>
</div>

<hr>

<div class="well col-md-4 pull-left ">
<h3 class="page-header">
	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=34&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		Pride Valencia Baner Pune	</a>
</h3>
      	<a href="/index.php?view=project&amp;layout=singleproject&amp;id=34&amp;option=com_realestate&amp;Itemid=537" rel="{size: {x: 700, y: 480}}">
		<img class="img-polaroid" src="http://manage.goldenlandmarks.net//Pride-Valencia-1.jpg">
	</a>
            
    <div>
<table class="table table-hover">
              <tbody><tr>
                <td class="col-md-5"><strong>Location:</strong></td>
                <td class="col-md-7">Baner</td>
              </tr>
              <tr>
                <td class="col-md-5"><strong>Type:</strong></td>
                <td class="col-md-7">Flat &amp; Appartment</td>
              </tr>
            </tbody></table>
   </div>
    <div class="modal-footer">
    <a href="/index.php?view=project&amp;layout=singleproject&amp;id=34&amp;option=com_realestate&amp;Itemid=537">More Details</a>&nbsp;<strong>›</strong>
    </div>
</div>

<hr>
<div class="clearfix"></div>
<div class="pagination">

<div class="pagination pagination-toolbar clearfix" style="text-align: center;">

			<div class="limit pull-right">
			Display #<select id="limit" name="limit" class="inputbox input-mini" size="1" onchange="this.form.submit()">
	<option value="5">5</option>
	<option value="10">10</option>
	<option value="15" selected="selected">15</option>
	<option value="20">20</option>
	<option value="25">25</option>
	<option value="30">30</option>
	<option value="50">50</option>
	<option value="100">100</option>
	<option value="0">All</option>
</select>
		</div>
	
			<ul class="pagination-list">
				<li class="disabled">
		<col-md-><i class="icon-backward"></i></col-md->
	</li>
	<li class="disabled">
		<col-md-><i class="icon-step-backward"></i></col-md->
	</li>
			
																	
					<li class="active">
		<col-md->1</col-md->
	</li>
			
																	
					<li>
		<a class="" href="#" onclick="document.adminForm.limitstart.value=15; Joomla.submitform();return false;">
			2		</a>
	</li>
							<li>
		<a class="hasTooltip" title="" href="#" onclick="document.adminForm.limitstart.value=15; Joomla.submitform();return false;" data-original-title="Next">
			<i class="icon-step-forward"></i>		</a>
	</li>
	<li>
		<a class="hasTooltip" title="" href="#" onclick="document.adminForm.limitstart.value=15; Joomla.submitform();return false;" data-original-title="End">
			<i class="icon-forward"></i>		</a>
	</li>
		</ul>
	
			<input type="hidden" name="limitstart" value="0">
	
</div>
</div>

</div>
 

</div>