<div class="col-md-9">
            	                
<div class="content"> 
		<a class="btn btn-primary" href="/index.php?view=default&amp;layout=default&amp;category=Industrial%20Property&amp;option=com_realestate&amp;Itemid=536" title="">Industrial Property</a><div class="divider-vertical pull-left"></div>
				<a class="btn btn-primary" href="/index.php?view=default&amp;layout=default&amp;category=Residential%20Property&amp;option=com_realestate&amp;Itemid=536" title="">Residential Property</a><div class="divider-vertical pull-left"></div>
				<a class="btn btn-primary" href="/index.php?view=default&amp;layout=default&amp;category=Commercial%20Property&amp;option=com_realestate&amp;Itemid=536" title="">Commercial Property</a><div class="divider-vertical pull-left"></div>
			

<div class="pagination">
		<div class="pagination pagination-toolbar clearfix" style="text-center;">

			<div class="limit pull-right">
			Display #<select id="limit" name="limit" class="inputbox input-mini" size="1" onchange="this.form.submit()">
	<option value="5">5</option>
	<option value="10">10</option>
	<option value="15" selected="selected">15</option>
	<option value="20">20</option>
	<option value="25">25</option>
	<option value="30">30</option>
	<option value="50">50</option>
	<option value="100">100</option>
	<option value="0">All</option>
</select>
		</div>
	
			<ul class="pagination-list">
				<li class="disabled">
		<span><i class="icon-backward"></i></span>
	</li>
	<li class="disabled">
		<span><i class="icon-step-backward"></i></span>
	</li>
			
																	
					<li class="active">
		<span>1</span>
	</li>
			
																	
					<li>
		<a class="" href="#" onclick="document.adminForm.limitstart.value=15; Joomla.submitform();return false;">
			2		</a>
	</li>
			
																	
					<li>
		<a class="" href="#" onclick="document.adminForm.limitstart.value=30; Joomla.submitform();return false;">
			3		</a>
	</li>
			
																	
					<li>
		<a class="" href="#" onclick="document.adminForm.limitstart.value=45; Joomla.submitform();return false;">
			4		</a>
	</li>
							<li>
		<a class="hasTooltip" title="" href="#" onclick="document.adminForm.limitstart.value=15; Joomla.submitform();return false;" data-original-title="Next">
			<i class="icon-step-forward"></i>		</a>
	</li>
	<li>
		<a class="hasTooltip" title="" href="#" onclick="document.adminForm.limitstart.value=45; Joomla.submitform();return false;" data-original-title="End">
			<i class="icon-forward"></i>		</a>
	</li>
		</ul>
	
			<input type="hidden" name="limitstart" value="0">
	
</div>

</div>


<div class="row-fluid featured-property">
        <div class="col-md-12 propList">
        <h4> <a href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=48&amp;Itemid=536">Pune R Zone Plan Pass Plot Land for Sale / Joint Venture JV Clear Title Single Owner Jaidev Landmarks 9527289192</a></h4>
        <div class="row-fluid">
        	<div class="col-md-3 ">
                    	<img class="img-polaroid img-responsive imglist img-thumbnail" src="http://manage.goldenlandmarks.net//Pune Residential R Zone Land Plot for sale &amp; Joint Venture JV Prime Location in Pune Jaidev Landmarks 9527289192.jpg" alt="Pune R Zone Plan Pass Plot Land for Sale / Joint Venture JV Clear Title Single Owner Jaidev Landmarks 9527289192" style="max-width:93%">
                    
        
        	</div>
        	<div class="col-md-9 ">
            
                <div class="row-fluid">
                    <div class="col-md-12 propListItem">
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Property Type
                            </div>
                        	<div class="col-md-9">
                            Pune R Zone Land / Plot ⇒<strong> For Sale</strong>
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Built Up
                            </div>
                        	<div class="col-md-9">
                           24 Acre,  Bedroom(s),  Bathroom(s)
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Location
                            </div>
                        	<div class="col-md-9">
                            Prime Location Pune                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Price
                            </div>
                        	<div class="col-md-9">
                            Call for Price!                            </div>
                        </div>
                    	<div class="row-fluid">
                            <div class="col-md-12 propListItem">
                              <div class="btn-group">
                                <a class="btn btn-info" href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=48&amp;Itemid=536" rel="{size: {x: 700, y: 480}}">More Detail</a>
                                <a class="btn btn-info" href="/index.php?view=Default&amp;layout=Email&amp;id=48&amp;propTitle=Pune%20R%20Zone%20Plan%20Pass%20Plot%20Land%20for%20Sale%20/%20Joint%20Venture%20JV%20Clear%20Title%20Single%20Owner%20Jaidev%20Landmarks%209527289192&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 550, y: 480}}">Send Enquiry</a>
                                 <a class="btn btn-info" href="/index.php?view=Default&amp;layout=prop-contact&amp;id=48&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 400, y: 380}}">Contact</a>
                              </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        </div>
        </div>



<div class="row-fluid featured-property ">
        <div class="col-md-12 propList">
        <h4> <a href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=36&amp;Itemid=536">3 BHK Flat for sale resale in Park Titanium, Park Street Wakad Pune Pride Purple Group Call Jaidev 9527289192</a></h4>
        <div class="row-fluid">
        	<div class="col-md-3">
                    	<img class="img-polaroid img-responsive imglist img-thumbnail" src="http://manage.goldenlandmarks.net//1402063988-3 4 bhk flat for sale in park Titanium park street wakad pune jaidev landmarks 9881502939.jpg" alt="3 BHK Flat for sale resale in Park Titanium, Park Street Wakad Pune Pride Purple Group Call Jaidev 9527289192" style="max-width:93%">
                    
        
        	</div>
        	<div class="col-md-9">
            
                <div class="row-fluid">
                    <div class="col-md-12 propListItem">
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Property Type
                            </div>
                        	<div class="col-md-9">
                            3 BHK ⇒<strong> For Sale</strong>
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Built Up
                            </div>
                        	<div class="col-md-9">
                           2020 , 3 Bedroom(s), 3 Bathroom(s)
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Location
                            </div>
                        	<div class="col-md-9">
                            Park Titanium, Park Street, Wakad Pune                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Price
                            </div>
                        	<div class="col-md-9">
                            Call for Price!                            </div>
                        </div>
                    	<div class="row-fluid">
                            <div class="col-md-12 propListItem">
                              <div class="btn-group">
                                <a class="btn btn-info" href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=36&amp;Itemid=536" rel="{size: {x: 700, y: 480}}">More Detail</a>
                                <a class="btn btn-info" href="/index.php?view=Default&amp;layout=Email&amp;id=36&amp;propTitle=3%20BHK%20Flat%20for%20sale%20resale%20in%20Park%20Titanium,%20Park%20Street%20Wakad%20Pune%20Pride%20Purple%20Group%20Call%20Jaidev%209527289192&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 550, y: 480}}">Send Enquiry</a>
                                 <a class="btn btn-info" href="/index.php?view=Default&amp;layout=prop-contact&amp;id=36&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 400, y: 380}}">Contact</a>
                              </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        </div>
        </div>



<div class="row-fluid featured-property">
        <div class="col-md-12 propList">
        <h4> <a href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=58&amp;Itemid=536">Wakad Park Street 5 BHK Bungalow / Villa for sale resale rent with servant room in Diamond Park street Wakad Pune Call 9527289192 </a></h4>
        <div class="row-fluid">
        	<div class="col-md-3">
                    	<img class="img-polaroid img-responsive imglist img-thumbnail" src="http://manage.goldenlandmarks.net/uploaded-files/no-image.jpg" alt="Wakad Park Street 5 BHK Bungalow / Villa for sale resale rent with servant room in Diamond Park street Wakad Pune Call 9527289192 " style="max-width:93%">
                    
        
        	</div>
        	<div class="col-md-9">
            
                <div class="row-fluid">
                    <div class="col-md-12 propListItem">
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Property Type
                            </div>
                        	<div class="col-md-9">
                            Bungalow / Villa ⇒<strong> For Sale</strong>
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Built Up
                            </div>
                        	<div class="col-md-9">
                           3420 Sq. Feet, 5 Bedroom(s), 4 Bathroom(s)
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Location
                            </div>
                        	<div class="col-md-9">
                            Diamond Park Bungalow Park Street wakad Pune                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Price
                            </div>
                        	<div class="col-md-9">
                            Call for Price!                            </div>
                        </div>
                    	<div class="row-fluid">
                            <div class="col-md-12 propListItem">
                              <div class="btn-group">
                                <a class="btn btn-info" href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=58&amp;Itemid=536" rel="{size: {x: 700, y: 480}}">More Detail</a>
                                <a class="btn btn-info" href="/index.php?view=Default&amp;layout=Email&amp;id=58&amp;propTitle=Wakad%20Park%20Street%205%20BHK%20Bungalow%20/%20Villa%20for%20sale%20resale%20rent%20with%20servant%20room%20in%20Diamond%20Park%20street%20Wakad%20Pune%20Call%209527289192%20&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 550, y: 480}}">Send Enquiry</a>
                                 <a class="btn btn-info" href="/index.php?view=Default&amp;layout=prop-contact&amp;id=58&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 400, y: 380}}">Contact</a>
                              </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        </div>
        </div>



<div class="row-fluid featured-property">
        <div class="col-md-12 propList">
        <h4> <a href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=47&amp;Itemid=536">Pune Land 50+ Acres 100+ Acres 150+ Acres Land / Plot Plan Pass for Sale or Joint Venture Jv in Pune Jaidev Landmarks 9527289192</a></h4>
        <div class="row-fluid">
        	<div class="col-md-3">
                    	<img class="img-polaroid img-responsive imglist img-thumbnail" src="http://manage.goldenlandmarks.net//Pune 50+ 100+ 150+ Acres Land Plot for Sale Joint Venture JV in Pune Plan Pass Jaidev Landmarks 9527289192.jpg" alt="Pune Land 50+ Acres 100+ Acres 150+ Acres Land / Plot Plan Pass for Sale or Joint Venture Jv in Pune Jaidev Landmarks 9527289192" style="max-width:93%">
                    
        
        	</div>
        	<div class="col-md-9">
            
                <div class="row-fluid">
                    <div class="col-md-12 propListItem">
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Property Type
                            </div>
                        	<div class="col-md-9">
                            100+ Acres Land Township ⇒<strong> For Sale</strong>
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Built Up
                            </div>
                        	<div class="col-md-9">
                           111 Acre,  Bedroom(s),  Bathroom(s)
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Location
                            </div>
                        	<div class="col-md-9">
                            Prime Location Pune                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Price
                            </div>
                        	<div class="col-md-9">
                            Call for Price!                            </div>
                        </div>
                    	<div class="row-fluid">
                            <div class="col-md-12 propListItem">
                              <div class="btn-group">
                                <a class="btn btn-info" href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=47&amp;Itemid=536" rel="{size: {x: 700, y: 480}}">More Detail</a>
                                <a class="btn btn-info" href="/index.php?view=Default&amp;layout=Email&amp;id=47&amp;propTitle=Pune%20Land%2050%20%20Acres%20100%20%20Acres%20150%20%20Acres%20Land%20/%20Plot%20Plan%20Pass%20for%20Sale%20or%20Joint%20Venture%20Jv%20in%20Pune%20Jaidev%20Landmarks%209527289192&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 550, y: 480}}">Send Enquiry</a>
                                 <a class="btn btn-info" href="/index.php?view=Default&amp;layout=prop-contact&amp;id=47&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 400, y: 380}}">Contact</a>
                              </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        </div>
        </div>



<div class="row-fluid featured-property">
        <div class="col-md-12 propList">
        <h4> <a href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=57&amp;Itemid=536">Wakad Park street 2 3 4 BHK Flat for rent in Sapphire Park Ruby Park Park Turquoise Park Titanium in Park street wakad Pune call 9527289192 </a></h4>
        <div class="row-fluid">
        	<div class="col-md-3">
                    	<img class="img-polaroid img-responsive imglist img-thumbnail" src="http://manage.goldenlandmarks.net/uploaded-files/no-image.jpg" alt="Wakad Park street 2 3 4 BHK Flat for rent in Sapphire Park Ruby Park Park Turquoise Park Titanium in Park street wakad Pune call 9527289192 " style="max-width:93%">
                    
        
        	</div>
        	<div class="col-md-9">
            
                <div class="row-fluid">
                    <div class="col-md-12 propListItem">
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Property Type
                            </div>
                        	<div class="col-md-9">
                            Flat ⇒<strong> For Rent</strong>
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Built Up
                            </div>
                        	<div class="col-md-9">
                           1551 Sq. Feet, 3 Bedroom(s), 3 Bathroom(s)
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Location
                            </div>
                        	<div class="col-md-9">
                            Park street wakad Pune                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Price
                            </div>
                        	<div class="col-md-9">
                            Call for Price!                            </div>
                        </div>
                    	<div class="row-fluid">
                            <div class="col-md-12 propListItem">
                              <div class="btn-group">
                                <a class="btn btn-info" href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=57&amp;Itemid=536" rel="{size: {x: 700, y: 480}}">More Detail</a>
                                <a class="btn btn-info" href="/index.php?view=Default&amp;layout=Email&amp;id=57&amp;propTitle=Wakad%20Park%20street%202%203%204%20BHK%20Flat%20for%20rent%20in%20Sapphire%20Park%20Ruby%20Park%20Park%20Turquoise%20Park%20Titanium%20in%20Park%20street%20wakad%20Pune%20call%209527289192%20&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 550, y: 480}}">Send Enquiry</a>
                                 <a class="btn btn-info" href="/index.php?view=Default&amp;layout=prop-contact&amp;id=57&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 400, y: 380}}">Contact</a>
                              </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        </div>
        </div>



<div class="row-fluid featured-property">
        <div class="col-md-12 propList">
        <h4> <a href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=63&amp;Itemid=536">NRIs invest in India real estates Make in India &amp; become a partner with leading developers call 9527289192 Pune Mumbai Thane Bangalore city tier1 &amp; 2 in India</a></h4>
        <div class="row-fluid">
        	<div class="col-md-3">
                    	<img class="img-polaroid img-responsive imglist img-thumbnail" src="http://manage.goldenlandmarks.net/uploaded-files/no-image.jpg" alt="NRIs invest in India real estates Make in India &amp; become a partner with leading developers call 9527289192 Pune Mumbai Thane Bangalore city tier1 &amp; 2 in India" style="max-width:93%">
                    
        
        	</div>
        	<div class="col-md-9">
            
                <div class="row-fluid">
                    <div class="col-md-12 propListItem">
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Property Type
                            </div>
                        	<div class="col-md-9">
                            NRIs Property India ⇒<strong> For Sale</strong>
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Built Up
                            </div>
                        	<div class="col-md-9">
                           60 Acre,  Bedroom(s),  Bathroom(s)
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Location
                            </div>
                        	<div class="col-md-9">
                            Pune India                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Price
                            </div>
                        	<div class="col-md-9">
                            Call for Price!                            </div>
                        </div>
                    	<div class="row-fluid">
                            <div class="col-md-12 propListItem">
                              <div class="btn-group">
                                <a class="btn btn-info" href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=63&amp;Itemid=536" rel="{size: {x: 700, y: 480}}">More Detail</a>
                                <a class="btn btn-info" href="/index.php?view=Default&amp;layout=Email&amp;id=63&amp;propTitle=NRIs%20invest%20in%20India%20real%20estates%20Make%20in%20India%20&amp;become_a_partner_with_leading_developers_call_9527289192_Pune_Mumbai_Thane_Bangalore_city_tier1_=&amp;2_in_India=&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 550, y: 480}}">Send Enquiry</a>
                                 <a class="btn btn-info" href="/index.php?view=Default&amp;layout=prop-contact&amp;id=63&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 400, y: 380}}">Contact</a>
                              </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        </div>
        </div>



<div class="row-fluid featured-property">
        <div class="col-md-12 propList">
        <h4> <a href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=41&amp;Itemid=536">Park Royale 3 BHK Flat for sale resale at Rahtani Pimple Saudagar Jaidev Landmarks</a></h4>
        <div class="row-fluid">
        	<div class="col-md-3">
                    	<img class="img-polaroid img-responsive imglist img-thumbnail" src="http://manage.goldenlandmarks.net//1405257832-ParkRoyale 2 2.5 3 BHK flats appartments for sale in Pimple Saudagar Park Royale Pride Jaidev Landmarks 9881502939.jpg" alt="Park Royale 3 BHK Flat for sale resale at Rahtani Pimple Saudagar Jaidev Landmarks" style="max-width:93%">
                    
        
        	</div>
        	<div class="col-md-9">
            
                <div class="row-fluid">
                    <div class="col-md-12 propListItem">
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Property Type
                            </div>
                        	<div class="col-md-9">
                            2 2.5 3 BHK Flats ⇒<strong> For Sale</strong>
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Built Up
                            </div>
                        	<div class="col-md-9">
                           1550 Sq. Feet, 3 Bedroom(s), 3 Bathroom(s)
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Location
                            </div>
                        	<div class="col-md-9">
                            Rahtani Pimple Saudagar Pune                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Price
                            </div>
                        	<div class="col-md-9">
                            Call for Price!                            </div>
                        </div>
                    	<div class="row-fluid">
                            <div class="col-md-12 propListItem">
                              <div class="btn-group">
                                <a class="btn btn-info" href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=41&amp;Itemid=536" rel="{size: {x: 700, y: 480}}">More Detail</a>
                                <a class="btn btn-info" href="/index.php?view=Default&amp;layout=Email&amp;id=41&amp;propTitle=Park%20Royale%203%20BHK%20Flat%20for%20sale%20resale%20at%20Rahtani%20Pimple%20Saudagar%20Jaidev%20Landmarks&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 550, y: 480}}">Send Enquiry</a>
                                 <a class="btn btn-info" href="/index.php?view=Default&amp;layout=prop-contact&amp;id=41&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 400, y: 380}}">Contact</a>
                              </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        </div>
        </div>



<div class="row-fluid featured-property">
        <div class="col-md-12 propList">
        <h4> <a href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=43&amp;Itemid=536">CHAKAN MIDC 24000 Sq Ft Industrial Shed Factory on Rent Lease Pune Jaidev Properties</a></h4>
        <div class="row-fluid">
        	<div class="col-md-3">
                    	<img class="img-polaroid img-responsive imglist img-thumbnail" src="http://manage.goldenlandmarks.net//24 baner 24.jpg" alt="CHAKAN MIDC 24000 Sq Ft Industrial Shed Factory on Rent Lease Pune Jaidev Properties" style="max-width:93%">
                    
        
        	</div>
        	<div class="col-md-9">
            
                <div class="row-fluid">
                    <div class="col-md-12 propListItem">
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Property Type
                            </div>
                        	<div class="col-md-9">
                            Industrial Shed ⇒<strong> For Rent</strong>
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Built Up
                            </div>
                        	<div class="col-md-9">
                           24000 Sq. Feet,  Bedroom(s), 6 Bathroom(s)
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Location
                            </div>
                        	<div class="col-md-9">
                            Chakan MIDC Pune                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Price
                            </div>
                        	<div class="col-md-9">
                            Call for Price!                            </div>
                        </div>
                    	<div class="row-fluid">
                            <div class="col-md-12 propListItem">
                              <div class="btn-group">
                                <a class="btn btn-info" href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=43&amp;Itemid=536" rel="{size: {x: 700, y: 480}}">More Detail</a>
                                <a class="btn btn-info" href="/index.php?view=Default&amp;layout=Email&amp;id=43&amp;propTitle=CHAKAN%20MIDC%2024000%20Sq%20Ft%20Industrial%20Shed%20Factory%20on%20Rent%20Lease%20Pune%20Jaidev%20Properties&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 550, y: 480}}">Send Enquiry</a>
                                 <a class="btn btn-info" href="/index.php?view=Default&amp;layout=prop-contact&amp;id=43&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 400, y: 380}}">Contact</a>
                              </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        </div>
        </div>



<div class="row-fluid featured-property">
        <div class="col-md-12 propList">
        <h4> <a href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=50&amp;Itemid=536">khjkhk</a></h4>
        <div class="row-fluid">
        	<div class="col-md-3">
                    	<img class="img-polaroid img-responsive imglist img-thumbnail" src="http://manage.goldenlandmarks.net/uploaded-files/3 4 5 BHK twin bungalows villa liferepublic hinjewadi for sale resale rent.jpg" alt="khjkhk" style="max-width:93%">
                    
        
        	</div>
        	<div class="col-md-9">
            
                <div class="row-fluid">
                    <div class="col-md-12 propListItem">
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Property Type
                            </div>
                        	<div class="col-md-9">
                            flat ⇒<strong> For Sale</strong>
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Built Up
                            </div>
                        	<div class="col-md-9">
                           333 Sq. Feet, 5 Bedroom(s),  Bathroom(s)
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Location
                            </div>
                        	<div class="col-md-9">
                            kjk                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Price
                            </div>
                        	<div class="col-md-9">
                            Call for Price!                            </div>
                        </div>
                    	<div class="row-fluid">
                            <div class="col-md-12 propListItem">
                              <div class="btn-group">
                                <a class="btn btn-info" href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=50&amp;Itemid=536" rel="{size: {x: 700, y: 480}}">More Detail</a>
                                <a class="btn btn-info" href="/index.php?view=Default&amp;layout=Email&amp;id=50&amp;propTitle=khjkhk&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 550, y: 480}}">Send Enquiry</a>
                                 <a class="btn btn-info" href="/index.php?view=Default&amp;layout=prop-contact&amp;id=50&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 400, y: 380}}">Contact</a>
                              </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        </div>
        </div>



<div class="row-fluid featured-property">
        <div class="col-md-12 propList">
        <h4> <a href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=46&amp;Itemid=536">Park Titanium 3 BHK Flat for sale resale rent in Park Street Wakad Jaidev Landmarks 9527289192</a></h4>
        <div class="row-fluid">
        	<div class="col-md-3">
                    	<img class="img-polaroid img-responsive imglist img-thumbnail" src="http://manage.goldenlandmarks.net//Wakad Park Titanium 3 &amp; 4 Bhk flat for sale resale in Wakad Park street Pride Purple Group Jaidev Landmmarks 9527289192.jpg" alt="Park Titanium 3 BHK Flat for sale resale rent in Park Street Wakad Jaidev Landmarks 9527289192" style="max-width:93%">
                    
        
        	</div>
        	<div class="col-md-9">
            
                <div class="row-fluid">
                    <div class="col-md-12 propListItem">
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Property Type
                            </div>
                        	<div class="col-md-9">
                            3 &amp; 4 BHK Flat ⇒<strong> For Sale</strong>
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Built Up
                            </div>
                        	<div class="col-md-9">
                           2022 Sq. Feet, 3 Bedroom(s), 3 Bathroom(s)
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Location
                            </div>
                        	<div class="col-md-9">
                            Park Titanium Wakad Pune                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Price
                            </div>
                        	<div class="col-md-9">
                            Call for Price!                            </div>
                        </div>
                    	<div class="row-fluid">
                            <div class="col-md-12 propListItem">
                              <div class="btn-group">
                                <a class="btn btn-info" href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=46&amp;Itemid=536" rel="{size: {x: 700, y: 480}}">More Detail</a>
                                <a class="btn btn-info" href="/index.php?view=Default&amp;layout=Email&amp;id=46&amp;propTitle=Park%20Titanium%203%20BHK%20Flat%20for%20sale%20resale%20rent%20in%20Park%20Street%20Wakad%20Jaidev%20Landmarks%209527289192&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 550, y: 480}}">Send Enquiry</a>
                                 <a class="btn btn-info" href="/index.php?view=Default&amp;layout=prop-contact&amp;id=46&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 400, y: 380}}">Contact</a>
                              </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        </div>
        </div>



<div class="row-fluid featured-property">
        <div class="col-md-12 propList">
        <h4> <a href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=71&amp;Itemid=536">Pune 100+ acres plot / Land for Sale / JV Joint Venture in Around Pune Call 9527289192.</a></h4>
        <div class="row-fluid">
        	<div class="col-md-3">
                    	<img class="img-polaroid img-responsive imglist img-thumbnail" src="http://manage.goldenlandmarks.net/uploaded-files/no-image.jpg" alt="Pune 100+ acres plot / Land for Sale / JV Joint Venture in Around Pune Call 9527289192." style="max-width:93%">
                    
        
        	</div>
        	<div class="col-md-9">
            
                <div class="row-fluid">
                    <div class="col-md-12 propListItem">
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Property Type
                            </div>
                        	<div class="col-md-9">
                            Land ⇒<strong> For Sale</strong>
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Built Up
                            </div>
                        	<div class="col-md-9">
                           100 Acre,  Bedroom(s),  Bathroom(s)
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Location
                            </div>
                        	<div class="col-md-9">
                            Pune                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Price
                            </div>
                        	<div class="col-md-9">
                            Call for Price!                            </div>
                        </div>
                    	<div class="row-fluid">
                            <div class="col-md-12 propListItem">
                              <div class="btn-group">
                                <a class="btn btn-info" href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=71&amp;Itemid=536" rel="{size: {x: 700, y: 480}}">More Detail</a>
                                <a class="btn btn-info" href="/index.php?view=Default&amp;layout=Email&amp;id=71&amp;propTitle=Pune%20100%20%20acres%20plot%20/%20Land%20for%20Sale%20/%20JV%20Joint%20Venture%20in%20Around%20Pune%20Call%209527289192.&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 550, y: 480}}">Send Enquiry</a>
                                 <a class="btn btn-info" href="/index.php?view=Default&amp;layout=prop-contact&amp;id=71&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 400, y: 380}}">Contact</a>
                              </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        </div>
        </div>



<div class="row-fluid featured-property">
        <div class="col-md-12 propList">
        <h4> <a href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=51&amp;Itemid=536">prop title</a></h4>
        <div class="row-fluid">
        	<div class="col-md-3">
                    	<img class="img-polaroid img-responsive imglist img-thumbnail" src="http://manage.goldenlandmarks.net/uploaded-files/3 4 5 BHK twin bungalows villa liferepublic hinjewadi for sale resale rent.jpg" alt="prop title" style="max-width:93%">
                    
        
        	</div>
        	<div class="col-md-9">
            
                <div class="row-fluid">
                    <div class="col-md-12 propListItem">
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Property Type
                            </div>
                        	<div class="col-md-9">
                            f ⇒<strong> For Sale</strong>
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Built Up
                            </div>
                        	<div class="col-md-9">
                           444 Sq. Feet, 2 Bedroom(s), 1 Bathroom(s)
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Location
                            </div>
                        	<div class="col-md-9">
                            pune                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Price
                            </div>
                        	<div class="col-md-9">
                            Call for Price!                            </div>
                        </div>
                    	<div class="row-fluid">
                            <div class="col-md-12 propListItem">
                              <div class="btn-group">
                                <a class="btn btn-info" href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=51&amp;Itemid=536" rel="{size: {x: 700, y: 480}}">More Detail</a>
                                <a class="btn btn-info" href="/index.php?view=Default&amp;layout=Email&amp;id=51&amp;propTitle=prop%20title&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 550, y: 480}}">Send Enquiry</a>
                                 <a class="btn btn-info" href="/index.php?view=Default&amp;layout=prop-contact&amp;id=51&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 400, y: 380}}">Contact</a>
                              </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        </div>
        </div>



<div class="row-fluid featured-property">
        <div class="col-md-12 propList">
        <h4> <a href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=37&amp;Itemid=536">4 BHK Flat for sale resale in Park Titanium Wakad Park street Pride Purple Group </a></h4>
        <div class="row-fluid">
        	<div class="col-md-3">
                    	<img class="img-polaroid img-responsive imglist img-thumbnail" src="http://manage.goldenlandmarks.net//3 4 bhk flat for sale in park Titanium park street wakad pune jaidev landmarks 9881502939.jpg" alt="4 BHK Flat for sale resale in Park Titanium Wakad Park street Pride Purple Group " style="max-width:93%">
                    
        
        	</div>
        	<div class="col-md-9">
            
                <div class="row-fluid">
                    <div class="col-md-12 propListItem">
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Property Type
                            </div>
                        	<div class="col-md-9">
                            Flat ⇒<strong> For Sale</strong>
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Built Up
                            </div>
                        	<div class="col-md-9">
                           2600 , 4 Bedroom(s), 4 Bathroom(s)
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Location
                            </div>
                        	<div class="col-md-9">
                            Park Titanium, Park Street Wakad                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Price
                            </div>
                        	<div class="col-md-9">
                            Call for Price!                            </div>
                        </div>
                    	<div class="row-fluid">
                            <div class="col-md-12 propListItem">
                              <div class="btn-group">
                                <a class="btn btn-info" href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=37&amp;Itemid=536" rel="{size: {x: 700, y: 480}}">More Detail</a>
                                <a class="btn btn-info" href="/index.php?view=Default&amp;layout=Email&amp;id=37&amp;propTitle=4%20BHK%20Flat%20for%20sale%20resale%20in%20Park%20Titanium%20Wakad%20Park%20street%20Pride%20Purple%20Group%20&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 550, y: 480}}">Send Enquiry</a>
                                 <a class="btn btn-info" href="/index.php?view=Default&amp;layout=prop-contact&amp;id=37&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 400, y: 380}}">Contact</a>
                              </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        </div>
        </div>



<div class="row-fluid featured-property">
        <div class="col-md-12 propList">
        <h4> <a href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=68&amp;Itemid=536">Pune Pimpri Chinchwad Commercial Plot Plan Pass for Sale or JD Joint Development in Pune Primpri Chinchwad Prime Location Call 9527289192</a></h4>
        <div class="row-fluid">
        	<div class="col-md-3">
                    	<img class="img-polaroid img-responsive imglist img-thumbnail" src="http://manage.goldenlandmarks.net/uploaded-files/no-image.jpg" alt="Pune Pimpri Chinchwad Commercial Plot Plan Pass for Sale or JD Joint Development in Pune Primpri Chinchwad Prime Location Call 9527289192" style="max-width:93%">
                    
        
        	</div>
        	<div class="col-md-9">
            
                <div class="row-fluid">
                    <div class="col-md-12 propListItem">
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Property Type
                            </div>
                        	<div class="col-md-9">
                            Land ⇒<strong> For Sale</strong>
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Built Up
                            </div>
                        	<div class="col-md-9">
                           6 Acre,  Bedroom(s),  Bathroom(s)
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Location
                            </div>
                        	<div class="col-md-9">
                            Pune                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Price
                            </div>
                        	<div class="col-md-9">
                            Call for Price!                            </div>
                        </div>
                    	<div class="row-fluid">
                            <div class="col-md-12 propListItem">
                              <div class="btn-group">
                                <a class="btn btn-info" href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=68&amp;Itemid=536" rel="{size: {x: 700, y: 480}}">More Detail</a>
                                <a class="btn btn-info" href="/index.php?view=Default&amp;layout=Email&amp;id=68&amp;propTitle=Pune%20Pimpri%20Chinchwad%20Commercial%20Plot%20Plan%20Pass%20for%20Sale%20or%20JD%20Joint%20Development%20in%20Pune%20Primpri%20Chinchwad%20Prime%20Location%20Call%209527289192&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 550, y: 480}}">Send Enquiry</a>
                                 <a class="btn btn-info" href="/index.php?view=Default&amp;layout=prop-contact&amp;id=68&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 400, y: 380}}">Contact</a>
                              </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        </div>
        </div>



<div class="row-fluid featured-property">
        <div class="col-md-12 propList">
        <h4> <a href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=74&amp;Itemid=536">Park Turquoise 2 2.5 3 BHK Flat for sale resale rent in Park Street Wakad Pride Purple group by Jaidev Landmarks 9527289192</a></h4>
        <div class="row-fluid">
        	<div class="col-md-3">
                    	<img class="img-polaroid img-responsive imglist img-thumbnail" src="http://manage.goldenlandmarks.net/uploaded-files/Park-Turquoise/Park-Turquoise-Park-Street-Wakad-Pune-2.jpg" alt="Park Turquoise 2 2.5 3 BHK Flat for sale resale rent in Park Street Wakad Pride Purple group by Jaidev Landmarks 9527289192" style="max-width:93%">
                    
        
        	</div>
        	<div class="col-md-9">
            
                <div class="row-fluid">
                    <div class="col-md-12 propListItem">
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Property Type
                            </div>
                        	<div class="col-md-9">
                            Flats Apartments ⇒<strong> For Sale</strong>
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Built Up
                            </div>
                        	<div class="col-md-9">
                           1385 Sq. Feet, 3 Bedroom(s), 2 Bathroom(s)
                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Location
                            </div>
                        	<div class="col-md-9">
                            Park Turquoise, Park Street Wakad, Pune                            </div>
                        </div>
                    	<div class="row-fluid">
                        	<div class="col-md-3">
                            Price
                            </div>
                        	<div class="col-md-9">
                            Call for Price!                            </div>
                        </div>
                    	<div class="row-fluid">
                            <div class="col-md-12 propListItem">
                              <div class="btn-group">
                                <a class="btn btn-info" href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=74&amp;Itemid=536" rel="{size: {x: 700, y: 480}}">More Detail</a>
                                <a class="btn btn-info" href="/index.php?view=Default&amp;layout=Email&amp;id=74&amp;propTitle=Park%20Turquoise%202%202.5%203%20BHK%20Flat%20for%20sale%20resale%20rent%20in%20Park%20Street%20Wakad%20Pride%20Purple%20group%20by%20Jaidev%20Landmarks%209527289192&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 550, y: 480}}">Send Enquiry</a>
                                 <a class="btn btn-info" href="/index.php?view=Default&amp;layout=prop-contact&amp;id=74&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 400, y: 380}}">Contact</a>
                              </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        </div>
        </div>

<div class="pagination">

<div class="pagination pagination-toolbar clearfix" style="text-align: center;">

			<div class="limit pull-right">
			Display #<select id="limit" name="limit" class="inputbox input-mini" size="1" onchange="this.form.submit()">
	<option value="5">5</option>
	<option value="10">10</option>
	<option value="15" selected="selected">15</option>
	<option value="20">20</option>
	<option value="25">25</option>
	<option value="30">30</option>
	<option value="50">50</option>
	<option value="100">100</option>
	<option value="0">All</option>
</select>
		</div>
	
			<ul class="pagination-list">
				<li class="disabled">
		<col-md-><i class="icon-backward"></i></col-md->
	</li>
	<li class="disabled">
		<col-md-><i class="icon-step-backward"></i></col-md->
	</li>
			
																	
					<li class="active">
		<col-md->1</col-md->
	</li>
			
																	
					<li>
		<a class="" href="#" onclick="document.adminForm.limitstart.value=15; Joomla.submitform();return false;">
			2		</a>
	</li>
			
																	
					<li>
		<a class="" href="#" onclick="document.adminForm.limitstart.value=30; Joomla.submitform();return false;">
			3		</a>
	</li>
			
																	
					<li>
		<a class="" href="#" onclick="document.adminForm.limitstart.value=45; Joomla.submitform();return false;">
			4		</a>
	</li>
							<li>
		<a class="hasTooltip" title="" href="#" onclick="document.adminForm.limitstart.value=15; Joomla.submitform();return false;" data-original-title="Next">
			<i class="icon-step-forward"></i>		</a>
	</li>
	<li>
		<a class="hasTooltip" title="" href="#" onclick="document.adminForm.limitstart.value=45; Joomla.submitform();return false;" data-original-title="End">
			<i class="icon-forward"></i>		</a>
	</li>
		</ul>
	
			<input type="hidden" name="limitstart" value="0">
	
</div>
</div>


</div> <!-- Main Component -->
                
                                
            </div>