<div class="col-md-9">
            	                
<div class="content"> 
	
	
	<div class="btn-toolbar" role="toolbar" aria-label="">
		<a class="btn-group" href="/index.php?view=default&amp;layout=default&amp;category=Industrial%20Property&amp;option=com_realestate&amp;Itemid=536" role="group" title="">Industrial Property</a><div class="divider-vertical pull-left"></div>
				<a class="btn-toolbar" href="/index.php?view=default&amp;layout=default&amp;category=Residential%20Property&amp;option=com_realestate&amp;Itemid=536" role="group" title="">Residential Property</a><div class="divider-vertical pull-left"></div>
				<a class="btn-toolbar" href="/index.php?view=default&amp;layout=default&amp;category=Commercial%20Property&amp;option=com_realestate&amp;Itemid=536" role="group" title="">Commercial Property</a><div class="divider-vertical pull-left"></div>
	</div>
			




<div class="row featured-property">
        <div class="col-md-12 propList">
        <h4> <a href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=48&amp;Itemid=536">Pune R Zone Plan Pass Plot Land for Sale / Joint Venture JV Clear Title Single Owner Jaidev Landmarks 9527289192</a></h4>
        <div class="row">
        	<div class="col-md-3 ">
                    	<img class="img-polaroid img-responsive imglist img-thumbnail" src="http://manage.goldenlandmarks.net//Pune Residential R Zone Land Plot for sale &amp; Joint Venture JV Prime Location in Pune Jaidev Landmarks 9527289192.jpg" alt="Pune R Zone Plan Pass Plot Land for Sale / Joint Venture JV Clear Title Single Owner Jaidev Landmarks 9527289192" style="max-width:93%">
                    
        
        	</div>
        	<div class="col-md-9 ">
            
                <div class="row">
                    <div class="col-md-12 propListItem">
                    	<div class="row">
                        	<div class="col-md-3">
                            Property Type
                            </div>
                        	<div class="col-md-9">
                            Pune R Zone Land / Plot ⇒<strong> For Sale</strong>
                            </div>
                        </div>
                    	<div class="row">
                        	<div class="col-md-3">
                            Built Up
                            </div>
                        	<div class="col-md-9">
                           24 Acre,  Bedroom(s),  Bathroom(s)
                            </div>
                        </div>
                    	<div class="row">
                        	<div class="col-md-3">
                            Location
                            </div>
                        	<div class="col-md-9">
                            Prime Location Pune                            </div>
                        </div>
                    	<div class="row">
                        	<div class="col-md-3">
                            Price
                            </div>
                        	<div class="col-md-9">
                            Call for Price!                            </div>
                        </div>
                    	<div class="row">
                            <div class="col-md-12 propListItem">
                              <div class="btn-group">
                                <a class="btn btn-info" href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=48&amp;Itemid=536" rel="{size: {x: 700, y: 480}}">More Detail</a>
                                <a class="btn btn-info" href="/index.php?view=Default&amp;layout=Email&amp;id=48&amp;propTitle=Pune%20R%20Zone%20Plan%20Pass%20Plot%20Land%20for%20Sale%20/%20Joint%20Venture%20JV%20Clear%20Title%20Single%20Owner%20Jaidev%20Landmarks%209527289192&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 550, y: 480}}">Send Enquiry</a>
                                 <a class="btn btn-info" href="/index.php?view=Default&amp;layout=prop-contact&amp;id=48&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 400, y: 380}}">Contact</a>
                              </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        </div>
        </div>



<div class="row featured-property ">
        <div class="col-md-12 propList">
        <h4> <a href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=36&amp;Itemid=536">3 BHK Flat for sale resale in Park Titanium, Park Street Wakad Pune Pride Purple Group Call Jaidev 9527289192</a></h4>
        <div class="row">
        	<div class="col-md-3">
                    	<img class="img-polaroid img-responsive imglist img-thumbnail" src="http://manage.goldenlandmarks.net//1402063988-3 4 bhk flat for sale in park Titanium park street wakad pune jaidev landmarks 9881502939.jpg" alt="3 BHK Flat for sale resale in Park Titanium, Park Street Wakad Pune Pride Purple Group Call Jaidev 9527289192" style="max-width:93%">
                    
        
        	</div>
        	<div class="col-md-9">
            
                <div class="row">
                    <div class="col-md-12 propListItem">
                    	<div class="row">
                        	<div class="col-md-3">
                            Property Type
                            </div>
                        	<div class="col-md-9">
                            3 BHK ⇒<strong> For Sale</strong>
                            </div>
                        </div>
                    	<div class="row">
                        	<div class="col-md-3">
                            Built Up
                            </div>
                        	<div class="col-md-9">
                           2020 , 3 Bedroom(s), 3 Bathroom(s)
                            </div>
                        </div>
                    	<div class="row">
                        	<div class="col-md-3">
                            Location
                            </div>
                        	<div class="col-md-9">
                            Park Titanium, Park Street, Wakad Pune                            </div>
                        </div>
                    	<div class="row">
                        	<div class="col-md-3">
                            Price
                            </div>
                        	<div class="col-md-9">
                            Call for Price!                            </div>
                        </div>
                    	<div class="row">
                            <div class="col-md-12 propListItem">
                              <div class="btn-group">
                                <a class="btn btn-info" href="/index.php?option=com_realestate&amp;view=default&amp;layout=singleproperty&amp;id=36&amp;Itemid=536" rel="{size: {x: 700, y: 480}}">More Detail</a>
                                <a class="btn btn-info" href="/index.php?view=Default&amp;layout=Email&amp;id=36&amp;propTitle=3%20BHK%20Flat%20for%20sale%20resale%20in%20Park%20Titanium,%20Park%20Street%20Wakad%20Pune%20Pride%20Purple%20Group%20Call%20Jaidev%209527289192&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 550, y: 480}}">Send Enquiry</a>
                                 <a class="btn btn-info" href="/index.php?view=Default&amp;layout=prop-contact&amp;id=36&amp;option=com_realestate&amp;Itemid=536" rel="{size: {x: 400, y: 380}}">Contact</a>
                              </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        </div>
        </div>





<nav>
  <ul class="pagination">
    <li>
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li>
      <a href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>



</div> <!-- Main Component -->
                
                                
            </div>