<h3>Builder Details</h3>{{project.builder|json}}	
<div class="form-group">
	<label for="builderName" class="col-sm-2 control-label">* &nbsp Builder Name</label>
	<div class="col-sm-9">
			<input type="text"  class="form-control" id="builderName" name="builderName" ng-model="project.builder.builder_name" required>
			<span class="text-danger" ng-show="addProject.builderName.$dirty && addProject.builderName.$invalid">
				<span ng-show="addProject.builderName.$error.required">Builder name is required .</span>
		</span>
	</div>	
</div>
<div class="form-group">
	<label for="builderLogo" class="col-sm-2 control-label">* &nbsp Builder  Logo</label>
	<div class="col-sm-9">
		<!-- This is file input for select images -->
		<input type="file" id="builderLogo" ng-file-select  accept="image/*" ng-file-change="generateThumb($files)" ng-model="builderLogo" ng-multiple="false">
		
		<!-- This will show thumbnails & progress of images -->
		<file-preview url="builderLogo" ></file-preview>
		
		<!-- This button will show if file/s selected -->
		<button ng-show="builderLogo" ng-click="upload(builderLogo,path,userinfo)" type="button">Upload</button>
		<input type="hidden" ng-model="project.builder.builder_logo">
	</div>	
</div>		
<div class="form-group">
	<label for="OwnerName" class="col-sm-2 control-label">* &nbsp Owner Name</label>
	<div class="col-sm-9">
			<input type="text"  class="form-control" id="OwnerName" name="OwnerName" ng-model="project.builder.Owner_name" required>
			<span class="text-danger" ng-show="addProject.OwnerName.$dirty && addProject.OwnerName.$invalid">
				<span ng-show="addProject.OwnerName.$error.required">Builder name is required .</span>
		</span>
	</div>	
</div>
<div class="form-group">
	<label for="ownerLogo" class="col-sm-2 control-label">* &nbsp Owner  Logo</label>
	<div class="col-sm-9">
		<!-- This is file input for select images -->
		<input type="file" id="ownerLogo" ng-file-select  accept="image/*" ng-file-change="generateThumb($files)" ng-model="ownerLogo" ng-multiple="false">
		
		<!-- This will show thumbnails & progress of images -->
		<file-preview url="ownerLogo" ng-model="project.builder.Owner_logo"></file-preview>
		
		<!-- This button will show if file/s selected -->
		<button ng-show="ownerLogo" ng-click="upload(ownerLogo,path,userinfo)" type="button">Upload</button>
		<input type="hidden" ng-model="project.builder.Owner_logo">
	</div>	
</div>		