<div class="row">		
	<div class="col-md-12 main-content">	
		<div class="row breadcrumb-back">
			<div class="col-md-10" ng-include="'modules/component/breadcrumb.html'"></div>
			<div class="col-md-2" ng-include="'modules/component/menu-back.html'"></div>
		</div>
		<div class="row">
			<div class="col-md-12 text-right website-menu">
				<a href="#websites" title="View all websites list" class="btn btn-default">Website List</a>
				<a href="#websites/requestnewsite" title="You can request for new site " class="btn btn-default">Request New Site</a>
				<a href="#websites/requestedsitelist" title="View requested site list" class="btn btn-default">Requested Site List</a>
			</div>
		</div>	
        <div class="row">
		  <div class="col-md-12">	
			<h3 class="text-center"> Request For New Website</h3>
				<form name="myForm" class="form-horizontal" role="form" novalidate>					
					<div class="form-group">
						<label  for="name" class="col-md-3 control-label"> New Site Name:</label>		
						<div class="col-md-9">
                            <input type="text" id="name" class="form-control" name="name" placeholder="Name" ng-model="name" required >
							<span style="color:red" ng-show="myForm.name.$dirty && myForm.name.$invalid">
								<span ng-show="myForm.name.$error.required">Name is required:</span>
							</span>
                        </div>						
                    </div>				
					<div class="form-group">	
						<label  for="domain" class="col-md-3 control-label">Domain Name:</label>
						<div class="col-md-9">
                            <input type="text" id="domain" class="form-control" name="domain" placeholder="Domain Name" ng-model="domain" required>
							<span style="color:red" ng-show="myForm.domain.$dirty && myForm.domain.$invalid">
								<span ng-show="myForm.domain.$error.required">Domain Name is required:</span>
							</span>
                        </div>						
                    </div>									
					<div class="form-group">	
						<label  for="contact" class="col-md-3 control-label">Contact Number:</label>	
						<div class="col-md-9">
                            <input type="text" id="contact" class="form-control" name="contact" placeholder="Contact" ng-model="contact" required >
							<span style="color:red" ng-show="myForm.contact.$dirty && myForm.contact.$invalid">
								<span ng-show="myForm.contact.$error.required">Contact is required:</span>
							</span>
                        </div>						
                    </div>						
					<div class="form-group">
						<label  for="product" class="col-md-3 control-label">Product/Services:</label>	
						<div class="col-md-9">
                            <textarea  class="form-control" id="product" ng-model="product" name="product" placeholder="Product/Services" required></textarea>
							<span style="color:red" ng-show="myForm.product.$dirty && myForm.product.$invalid">
								<span ng-show="myForm.product.$error.required">Product/Services is Required:</span>
							</span>
                        </div>						
                    </div>						
					<div class="form-group">
						<label for="custom" class="col-md-3 control-label pull-left">Required Custom:</label>
						<div class="col-md-9">
							<label class="radio-inline">
							  <input type="radio" name="custom" id="Yes" value="Yes" checked> Yes
							</label>
							<label class="radio-inline">
							  <input type="radio" name="custom" id="No" value="No">No
							</label>
												
						</div>
					</div>				
	              	<div class="form-group"> 
						<div class="col-sm-offset-5 col-sm-7">
						  <button type="submit" name="submit " class="btn btn-primary">Add New Site</button>
						  <button type="reset" name="reset" class="btn btn-danger">Cancel</button>
						  
						  
						</div>
					</div>					
				</form>
			</div>
        </div>
	</div>	
</div>
