<div class="row ">
	 <div class="col-sm-3"> 
		<label for="search" class="control-label">Search </label>		
		<input id="search" type="text" class="form-control" ng-model="searchProp" placeholder="search"/>
	</div>			 				  
	 <div class="col-sm-3">
		<label for="id" class="control-label">Sort by Order</label>
		<select id="id" class="form-control" ng-model="id"> 
			<option value="">Select Order</option>		<!-- added value & selected attr -->	
			<option value="-domain_name">Desending</option>
			<option value="domain_name">Asending</option>  
		</select>
	</div>
	<div class="col-sm-3">
		<label for="status" class="control-label">Select Status</label>
		<select id="status" class="form-control" ng-model="status">
			<option value="" selected>Select Status</option> <!-- add value attribute empty & selected for initial selected option -->
			<option value="1">In Progress</option>
			<option value="2">Approved</option>
			<option value="3">Pending</option>
			<option value="4">Rejected</option> 
		</select>
	</div>
	
	<div class="col-sm-3">
			<label for="website" class="control-label">Select Site</label>
			<select id="website" class="form-control" name="website" ng-model="website">            
				<option value="">All</option>
				<option value="www.jaidevlandmarks.com">www.jaidevlandmarks.com</option>  
				<option value="www.hinjewadiproperties.com">www.hinjewadiproperties.com</option>  
				
			</select>
	</div>
</div>	

<div class="row">
	<div class="col-sm-12 ">
	<h3 > Requested Website Details</h3>
		<div class="table-responsive">
			<table class="table table-hover table-bordered">
				<thead>
					<th>Sr.No.</th>
					<th>WebSite Names</th>
					<th>Start Date</th>
					<th>Expiry Date</th>
					<th>Status</th>
					<th>Manage Site</th>
				</thead>
				<tbody>
					<tr ng-repeat="x in website | orderBy:id">
						<td>{{((reqestSiteCurrentPage - 1) * pageItems) + $index + 1 }}</td>
						<td>{{x.domain_name}}</td>
						<td>{{x.registered_date}}</td>
						<td>{{x.expiry_date}}</td>
						<td>{{x.status}}</td>
						<td>
							<a href="#"  class="glyphicon glyphicon-pencil btn btn-success" aria-hidden="true" tooltip-position="top" tooltip="Edit Requested Sites"></a>
							<a href="#"  class="glyphicon glyphicon-trash btn btn-danger" aria-hidden="true" tooltip-position="top" tooltip="Delete Site"></a>
						</td>
					</tr>
				</tbody>					
			</table>
		</div>
	
	<div class="text-center">
		<pagination total-items="totalRecords" items-per-page="pageItems"  ng-model="reqestSiteCurrentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged(reqestSiteCurrentPage,featured)"></pagination>
		<pre>Page: {{reqestSiteCurrentPage}} / {{numPages}}</pre>
	</div>	
</div>	
	
</div>


