<div class="row ">		
	<div class="col-sm-12 ">	
		<div class="main-content">
			<ng-include src="'modules/component/toolbar.html'"></ng-include>
			<div class="text-right bottom-space">
				
					<a href="#/dashboard/websites/" class="btn btn-default">Website List</a>
					<a href="#/dashboard/websites/requestnewsite" class="btn btn-default">Request New WebSite</a>
					<a href="#/dashboard/websites/requestedsitelist" class="btn btn-default">Requested Website List</a>
				
			</div>
			<div class="row">
				<div class="col-sm-12">
					<ng-include ng-if="webPart=='mywebsites'" src="'modules/websites/mywebsites.html'"></ng-include>
					<ng-include ng-if="webPart=='requestnewsite'" src="'modules/websites/requestnewsite.html'"></ng-include>
					<ng-include ng-if="webPart=='requestedsitelist'" src="'modules/websites/requestedsitelist.html'"></ng-include>
				</div>
			</div>
		</div>
	</div>
</div>