<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
    Sai
    <span><img src="img/user1.png" class="img-responsive img-circle pull-right im1 "></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/editprofile">
								<span class="glyphicon glyphicon-pencil"></span> Edit Profile
							</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#/changepass">
								<span class="glyphicon glyphicon-pencil"></span>Change Password
							</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#"> 
							<span class="glyphicon glyphicon-off"></span> Sign Out
							</a></li>
  </ul>
</div>