<div class="innernav">
	<ul class="nav nav-pills">
	<li role="presentation" dropdown>
		<a class="dropdown-toggle" data-target="#" role="button" aria-expanded="false" dropdown-toggle>
		My Responses<span class="caret"></span>
		</a>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#/response/property/all" title="Property sale/Rent out">Property sale/Rent Out</a></li>
			<li><a href="#/response/web/all" title="Website queries">Website Queries</a></li>
			<li><a href="#/response/project/all" title="Projects Enquiry">Projects Enquiry</a></li>
		</ul>
	</li>
	<li role="presentation" dropdown>
		<a class="dropdown-toggle" data-target="#" role="button" aria-expanded="false" dropdown-toggle>
		 My Property<span class="caret"></span>
		</a>
		<ul class="dropdown-menu" role="menu">
			<li><a href="#/addproperty" title="Add property">Add Property</a></li>
			<li><a href="#/property" title="View property">View Property</a></li>
			<li><a href="#/addproject" title="Add projects">Add Projects</a></li>
			<li><a href="#/project" title="Manage Projects">Manage Projects</a></li>
		</ul>
	</li>
	<li role="presentation" dropdown>
		<a class="dropdown-toggle" title="My profile" role="button" dropdown-toggle>
		  My Profile <span class="caret"></span>
		</a>
		<ul class="dropdown-menu" role="menu">
			<!--<li><a href="#/register/edit">Edit Profile/Contacts</a></li>-->
			<li><a href="#/editprofile" title="Edit profile/contact">Edit Profile/Contacts</a></li>
			<li><a href="#/" title="View all sites">View All Sites</a></li>
			<li><a href="#" title="Request for new sites">Request For New Sites</a></li>
			<li><a href="#/login" title="Logout">Logout</a></li>
		</ul>
	</li>
			  
	</ul>
</div>
