
<div class="btn-toolbar pull-right toolbar" role="toolbar">
	<div class="btn-group" role="group" aria-label="goBack" title="Go to previous page">
		<a title="Go Back" class="btn btn-primary" type="button" tooltip-placement="top" tooltip="Go Back!" go-back>
		<span class="glyphicon glyphicon glyphicon-arrow-left">
		</span>
		</a>
	</div>
	<div class="btn-group " role="group" aria-label="" dropdown title="Site main menu">
      <a class="btn btn-primary dropdown-toggle" dropdown-toggle ng-disabled="disabled" tooltip-placement="top" tooltip="Menu!">
         <span title="Menu" class="glyphicon glyphicon-th-large dropdown-toggle"></span>
      </a>
		<ul class="dropdown-menu" role="menu"  aria-labelledby="dropdownMenuDivider">
            <li  class="dropdown-header"> Responses</li>
			<li class="divider" role="presentation"></li>
			
			<li><a href="#/response/property/all" title="Property sale/Rent Out">Property Enquiry</a></li>
			<li><a href="#/response/web/all" title="Website Queries">Website Enquiry</a></li>
			<li><a href="#/response/project/all" title="Projects Enquiry">Projects Enquiry</a></li>
				
			<li class="divider"></li>
            <li  class="dropdown-header">Property</li>
	
			<li><a href="#/dashboard/property/addproperty" title="Add property">Add Property</a></li>
			<li><a href="#/dashboard/property" title="View property">Manage Property</a></li>
			<li class="divider"></li>
			<li  class="dropdown-header">Project</li>
			
			<li><a href="#/dashboard/project/addproject" title="Add projects">Add Projects</a></li>
			<li><a href="#/dashboard/project" title="Manage projects">Manage Projects</a></li>
		</ul>
	</div>
</div>