
<div class="row dashboard-menu ">
	<div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
		<div class="gridblock ">
			<h4>Mailbox</h4>
			<a  class="btn btn-primary btn1" name="btn1" href="#/dashboard/response" title="Mailbox">Mailbox</a>
		</div>
	</div>				
	<div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
		<div class="gridblock">
			<h4>Property</h4>
			<a  class="btn btn-primary btn1" name="btn1" href="#/dashboard/property" title="Property"> Property</a>
		</div>
	</div>
	<div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
		<div class="gridblock">
			<h4>Project</h4>
			<a  class="btn btn-primary btn1" name="btn1" href="#/dashboard/project" title="Project">Project</a>
		</div>
	</div>
	<div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
		<div class="gridblock">
			<h4>Websites</h4>
			<a  class="btn btn-primary btn1" name="btn1" href="#/dashboard/websites" title="Websites">Websites</a>
		</div>
	</div>	
	<div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
		<div class="gridblock">
			<h4>Template Manages</h4>
			<a  class="btn btn-primary btn1" name="btn1" href="#/dashboard/templates" title="Template Manages">Template Manages</a>
		</div>	
	</div>	
	<div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
		<div class="gridblock">
			<h4>Manage User</h4>
			<a class="btn btn-primary btn1" name="btn1" href="#/dashboard/users/userslist" title="Template Manages">Manage User</a>
		</div>	
	</div>	
</div>
