<div class="row">
			 <div class="col-md-3"> 
				<label class="control-label">Search </label>		
				<input class="form-control ng-pristine ng-valid" ng-model="searchProp" placeholder="search" title="Search" type="text">
			</div>			 				  
			 <div class="col-md-3">
				<label for="sort" class="control-label">Sort by Order</label>
				<select id="sort" class="form-control ng-pristine ng-valid" ng-model="id" title="Select order"> 
					<option value="">Select Order</option>		<!-- added value & selected attr -->	
					<option value="-id">Desending</option>
					<option value="id">Asending</option>  
				</select>
			</div>
			<div class="col-md-3">
				<label for="Status" class="control-label">Select Status</label>
				<select id="Status" class="form-control ng-pristine ng-valid" ng-model="status" title="Status">
					<option value="" selected="">Select Status</option> <!-- add value attribute empty & selected for initial selected option -->
					<option value="1">Active</option>
					<option value="0">Deleted</option>   
				</select>
			</div>
			<div class="col-md-3">
				<label for="Template Type" class="control-label">Template Type</label>
				<select id="Template Type" class="form-control ng-pristine ng-valid" ng-model="T_type" title="Select type">
					<option value="" selected="">Select Template</option> <!-- add value attribute empty & selected for initial selected option -->
					<option value="free">Free</option>
					<option value="buy">Buy</option>   
				</select>
			</div>				
		</div>			