<div class="col-md-12 border-bottom toolcolor">
	<ol class="breadcrumb pull-left toolcolor">
		<li><a href="#">Dashboard</a></li>
		<li class="active">My Bussiness</li>
		<li class="active">Add New Bussiness</li>
		<li class="active">Home</li>
	</ol>
	<div class="pull-right toolbar">
				<button class="btn btn-primary" type="button"><span class="glyphicon glyphicon glyphicon-arrow-left iconback" title="Back"></span></button>
					<a class="btn btn-primary">
						<span class="glyphicon glyphicon-th-large dropdown-toggle iconback" data-toggle="dropdown" aria-expanded="false"></span>
						<ul class="dropdown-menu" role="menu">
							<li><a href="#" title="New tab">New Tab</a></li>
							<li><a href="#" title="New window">New Window</a></li>
							<li><a href="#" title="History">History</a></li>
							<li><a href="#" title="Recent tab">Recent Tab</a></li>
							<li><a href="#" title="Zoom">Zoom</a></li>
							<li><a href="#" title="Find">Find</a></li>
							<li><a href="#" title="Exit">Exit</a></li>
						</ul>
					</a>
	</div>
</div>
			